﻿

@{
    ViewBag.Title = "IssuesInGE";
}




@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<style>
    /*.fb_iframe_widget span:first-child{
        float:right !important;
        margin-right:25%;
    }*/
    .about-us-col {
        height: auto;
    }

    .demo-container .footer-container {
        background: #115c9b;
    }

    .padding-a {
        margin-left: 20px;
        margin-bottom: 30px;
    }

    .box-container {
        padding: 2%;
        background: Lavender;
        display: inline-block;
    }

    .paragraph {
        min-height: 90px;
    }

    .setwidth {
        width: 80%;
    }

    para {
        font-family: Calibri;
        font-size: 18px;
        min-height: 90px;
    }

    #demos {
        background-color: #eee;
    }

        #demos .container {
            background-color: transparent;
            box-shadow: none;
        }

    .container {
        padding: 0;
    }

    container, .container-fluid {
        margin-right: auto;
        margin-left: auto;
    }

    #demos .row {
        background-color: transparent;
    }

    .row > .title {
        background-color: transparent;
        color: #3A3A4F;
    }

        .row > .title > h2 {
            margin: 10px 0 0;
            text-transform: none;
            font-weight: 500;
            padding-bottom: 5px;
            border-bottom: 2px solid #D4D4DE;
        }

    .demo {
        margin: 20px 0;
    }

    .demo, h1 {
        text-align: center;
    }

        .demo a {
            font-weight: lighter;
            color: #fff;
        }

    .demo-container:hover {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
    }

    .demo-container {
        background: #f9f9f9;
        box-shadow: 0 3px 4px #ddd;
        position: relative;
        transition: transform .2s ease-in-out;
        -webkit-transition: -webkit-transform .2s ease-in-out;
        -moz-transition: -moz-transform .2s ease-in-out;
        -ms-transition: -ms-transform .2s ease-in-out;
    }

    .image-container {
        height: 250px;
        max-height: 250px;
        padding-top: 16px;
    padding-right: 8px;
    padding-bottom: 15px;
    padding-left: 8px;
        background-color: #fff;
        font: 0/0 a;
    }

        .image-container img, .image-container svg {
            display: inline-block;
            vertical-align: middle;
            max-width: 100%;
            max-height: 100%;
            border-radius: 0;
                padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
            background: 0;
            position: inherit !important;
        }

    .img-thumbnail {
        border: 0;
    }

    .demo-container .footer-container {
        border-top: 1px solid #EDEDED;
    }

    .demo .demo-container:hover h3 {
        color: #58BB45;
    }

    /*.demo h3 {
        text-transform: none;
        color: #6B6FCE;
        font-size: 16px;
        font-weight: 700;
        transition: color .2s ease-in-out;
        -webkit-transition: color .2s ease-in-out;
        -moz-transition: color .2s ease-in-out;
        -ms-transition: color .2s ease-in-out;
    }*/
    /*
        new css
    */
    .title-style-1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 26px;
        margin-bottom: 20px;
    }
</style>
@*-----------------------------------------------------------------------------
                      Facebook like and share button script
    -----------------------------------------------------------------------------*@
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<script src="~/Scripts/Chart.min.js"></script>
@*<link href="~/Content/bootstrap3.2.0.min.css" rel="stylesheet" />*@

<link href="~/Content/PopUpWindow.css" rel="stylesheet" />
<div class="clear"></div>
<div></div><br />
<div class="container padding1">
    <h2 class="title-style-1"><strong>Want to be part of the solution that will directly impact your community? </strong><span class="title-under"></span></h2>
    <p style="font-style: italic;text-align: center; font-size:18px">
        <strong> Select from the different issues in Glen Eira and make it impact on your community.</strong>
</p>
</div>


<div id="demos" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 default">
    <div class="container" style="width: 100%;">

        <div class="row">
            @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 title">
                    <h2 id="general">There is high demand for volunteers for the below-listed domain. You can click on the domain to see the statistic, fact, and volunteer.</h2>
                </div>*@
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 demo about-us-col">
                <h3 class="col-title"><strong>Charities assisting senior citizens</strong></h3>
                <div class="demo-container col-details">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image-container">
                        <img class="lazy img-thumbnail" alt="Age people" src="~/Images/Volunteer/Aged.jpg" style="">
                    </div>
                    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-container"><h3> <br><br></h3></div>*@

                    <div class="clearfix"></div>
                </div>
                <button id="myBtn" class="btn btn-primary">Click to find out more</button>

                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>


                        <div class="boxes box-container" style="background-color:whitesmoke;">
                            <div class="secondbox padding-a setwidth">
                                @*<a class="secondbox padding-a setwidth" href='@Url.Action("Category","Donation",new { Category=3})'>*@

                                <div class="heightfix">
                                    <div class="boxspacer">&nbsp;</div>
                                    <div class="para" style="color:black">
                                        <h2>Lets rethink the way we care for seniors.</h2>
                                        <div id="chart_conatiner">
                                            <canvas id="bar_chart" width="500" height="300" class="chartjs-render-monitor" style="display: block; width: 100px; height:300px;"></canvas>
                                        </div>

                                    </div>
                                </div>
                                <div class="heightfix">
                                    <div class="boxspacer">&nbsp;</div>
                                    <div class="boxtext">
                                        <h2 style="color:black">Care for senior citizens.</h2>

                                        <div class="para" style="font-family:Arial; font-size:16px;">
                                            There are many different ways to care for elderly, whether by caring for them in the comfort of their own homes or assisting their adjustment to supported care.
                                        </div>
                                        <div><br /><br /></div>

                                        <form method="post" id="signin" action='@Url.Action("Category","Donation",new { Category=5})'>
                                            <button id="SeniorBtn" class="btn btn-primary">Search Charities Working For Aged People</button>
                                        </form>
                                    </div>

                                </div>

                            </div>
                            @* </a>

                                @*<a class="secondbox padding-a setwidth" href='@Url.Action("Category","Donation",new { Category=3})'>*@

                            @*   </a>*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 demo about-us-col">
                <h3 class="col-title"><strong>Charities assisting disabled people</strong></h3>
                <div class="demo-container col-details">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image-container">
                        <img class="lazy img-thumbnail" alt="Disability" src="~/Images/Volunteer/Disable.jpg" style="">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <button id="myBtn1" class="btn btn-primary">Click to find out more</button>

                <div id="myModal1" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>



                        <div class="boxes box-container" style="background-color:whitesmoke;">
                            <div class="secondbox padding-a setwidth">
                                <div class="heightfix">
                                    <div class="boxspacer">&nbsp;</div>
                                    <div class="boxtext" style="color:black">
                                        <h2>Let physically disabled people know that you genuinely care for them.</h2>
                                        <div id="chart_conatiner">
                                            <canvas id="bar_chart1" height="300" width="300" class="chartjs-render-monitor" style="display: block; width: 100px; height:300px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="heightfix">
                                    <div class="boxspacer">&nbsp;</div>
                                    <div class="boxtext">
                                        <h2 style="color:black">Care for people living with a disability.</h2>


                                        <div class="para" style="font-family:Arial; font-size:16px;">
                                            It can be hard for people living with disabilities to manage the day to day task and household chores. This graph represents that  94,325 were looking for volunteers
                                            like you to assist them. It's never too late to make a contribution
                                            </div>
                                        <div><br /><br /></div>
                                        @* <button id="myBtn1" >"Click here to find Charities working for aged people"</button> *@
                                        <form method="post" id="signin" action='@Url.Action("Category","Donation",new { Category=3})'>
                                            <button id="DisabledBtn" class="btn btn-primary">Search Charities Working For Disabled People</button>
                                        </form>
                                    </div>

                                </div>
                            </div>


                            @*<a class="secondbox padding-a setwidth" href='@Url.Action("Category","Donation",new { Category=3})'>*@

                            
                            @*   </a>*@
                        </div>
                    </div>
                </div>

            </div>
            

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 demo about-us-col">
                <h3 class="col-title"><strong>Charities assisting children's education.</strong></h3>
                <div class="demo-container col-details">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image-container">
                        <img class="lazy img-thumbnail" alt="Child" src="~/Images/Volunteer/child.jpg" style="">
                    </div>

                    <div class="clearfix"></div>
                </div>
                <button id="myBtn2" class="btn btn-primary">Click to find out more</button>
                <div id="myModal2" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>



                        <div class="boxes box-container" style="background-color:whitesmoke;">
                            <div class="secondbox padding-a setwidth">
                                <div class="heightfix">
                                    <div class="boxspacer">&nbsp;</div>
                                    <div class="boxtext" >
                                        <h2 style="color:black">Show that education is important for all children.</h2>
                                        <div id="chart_conatiner">
                                            <canvas id="bar_chart2" height="300" width="300" class="chartjs-render-monitor" style="display: block; width: 100px; height:300px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="heightfix">
                                    <div class="boxspacer">&nbsp;</div>
                                    <div class="boxtext">
                                        <h2 style="color:black">Help children's to unlock their full potential through education.</h2>


                                        <div class="para" style="font-family:Arial; font-size:16px;">

                                            Education is the road that children follow to reach their full potential in life. Yet many children in need around the world do not get a quality education where they can learn and develop. You can help to guide them down this road so they are get the best start to life.
                                        </div>
                                        <div><br /><br /></div>
                                        @* <button id="myBtn1" >"Click here to find Charities working for aged people"</button> *@
                                        <form method="post" id="signin" action='@Url.Action("Category","Donation",new { Category=8})'>
                                            <button id="EduBtn" class="btn btn-primary">Search Charities Working To Enhance Eduction</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 demo about-us-col">
                <h3 class="col-title"><strong>Charities assisting your community</strong></h3>
                <div class="demo-container col-details">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image-container">
                        <img class="lazy img-thumbnail" alt="Distribution map" src="~/Images/Volunteer/Teach 1.jpg" style="">
                    </div>

                    <div class="clearfix"></div>
                </div>
                <button id="myBtn3" class="btn btn-primary">Click to find out more</button>
                <div id="myModal3" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>


                        <div class="boxes box-container">
                            <div class="secondbox padding-a setwidth">
                                <div class="heightfix">
                                    <div class="boxspacer">&nbsp;</div>
                                    <div class="boxtext">
                                        <h2 style="color:black">Neighbours are our Neighbours</h2>

                                        <div id="chart_conatiner"><canvas id="bar_chart3" height="300" width="300" class="chartjs-render-monitor" style="display: block; width: 100px; height:300px;"></canvas></div>
                                    </div>
                                </div>
                                <div class="heightfix">
                                    <div class="boxspacer">&nbsp;</div>
                                    <div class="boxtext">
                                        <h2 style="color:black">Care for people in your community.</h2>

                                        <div class="para">

                                            Many new migrants struggle with a lot for finding their feet in the Australian community. One of the reasons is their proficiency in English. You have an opportunity to teach English and help them to settle in Australia. In return, you will gain insights into other cultures and acquire valuable experience and skills. So what are you waiting for?  </div>
                                        <div><br /><br /></div>
                                        @* <button id="myBtn1" >"Click here to find Charities working for aged people"</button> *@
                                        <form method="post" id="signin" action='@Url.Action("Category","Donation",new { Category=6})'>
                                            <button id="CommunityBtn" class="btn btn-primary">Search Charities Working For Community Development</button>
                                        </form>
                                    </div>

                                </div>
                            </div>


                            @*<a class="secondbox padding-a setwidth" href='@Url.Action("Category","Donation",new { Category=3})'>*@

                            
                            @*   </a>*@
                        </div>
                    </div>
                </div>



            </div>
            <div class="clearfix visible-sm visible-xs"></div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 demo about-us-col">
                <h3 class="col-title"><strong>Charities assisting to childcare</strong></h3>
                <div class="demo-container col-details">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image-container">
                        <img class="lazy img-thumbnail" alt="Child bully" src="~/Images/Volunteer/stress.jpg" style="">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <button id="myBtn4" class="btn btn-primary">Click to find out more</button>

                <div id="myModal4" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content" >
                        <span class="close">&times;</span>



                        <div class="boxes box-container" style="background-color:whitesmoke;">
                            <div class="secondbox padding-a setwidth">
                                <div class="heightfix" >
                                    <div class="boxspacer">&nbsp;</div>
                                    <div class="boxtext" >
                                        <h2 style="color:black">Today's child is tomorrow's future</h2>
                                        <div id="chart_conatiner">
                                            <canvas id="bar_chart4" width="500" height="300" class="chartjs-render-monitor" style="display: block; width: 100px; height:300px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            @*<a class="secondbox padding-a setwidth" href='@Url.Action("Category","Donation",new { Category=3})'>*@

                            <div class="heightfix" >
                                <div class="boxspacer">&nbsp;</div>
                                <div class="boxtext" >
                                    <h2 style="color:black">Every child deserves a childhood</h2>


                                    <div class="para" style="font-family:Arial; font-size:16px;">

                                        The importance of childcare has grown over the years. It's our responsibility to make sure we have a positive influence on children's development by providing valuable educational and social experiences. Unfortunately, approximately 64% of Glen Eira people never offered to provide a child care for others.However, 6% of the Glen Eira population do offer childcare for others child. 
                                        Let's promote caring and supportive environments covering all aspects of child development.
                                    </div>
                                    <div><br /><br /></div>
                                    @* <button id="myBtn1" >"Click here to find Charities working for aged people"</button> *@
                                    <form method="post" id="signin" action='@Url.Action("Category","Donation",new { Category=10})'>
                                        <button id="ChildcareBtn" class="btn btn-primary">Search Charities Working For Childcare</button>
                                    </form>
                                </div>

                            </div>
                            @*   </a>*@
                        </div>
                    </div>
                </div>


            </div>

            <div class="clearfix visible-sm visible-xs"></div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 demo about-us-col" style="height:448px">
                <h3 class="col-title"><strong></strong></h3>
              
               
                <div id="myModal4" class="modal">

         


            </div>
        </div>


    </div>
</div>
@*-----------------------------------------------------------------------------
                      Facebook like and share button logic
    -----------------------------------------------------------------------------*@
<div class="clearfix"></div>
<br />

<div class="row">
    <div class="col-md-4 col-sm-4"></div>
    <div class="fb-like col-md-4 col-sm-4" data-href="http://realheroes.tk/ACNC/Volunteer"
         data-layout="standard" data-action="like" data-size="small"
         data-show-faces="true" data-share="true">
    </div>
    <div class="col-md-4 col-sm-4">

    </div>

</div>
<br />
<br />
<script>


    // Get the modal
    var modal = document.getElementById('myModal');
    var modal1 = document.getElementById('myModal1');
    var modal2 = document.getElementById('myModal2');
    var modal3 = document.getElementById('myModal3');
    var modal4 = document.getElementById('myModal4');
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    var mybtn1 = document.getElementById("myBtn1");
    var mybtn2 = document.getElementById("myBtn2");
    var mybtn3 = document.getElementById("myBtn3");
    var mybtn4 = document.getElementById("myBtn4");
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    var span1 = document.getElementsByClassName("close")[1];
    var span2 = document.getElementsByClassName("close")[2];
    var span3 = document.getElementsByClassName("close")[3];
    var span4 = document.getElementsByClassName("close")[4];
    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
        var ctx3 = document.getElementById("bar_chart").getContext("2d");
        window.myBar = new Chart(ctx3,
            {
                type: 'bar',
                data: barChartData,
                options:
                {
                    title:
                    {
                        display: true,
                        text: "Aged People Count (Age >= 70 )"
                    },
                    scales: {
                        xAxes: [{
                            barThickness: 80
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
    }
    mybtn1.onclick = function () {
        modal1.style.display = "block";
        var ctx2 = document.getElementById("bar_chart1").getContext("2d");
        window.myBar = new Chart(ctx2,
            {
                type: 'bar',
                data: barChartData1,
                options:
                {
                    title:
                    {
                        display: true,
                        text: "Number of no unpaid assistance provided to disabled people."
                    },
                    scales: {
                        xAxes: [{
                            barThickness: 80
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
    }
    mybtn2.onclick = function () {
        modal2.style.display = "block";
        var ctx5 = document.getElementById("bar_chart2").getContext("2d");
        window.myBar = new Chart(ctx5,
            {
                type: 'bar',
                data: barChartData5,
                options:
                {
                    title:
                    {
                        display: true,
                        text: "High school not completed"
                    },
                    scales: {
                        xAxes: [{
                            barThickness: 80
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
    }
    mybtn3.onclick = function () {
        modal3.style.display = "block";
        var ctx4 = document.getElementById("bar_chart3").getContext("2d");
        window.myBar = new Chart(ctx4,
            {
                type: 'bar',
                data: barChartData3,
                options:
                {
                    title:
                    {
                        display: true,
                        text: "Number of people cannot speak English very well"
                    },
                    scales: {
                        xAxes: [{
                            barThickness: 80
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
    }

    mybtn4.onclick = function () {
        modal4.style.display = "block";
        var ctx5 = document.getElementById("bar_chart4").getContext("2d");
        window.myBar = new Chart(ctx5,
            {
                type: 'bar',
                data: barChartData4,
                options:
                {
                    title:
                    {
                        display: true,
                        text: "Child care provided status"
                    },
                    scales: {
                        xAxes: [{
                            barThickness: 80
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";

    }
    span1.onclick = function () {
        modal1.style.display = "none";
    }
    span2.onclick = function () {
        modal2.style.display = "none";
    }
    span3.onclick = function () {
        modal3.style.display = "none";
    }
    span4.onclick = function () {
        modal4.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal | (event.target == modal1) | (event.target == modal2) | (event.target == modal3) | (event.target == modal4)) {
            modal.style.display = "none";
            modal1.style.display = "none";
            modal2.style.display = "none";
            modal3.style.display = "none";
            modal4.style.display = "none";
        }

    }
</script>
@*-------------------------------------------------------------------------------------------------------------
      Script to generate bar chart which represent number of old people in Glen Eira for year 2006,2011, and 2016
    -------------------------------------------------------------------------------------------------------------*@
<script>

    var barChartData3 =
           {
               labels: ['2006', '2011', '2016'],
               datasets: [{
                   label: 'Level of proficiency at english',
                   backgroundColor: [
                      "#aad2ed",
                      "#aad2ed",
                      "#aad2ed",


                   ],
                   borderWidth: 2,
                   data: [@ViewBag.CountEngSpeak_List]
               }]
           };
    var barChartData1 =
            {
                labels: [@Html.Raw(ViewBag.DAssistanceYear_List)],
                datasets: [{
                    label: 'Disability assistance',
                    backgroundColor: ["#aad2ed",
                    "#aad2ed",
                    "#aad2ed"],

                    borderWidth: 2,
                    data: [@ViewBag.CountDisabilityAssistance_List]
                }]
            };
    var barChartData =
            {
                labels: [@Html.Raw(ViewBag.Year_List)],
                datasets: [{
                    label: 'Number of senior citizens in Glen Eira',
                    backgroundColor: [
                        "#aad2ed",
                      "#aad2ed",
                      "#aad2ed",


                    ],
                    borderWidth: 2,
                    data: [@ViewBag.PeopleCount_List]
                }]
            };

    var barChartData4 =
        {
            labels: ['2006', '2011', '2016'],
            datasets: [{
                label: 'Number of people provided childcare to others child',
                backgroundColor: [
                      "#aad2ed",
                      "#aad2ed",
                      "#aad2ed",
                ],
                borderWidth: 2,
                data: [@ViewBag.CountChildAssistance_List]
            }]
        };
    var barChartData5 =
           {
               labels: ['2006', '2011', '2016'],
               datasets: [{
                   label: 'Number of people who have not completed high school',
                   backgroundColor: [
                      "#aad2ed",
                      "#aad2ed",
                      "#aad2ed",


                   ],
                   borderWidth: 2,
                   data: [@ViewBag.CountEducation]
               }]
           };
</script>

