﻿
<link href="~/Scripts/cn/general.css" rel="stylesheet" />
<link href="~/Scripts/cn/responsive.css" rel="stylesheet" />
<link href="~/Scripts/cn/style.css" rel="stylesheet" />

<div id="bodywrap">
    <div id="cn_body">

        <div id="cn_body_inner" class="body-container"

<div id="maincontent">
    <div id="maincontent2">


        <table width="100%" border="0" cellspacing="5" cellpadding="0" class="highlight-matches cn-disappear" style="border-spacing:10px !important;">
            <tbody>


         

                <tr class="search-tr ein-232822856" data-ein="232822856">



                    <td class="highlight-matches">
                        <div>
                            <h3 class="charity-name-desktop">
                                <a href="http://www.charitynavigator.org/index.cfm?bay=search.summary&amp;orgid=14731" onclick="return trackLinkClick('Search Result Click - Name', '', '1|232822856', event);">Charity name</a>
                            </h3>


                            <p class="tagline">[Charity activities and outcomes helped achieve charity purpose]</p>


                            <p class="category">


                                <strong>LOCATION:</strong>
                                Address of the charity, (Address line 1 + Address Line 2)
                                
                                <br>

                                <strong>CATEGORY:</strong> Arts, Culture, Humanities<br>

                                <strong>

                                    Main Activity:

                                </strong>: Main Activity from database
                                <br>
                                <strong>

                                    Staff volunteer:

                                </strong>: Staff volunteer
                                <span class="tagline">
                                    <span class="location">

                                    </span>
                                </span>
                            </p>
                        </div>
                    </td>

                    <td valign="middle" class="details-wrapper">

                    <th nowrap="nowrap" scope="row">
                        <a name="ein-232822856"></a>


                        <a href="https://www.charitynavigator.org/index.cfm?bay=my.donations.makedonation&amp;ein=232822856&amp;" onclick="ga('send', 'event', 'GivingBasket', 'DonateNow', 232822856);">
                            <button class="donate add-to-basket" data-ein="232822856" data-charity_name="The Abraham Lincoln Foundation">
                                Visit the Charity website
                            </button>
                        </a>


                        <br>
                        <br>

                        <a href="/my/charities/addchar.cfm?ein=232822856&amp;noModal=1&amp;after=%2Findex%2Ecfm%3Fbay%3Dsearch%2Eresults%26cgid%3D2%26cuid%3D6" class="addtomycharities" data-ein="232822856" data-charity_name="The Abraham Lincoln Foundation">
                            <button class="donate add-to-basket">
                                Click to know more
                            </button>
                        </a>

                        <div class="addtomycharitiesModal">

                            <div class="amcmodal-content">
                                <div class="close-accordian-div">
                                    <span class="close-x"></span>
                                </div>
                                <div class="amcmodal-text">
                                </div>
                            </div>

                        </div>


                        <br>


                    </th>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
</div>
</div>
    </div>
</div>
<div class="clear"></div>