﻿@using BuisnessEntities.Entities
@{
    ViewBag.Title = "chartData";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style>
    .padding-a {
        margin-left: 20px;
        margin-bottom: 30px;
    }

    .box-container {
        padding: 2%;
        background: Lavender;
        display: inline-block;
    }

    .paragraph {
        min-height: 90px;
    }

    .setwidth {
        width: 48%;
    }

    para {
        font-family: Calibri;
        font-size: 18px;
        min-height: 90px;
    }

    .img__description {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(29, 106, 154, 0.72);
        color: #fff;
        visibility: hidden;
        opacity: 0;
        /* transition effect. not necessary */
        transition: opacity .2s, visibility .2s;
    }

    .img__wrap:hover .img__description {
        visibility: visible;
        opacity: 5;
    }
</style>
<script src="~/Scripts/Chart.min.js"></script>

@*-----------------------------------------------------------------------------
                      Facebook like and share button script
    -----------------------------------------------------------------------------*@
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
@*-----------------------------------------------------------------------------
                         Main body of the page
    -----------------------------------------------------------------------------*@

<div class="topwrapper">
    <div class="aside">
        <div class="asidetext">
            <h1>Want to be part of cause that will directly impact your community?</h1>
            <p>
                RealHeroes will help to decide which organisation you can volunteer for to address local communities issue.
                Click the issue within the box to view charity organisation.
            </p>
        </div>
    </div>
</div>


<div class="boxes box-container">
    <a class="firstbox padding-a setwidth" href='@Url.Action("Category","Donation",new { Category=5})'>
        <div class="img__wrap">
            <div class="heightfix">
                <div class="boxspacer">&nbsp;</div>
                <div class="boxtext">
                    <h2>Lets rethink the way we care for seniors.</h2>
                    <div id="chart_conatiner">
                        <canvas id="bar_chart" width="300" height="300" class="chartjs-render-monitor" style="display: block; width: 100px; height:300px;"></canvas>
                    </div>
                    <div class="para">
                        <p class="img__description" align="left">
                            Did you know volunteers themselves can also benefit from volunteering to help our seniors in such selfless acts? Giving something meaningful back to our senior citizens makes for a worthwhile cause.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a class="secondbox padding-a setwidth" href='@Url.Action("Category","Donation",new { Category=3})'>
        <div class="img__wrap">
            <div class="heightfix">
                <div class="boxspacer">&nbsp;</div>
                <div class="boxtext">
                    <h2>Care for people living with a disability.</h2>
                    <div id="chart_conatiner">
                        <canvas id="Linecanvas" height="300" width="300" class="chartjs-render-monitor" style="display: block; width: 100px; height:300px;"></canvas>
                    </div>
                    
                    <div class="para">
                        <p class="img__description" align="left">
                            Its hard to manage household chores and day to day task for many disable people without your help.
                            The graph below repersent that 188,580 people were actually looking for volunteers like you to support them.
                            Its never too lates, lets see how can we help them.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a class="firstbox padding-a setwidth" href="@Url.Action("Donate","Donation")">
        <div class="img__wrap">
            <div class="heightfix">
                <div class="boxspacer">&nbsp;</div>
                <div class="boxtext">
                    <h2>Care by getting involved in handling refugee crisis.</h2>

                    <div id="chart_conatiner">
                        <canvas id="Doughnutcanvas" height="300" width="300" class="chartjs-render-monitor" style="display: block; width: 100px; height:300px;"></canvas>
                    </div>
                    <div class="para">
                        <p class="img__description" align="left">
                            Refugees deserve our care and support.It is very important to address the needs of refugees as they have lost everything
                            they had to whatever turbulence back in thier home country.They are the victim of the crisis, not the creator.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a class="secondbox padding-a setwidth" href='@Url.Action("Category","Donation",new { Category=8})'>
        <div class="img__wrap">
            <div class="heightfix">
                <div class="boxspacer">&nbsp;</div>
                <div class="boxtext">
                    <h2>Neighbours are our Neighbours</h2>

                    <div id="chart_conatiner"><canvas id="polarArea" height="300" width="300" class="chartjs-render-monitor" style="display: block; width: 100px; height:300px;"></canvas></div>
                </div>
                <div class="para">
                    <p class="img__description" align="left">
                        Many new migrants struggle a lot for finding their feet in Australian community. One of the reason is their proficiency at English.
                        You have an oppurtunity to teach english and help them to settle in Australia. In return, you will gain insights into other culture and
                        acquire valuble experince and skills. So what are you waiting for? Click now.
                    </p>
                </div>
            </div>
        </div>
    </a>
    <a class="firstbox padding-a setwidth" href='@Url.Action("Category","Donation",new { Category=6})'>        ">
        <div class="img__wrap">
            <div class="heightfix">
                <div class="boxspacer">&nbsp;</div>
                <div class="boxtext">
                    <h2>Today's child is tomorrow's future</h2>

                    <div id="chart_conatiner">
                    </div>
                    <div id="para">
                        <p class="img__description" align="left">
                            Importance of childcare has grown over the years. It's our responsibilty to make sure we have positive influence on children's development
                            by providing valuable eductional and social experiences. Unfortunatly  approximatley 64% of Glen Eira people never offered child care.However 6%
                            of Glen Eira population do offer child care for others child. Let's promote  caring and supportive envirnments coving all aspect
                            of child deveopment. Click here
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
@*-----------------------------------------------------------------------------
                      Facebook like and share button logic
    -----------------------------------------------------------------------------*@
<div class="clearfix"></div>
<div class="fb-like" data-href="http://realheroes.tk/ACNC/Volunteer"
     data-layout="standard" data-action="like" data-size="small"
     data-show-faces="true" data-share="true">
</div>

@*-------------------------------------------------------------------------------------------------------------
      Script to generate bar chart which represent number of old people in Glen Eira for year 2006,2011, and 2016
    -------------------------------------------------------------------------------------------------------------*@
<script>

    var DoughnutChartData =
           {
               labels: [@Html.Raw(ViewBag.EngYearList_List)],
               datasets: [{
                   label: 'Level of proficiency at english',
                   backgroundColor: [
                       "#f990a7",
                       "#aad2ed",
                       "#9966FF",

                   ],
                   borderWidth: 2,
                   data: [@ViewBag.CountEngSpeak_List]
               }]
           };
    var LineChartData =
            {
                labels: [@Html.Raw(ViewBag.DAssistanceYear_List)],
                datasets: [{
                    label: 'Disability assistance',
                    backgroundColor: "rgba(75,192,192,0.4)",
                    borderWidth: 2,
                    data: [@ViewBag.CountDisabilityAssistance_List]
                }]
            };
    var barChartData =
            {
                labels: [@Html.Raw(ViewBag.Year_List)],
                datasets: [{
                    label: 'Number of senior citizens in Glen Eira',
                    backgroundColor: [
                        "#f990a7",
                        "#f990a7",
                        "#f990a7"

                    ],
                    borderWidth: 2,
                    data: [@ViewBag.PeopleCount_List]
                }]
            };

    var barChartData2 =
            {
                labels: [@Html.Raw(ViewBag.CAssistanceYear_List)],
                datasets: [{
                    label: 'Childcare assistance provided',
                    backgroundColor: [
                        "#f990a7",
                        "#aad2ed",
                        "#9966FF",
                        "#99e5e5",
                        "#f7bd83",
                    ],
                    borderWidth: 2,
                    data: [@ViewBag.CountChildAssistance_List]
                }]
            };

    window.onload = function () {
        var ctx1 = document.getElementById("Doughnutcanvas").getContext("2d");
        window.myBar = new Chart(ctx1,
            {
                type: 'doughnut',
                data: DoughnutChartData,
                options:
                    {
                        title:
                        {
                            display: true,
                            text: "Level of proficency at English"
                        },
                        responsive: true,
                        maintainAspectRatio: false
                    }
            });

        var ctx2 = document.getElementById("Linecanvas").getContext("2d");
        window.myBar = new Chart(ctx2,
            {
                type: 'line',
                data: LineChartData,
                options:
                    {
                        title:
                        {
                            display: true,
                            text: "No unpaid assistance provided for disabled people."
                        },
                        scales: {

                            xAxes: [{
                                barThickness: 80
                            }],
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        },
                        responsive: true,
                        maintainAspectRatio: false
                    }
            });
        var ctx3 = document.getElementById("bar_chart").getContext("2d");
        window.myBar = new Chart(ctx3,
            {
                type: 'bar',
                data: barChartData,
                options:
                {
                    title:
                    {
                        display: true,
                        text: "Aged People Count (Age >= 70 )"
                    },
                    scales: {
                        xAxes: [{
                            barThickness: 80
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        var ctx4 = document.getElementById("polarArea").getContext("2d");
        window.myBar = new Chart(ctx4,
            {
                type: 'polarArea',
                data: barChartData2,
                options:
                {
                    title:
                    {
                        display: true,
                        text: "Aged People Count (Age >= 70 )"
                    },

                    responsive: true,
                    maintainAspectRatio: false
                }
            });
    }
</script>
