﻿@model BuisnessEntities.Entities.AOKModel
<div class="card" style="width: 50rem;">
    <img class="card-img-top" src="~/Images/AOK/@Model.ImagePath" alt="Card image cap" style="width:100%;">
    <div class="card-body">
        <h3 class="card-title" style="font-weight: bold">@Model.Task</h3>
        <p class="card-text" style="font-size:16px">@Model.Description</p>
        <p class="card-text"><small class="text-muted">Share with your friends</small></p>
    </div>
</div>
