﻿@model BuisnessEntities.Entities.AOKModel
@{
    ViewBag.Title = "AOK";
}
@*<link href="~/Content/site.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<style>
    .person-desc {
        margin-top:30px;
    }
    .padding-a {
        margin-left: 20px;
        margin-bottom: 30px;
    }

    .box-container {
        padding: 2%;
        background: Lavender;
        display: inline-block;
    }

    .paragraph {
        min-height: 90px;
    }

    .setwidth {
        width: 48%;
    }

    para {
        font-family: Calibri;
        font-size: 18px;
        min-height: 90px;
    }

    #demos {
        background-color: #eee;
    }

        #demos .container {
            background-color: transparent;
            box-shadow: none;
        }

    .container {
        padding: 0;
    }

    container, .container-fluid {
        margin-right: auto;
        margin-left: auto;
    }

    #demos .row {
        background-color: transparent;
    }

    .row > .title {
        background-color: transparent;
        color: #3A3A4F;
    }

        .row > .title > h2 {
            margin: 20px 0 0;
            text-transform: none;
            font-weight: 500;
            padding-bottom: 14px;
            border-bottom: 2px solid #D4D4DE;
        }

    .demo {
        margin: 20px 0;
    }

    .demo, h1 {
        text-align: center;
    }

        .demo a {
            font-weight: lighter;
            color: #fff;
        }

    .demo-container:hover {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
    }

    .demo-container {
        background: #f9f9f9;
        box-shadow: 0 3px 4px #ddd;
        position: relative;
        transition: transform .2s ease-in-out;
        -webkit-transition: -webkit-transform .2s ease-in-out;
        -moz-transition: -moz-transform .2s ease-in-out;
        -ms-transition: -ms-transform .2s ease-in-out;
    }

    .image-container {
        height: 250px;
        max-height: 250px;
        padding: 0;
        background-color: #fff;
        font: 0/0 a;
    }

        .image-container img, .image-container svg {
            display: inline-block;
            vertical-align: middle;
            max-width: 100%;
            max-height: 100%;
            border-radius: 0;
            padding: 0;
            background: 0;
            position: inherit !important;
        }

    .img-thumbnail {
        border: 0;
    }

    .demo-container .footer-container {
        border-top: 1px solid #EDEDED;
    }

    .demo .demo-container:hover h3 {
        color: #58BB45;
    }

    .demo h3 {
        text-transform: none;
        color: #6B6FCE;
        font-size: 16px;
        font-weight: 700;
        transition: color .2s ease-in-out;
        -webkit-transition: color .2s ease-in-out;
        -moz-transition: color .2s ease-in-out;
        -ms-transition: color .2s ease-in-out;
    }
    .title-style-1{
        margin-bottom:15px;
    }
</style>
<script src="~/Scripts/Chart.min.js"></script>
@*<link href="~/Content/bootstrap3.2.0.min.css" rel="stylesheet" />
<link href="~/Content/template.css" rel="stylesheet" />*@
<link href="~/Content/PopUpWindow.css" rel="stylesheet" />
<div class="clear"></div>

<div class="container">
    <h2 class="title-style-1"><strong>Do you know you have power to change someone's life for the better? </strong><span class="title-under"></span></h2>
    <p style="font-style: italic;text-align: -webkit-center;font-size:18px">
        Kindness is cyclical and you too bring yourself joy in practicing random acts of kindness. Lets find out what we have for you today.
    </p>
</div>
<br/><br/>

 <div class="container padding1">   
    
 </div>
    <div class="fusion-fullwidth fullwidth-box nonhundred-percent-fullwidth" style="background-color: rgba(255,255,255,0);background-position: left top;background-repeat: no-repeat;padding-top:20px;padding-right:0px;padding-bottom:20px;padding-left:0px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:;border-bottom-style:;">
        <div class="fusion-builder-row fusion-row">
            <div class="row">
                <div class="col-md-3 col-sm-6 about-us-col">
                    <div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_4 fusion-one-fourth fusion-column-first 1_4" style="margin-top:0px;margin-bottom:20px; margin-right: 4%;">
                    <div class="fusion-column-wrapper" data-bg-url="" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
                    <div class="fusion-person person fusion-person-center fusion-person-icon-bottom">
                        <a id="myBtn">
                            <div class="person-shortcode-image-wrapper">
                                <div class="person-image-container hover-type-zoomin" style="-webkit-border-radius:200px;-moz-border-radius:200px;border-radius:200px;">
                                    <img alt="Junior champs" class="person-img img-responsive" src="~/Images/AOK/Child.jpg" style="-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;">
                                </div>
                            </div>
                            <div class="person-desc">
                                <div class="person-author">
                                    <div class="person-author-wrapper">
                                        <a href="javascript:void(0);" onclick="ShowDetailsPopup(1);" class="person-name btn btn-primary"><strong>Junior Champs</strong> <br />(Department of Creativity)</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="myModal1" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content" style="width: 80rem; text-align:center">
                        <span class="close">&times;</span>


                        <div class="boxes box-container" style="background-color:whitesmoke; text-align:center">

                            <div class="heightfix">
                                <div class="boxspacer">&nbsp;</div>
                                <div class="boxtext" id="PopupModelId">
                                    @*we are going to insert here*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fusion-clearfix"></div>
            </div>
                </div>
                <div class="col-md-3 col-sm-6 about-us-col">
                    <div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_4 fusion-one-fourth 1_4" style="margin-top:0px;margin-bottom:20px; margin-right: 4%;">
                <div class="fusion-column-wrapper" data-bg-url="" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
                    <div class="fusion-person person fusion-person-center fusion-person-icon-bottom">
                        <a id="myBtn1">
                            <div class="person-shortcode-image-wrapper">
                                <div class="person-image-container hover-type-zoomin" style="-webkit-border-radius:200px;-moz-border-radius:200px;border-radius:200px;">
                                    <img alt="Youngster" class="person-img img-responsive" src="~/Images/AOK/teen3.jpg" style="-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;">
                                </div>
                            </div>
                            <div class="person-desc">
                                <div class="person-author">
                                    <div class="person-author-wrapper">
                                        <a href="javascript:void(0);" onclick="ShowDetailsPopup(2);" class="person-name btn btn-primary"><strong>The Explorers</strong> <br />(Department of Innovation)</a>
                                        @*<span class="person-name">Youngster</span><span class="person-title"></span>*@
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="fusion-clearfix"></div>

                </div>
            </div>
                </div>
                <div class="col-md-3 col-sm-6 about-us-col">
                    <div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_4 fusion-one-fourth 1_4" style="margin-top:0px;margin-bottom:20px;margin-right: 4%;">
                <div class="fusion-column-wrapper" data-bg-url="" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
                    <div class="fusion-person person fusion-person-center fusion-person-icon-bottom">
                        <a id="myBtn2">
                            <div class="person-shortcode-image-wrapper">
                                <div class="person-image-container hover-type-zoomin" style="-webkit-border-radius:200px;-moz-border-radius:200px;border-radius:200px;">
                                    <img alt="Working class" class="person-img img-responsive" src="~/Images/AOK/pro1.jpg" style="-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;">
                                </div>
                            </div>
                            <div class="person-desc">
                                <div class="person-author">
                                    <div class="person-author-wrapper">
                                        <a href="javascript:void(0);" onclick="ShowDetailsPopup(3);" class="person-name btn btn-primary"><strong>The Specialist </strong><br />(Department of Knowledge)</a>
                                        @*<span class="person-name">Working class</span><span class="person-title">Head of Professionalism</span>*@
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="fusion-clearfix"></div>

                </div>
            </div>

                </div>
                <div class="col-md-3 col-sm-6 about-us-col">
                    <div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_4 fusion-one-fourth fusion-column-last 1_4" style="margin-top:-5px;margin-bottom:20px;">
                <div class="fusion-column-wrapper" data-bg-url="" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
                    <div class="fusion-person person fusion-person-center fusion-person-icon-bottom">
                        <a id="myBtn3">
                            <div class="person-shortcode-image-wrapper">
                                <div class="person-image-container hover-type-zoomin" style="-webkit-border-radius:200px;-moz-border-radius:200px;border-radius:200px;">
                                    <img alt="Senior citizen" class="person-img img-responsive" src="~/Images/AOK/aged1.jpg" style="-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;">
                                </div>
                            </div>
                            <div class="person-desc">
                                <div class="person-author">
                                    <div class="person-author-wrapper">
                                        <a href="javascript:void(0);" onclick="ShowDetailsPopup(4);" class="person-name btn btn-primary"><strong>The Enlightened </strong><br />(Department of Experience )</a>

                                        @*<span class="person-name">Senior citizen</span><span class="person-title">Experienced generation</span>*@
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>

                </div>
                <div class="fusion-clearfix"></div>
            </div>

                </div>
            </div>


        </div>
    </div>



    <script>


        // Get the modal
        var modal = document.getElementById('myModal1');


        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");


        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];


        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }



        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
            $("#PopupModelId").html('');
        }



        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if ((event.target == modal)) {
                modal.style.display = "none";
                $("#PopupModelId").html('');
            }

        }

        function ShowDetailsPopup(CategoryId) {
            $.ajax({
                url: '/AOK/ShowDetails',
                data: { CatId: CategoryId },
                success: function (respData) {
                    $("#PopupModelId").html(respData);
                    modal.style.display = "block";
                },
                error: function (respData) { }
            });
        }
    </script>
