#mainLogo {
	margin-top: 15px;
	margin-bottom: 5px;
	margin-left: -20px;
	}

body {
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/main/background.jpg);
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
hr {
	margin-left: 5px;
	margin-right: 5px;
}
.alert,.redtext {
	color: #FF0000;
}
.clearstuff {
	clear: both;
}
h3 {
	margin: 0px;
	font-size: 1.2em;
	color: #333333;
	padding-top: 10px;
	padding-bottom: 5px;
}
h2 {
	font-size: 1.2em;
	/*color: #009966;
	border-bottom: 1px solid #009966;
	margin-top: 20px;
	border-right: 6px solid #009966;*/
}
form {
	margin:0px;
}
a img {
	border: 0px
}
.hotspot {
	color: #006699;
	cursor: pointer;
}
#top {
	/*height: 118px;*/
	margin: auto;
	position: relative;
	max-width: 975px;
	min-width: 955px;
	padding-top: 10px;
}
#cn_body {
	width: 975px;
	/*	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	position: relative;*/
	
	margin: auto;
	font-size: 13px;
	line-height: 1.6em;
/*	background: #FFFFFF;
	position:relative;*/
	
}
#cn_body_inner {
	float: left; 
	/*margin-top: 105px;*/
	background-color:#fff;
	width: 100%;
	}	

.floatoff {
	float: none!important;
	}
	
#bodywrap {
		font-family: Arial, Helvetica, sans-serif;
}

#bodywrap a, #footerads a {
	color: #336699;
	text-decoration: none;

}

/*#cn_body ul {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	list-style-type: none;
	padding: 0px;
	margin-right: 0px;
}
#cn_body li {
	list-style-position: outside;
	line-height: 1.6em;
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/bullets/green_arrow.gif);
	background-repeat: no-repeat;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 1.4em;
	background-position: 0em 0.45em;
	margin: 0px;
}*/
a.holiday {
	background: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/holiday/money_gift_medium.gif) no-repeat;
	padding-top: 4px;
	padding-left: 30px;
	padding-bottom: 3px;
	display: block;
}
/*#cn_body li li {
 	list-style:circle;
	background-image: none;
	padding-left: 1em;
	margin-left: 1.5em;
}
#cn_body ol li {
	background-image: none;
}*/


#content {
	margin: 0px;
	padding: 10px 8px 15px 8px;
	/*font-size: 12px;*/
	/*position: relative;*/
}
#content ul {
	padding-left: 5px;
	
	}
	#content li {
		list-style-type:none;
		padding-bottom: 3px;
		}
#content li.more {
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/bullets/green_arrow2.gif);
	text-align: right;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: right .45em;
	padding-right: 10px;
}

#content h1, p.boxHeading {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 5px;
	font-weight: bold;
/*	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/bullets/header_arrow.gif);
	padding-left: 1.5em;*/
	background-repeat: no-repeat;
	color: #333333;
}


#content h1 strong {
/*	color: #666666;*/
}
div.rightbox {
	width: 180px;
	background: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/background/grey_back.jpg);
	float: right;
	padding: 5px 5px 5px 10px;
	margin-left: 5px;
	border: 1px solid #CCCCCC;
}

#stretch {
	width: 99%;
	/*padding-top:360px;*/
}

#stretch2 {
	width: 66%;
	padding-top:360px;
}

#fpsearch {
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/main/search_background.jpg);
	background-repeat: repeat;
	padding: 10px 10px 10px 10px;
	font-size: 12px;
	border: 1px solid #CCCCCC;
}

#fpsearch input {
	font-size:12px;
}

input.fpsearchbox {
	width: 240px;
	color: #666666;
	text-indent: 6px;
	height: 1.6em;
}


#search {
/*	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/main/search_background.jpg);
	background-repeat: repeat;*/
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #336699;
	color:#FFF;
}
#search a {
	color:#fff;
	text-decoration:none;}
#search a:hover {
	text-decoration:underline;
	}
#search, #homesearch {
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 8px;
	padding-left: 5px;
		padding-top: 15px;
	padding-bottom: 15px;
}

input.searchbox {
	width: 340px;
	color: #666666;
	text-indent: 10px;
	height: 1.6em;
}
#footer {
	background-color: #036;
	padding: 15px 0px;
	/*	text-align: center;*/
	font-size: 12px;
	clear: both;
	/*	width: 960px;*/
	margin: auto;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #336699;
	border-bottom-color: #FFF;
	text-align: center;
	/*background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/main/footergradient2.jpg);*/
	background-repeat: repeat-x;
	background-position: top;
	color: #FFF;
}
#footer a {
	color: #B0D8FF;
}
#footer h2 a {
	color: #FFFFFF;
	text-decoration:underline;
}
#footer h2 {
	margin-top:10px;
	margin-bottom:10px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	}
#footer h2 a:hover{
	color: #DDDDDD;
}
.footerlist {
	text-align: left;
	
}
.footerlist ul {
	padding-left: 0px;
	}
#footer li {
	list-style-type: none;
	padding-bottom: 8px;
	}
#footer td {
	padding-left:10px;
	}
#footer_final {
	color: #FFF;
	background-color: #333;
	text-align: center;
	padding: 12px;
		font-size: 12px;
}
#footer_final a {
	color: #FFF;
	text-decoration:none;
	}
#footerads {
	font-size: 11px;	
	margin:0px auto auto;
	text-align:center;
	width:960px;
	vertical-align:middle;
	padding-top: 10px;
	padding-bottom: 10px;
/*	background: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/background/footerad.jpg) repeat-x top;*/
	padding-left: 10px;
}
#footerads img {
	padding-right: 20px;
	padding-left: 20px;
}
#footerads img.top {
	margin-bottom: 0px;
}

#wrapper {
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/main/top2.jpg);
	background-repeat: repeat-x;
	background-position: top;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	margin: auto;
}
#wrapper2 {
}
#bodywrap {
	/* background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/background/pageback960.jpg); */
	background-repeat: repeat-y;
	background-position: center top;
	/* position: relative; */
}
#topnav {
	font-size: 11px;
	width: 530px;
	left: 332px;
	top: 97px;
	height: 31px;
/*	position: absolute;*/
	margin: auto;
}
#topnav li {
	float: left;
	width: 99px;
	margin: 0px;
	padding: 0px;
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/main/button_topnav.gif);
	background-repeat: no-repeat;
}
#topnav li.feedback {
	margin-left: 20px;
	background: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/buttons/btn_donate_tab.gif) no-repeat;
	width: 105px;
}
#topnav li.feedback a:hover {
	background: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/buttons/btn_donate_tab_hover.gif) no-repeat;
}

#topnav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#topuser {
	position: absolute;
	top: 55px;
	right: 0px;	
	font-size: 14px;
	font-weight:bold;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-top: 5px;
	color: #333333;
	text-align: right;
	padding-right: 15px;

}
#toplogin {
position: absolute;
	top: 0px;
	font-size: 12px;
	text-align: right;
	right: 0px;	
}
#toplogin .gray-box {
	/* background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/background/grey_back.jpg); */
	/* background-repeat: repeat; */
	/* border-left: 1px dashed #CCCCCC; */
	/* border-right: 1px dashed #CCCCCC; */
	/* border-bottom: 1px dashed #CCCCCC; */
	color: #333333;
	display: inline-block;
	padding: 8px 15px 8px 15px;
	background-color: rgba(238, 238, 238, 0.8);
	border-radius: 3px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

#toplogin a {
		color: #336699;
		text-decoration:none;
	}	
#topuser form {
	margin: 0px;
}
#topuser input {
	font-size: 10px;
	border: 1px solid #CCCCCC;
}
#topuser a {
	/*color: #336699;*/
	text-decoration: none;
	/*text-transform:uppercase;*/
	/*font-family: 'Oswald', sans-serif;*/	
}
#topuser a:hover, #toplogin a:hover {
	text-decoration: underline;
}

/*Formatting for Search Results Tabs*/
#globalnav {
	position:relative;
	float:left;
	width:100%;
	list-style:none;
	line-height:1em;
	border-bottom-width: 15px;
	border-bottom-style: solid;
	border-bottom-color: #036;
	font-size: 1.2em;
	margin-top: 15px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0em;
	padding-left: 1em;
}

ul#globalnav li {
	float:left;
	padding:0;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 20px;
}

#globalnav A {
	display:block;
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 10px;
	padding-top: 0.6em;
	padding-right: 1em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	background-color: #666;
}
span.highlight {
	color:#FF9;
	}

#globalnav A:active,
#globalnav A.here:link,
#globalnav A.here:visited {
	background:#036;
}
#globalnav A:hover {
	background-color: #069;
	}

#globalnav A.here:link,
#globalnav A.here:visited {
	position:relative;
	/*z-index:102;*/
}

#search form, #homesearch form {
	margin: 0px;
	padding: 0;
}

#search, #homesearch {
	font-size: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	color: #fff;
}

#topnav a {
	text-decoration: none;
	color: #333333;
/*	background-image: url(_gfx_/main/button_topnav.gif);
	background-repeat: no-repeat;*/
	display: block;
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
}
#topnav a:hover {
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/main/btn_topnav_hov.gif);
	background-repeat: no-repeat;
}
.gray {
	color:#666666;
}
.btnSrchSubmit, .btn {
	color: #FFFFFF;
	background-color: #096;
/*	background-color: #3399CC;*/
/*	font-weight: bold;*/
	border-style:none;
/*	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/main/button_back.jpg);*/
	margin: 0px 5px 0px 5px;
	padding: 5px 8px;
	cursor:pointer;
	text-transform:uppercase;
	font-family:'Oswald', sans-serif;
	border-radius: 3px;

}
.btnSrchSubmit {
	/*width: 30px;*/
/*	height: 18px;*/
}
.btnDonateToCN {
	position: absolute;
	right: 0px;
	top: 25px;
	
}
.btnSubscribeToCN {
	position: absolute;
	right: 210px;
	top: 65px;
	
}

#ad_new {
	float: right;
	width: 31%;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
	background-color: #F9F9F9;
	border: 1px solid #CCCCCC;
}

div.ad, div.ad2{
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/background/grey_back.jpg);
	background-repeat: repeat;
	border: 1px solid #CCCCCC;
	padding: 3px;
	font-weight: bold;
	font-size: 16px;
	/* 12 */
	margin-bottom: 10px;
}
div.ad {
	width: 98%;
	/* 46 */
	height: 54px;	
}

div.ad p, div.ad2 p {
	margin-top: 10px;
	margin-bottom: 10px;
}
div.ad img,div.ad2 img {
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	margin-left: 5px;
}
#leftcontent {
	float: left;
	/*margin: 105px 0px 0px;*/
	width: 21.9%;
	padding: 0px;
}

#maincontent {
	padding-bottom: 15px;
	float: left;
	width: 77.9%;
	border-left: 1px solid #DDDDDD;
	background-color: #FFFFFF;
	/*margin-top: 105px;*/
}
/*@media (min-width: 965px)
	{
		#maincontent {
			width: 75% !important;
			}
		#leftcontent {
			width: 23% !important;
		}
		}*/
div.adspace {
	margin-top: 105px;
	float:left;
	position:relative;
	}
#maincontent2 {
	color: #333333;
	padding-top: 10px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	font-size: 1em;

}
#maincontent2 li {
	margin-bottom: 5px;
}

input, textarea, keygen, select, button {
	font-size: 1em;
}

input#keyword_list {
	font-size: 1.15em;
}

#maincontent2 h1 {
	font-size: 1.9em;
	color: #333333;
	margin-top: 5px;
	padding-top: 5px;
	margin-bottom: 2px;
	padding-bottom: 5px;
	font-weight: normal;
	line-height:normal;
}
#maincontent2 h1.pagetitle {
	margin-bottom: 3px;
	padding-bottom: 0px;
}
#maincontent2 h2.pagesubtitle {
	margin-top: 0px;
	padding-top: 0px;
	color: #333333;
	font-weight: normal;
}
#articleinfo {
	margin-bottom: 10px;	
}
#maincontent2 #articleinfo p {
	margin: 0px;
	padding: 0px;
}

.crumbs {
	color: #666666;
	font-size: 12px;
	margin: 0 !important;
	padding: 0;
}
#maincontent2 p {
	margin-top: 5px;
}

#leftnav {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #FFFFFF;
}

#leftnav ul {
	margin: 0px 0px 15px;
	padding: 0px;
	list-style-type: none;
	list-style-image: none;
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/background/grey_back.jpg);
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
}
#leftnav ul.flatten {
	margin: 0px;
}
#leftnav h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
/*	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/bullets/header_arrow_grey.gif);*/
	padding-left: 0.5em;
	background-repeat: no-repeat;
	color: #333333;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 6px;
	background-position: right 0.45em;
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#leftnav h1 strong {
	color: #009966;
}

#leftnav li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #CCCCCC;
	list-style-image: none;
	background-repeat: no-repeat;
	background-position: 0.5em 0.7em;
	background-image: none;
}

#leftnav li a {
	display: block;
	margin: 0px;
	padding-top: 8px;
	padding-right: 2px;
	padding-bottom: 8px;
	padding-left: 8px;
	border-left-width: 1em;
	border-left-style: solid;
	border-left-color: #EEEEEE;
}
#leftnav li a:hover {
	background-color: #EEEEEE;
	text-decoration: none;
	color: #003366;
	border-left-color: #B0D7EB;
}#leftnav li a.active {
	color: #333333;
	background-color: #EEEEEE;
	border-left-color: #CCCCCC;
}
#leftnavcontent h1 {
	font-size: 12px;
	color: #666666;
	padding-top: 8px;
	padding-right: 2px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/background/grey_gradient.jpg);
	background-repeat: repeat;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #666666;
}
#leftnavcontent h1 strong {
	color: #009966;
}

#leftnavcontent div {
	margin-bottom: 0px;
	color: #333333;
	margin-right: 0px;
	margin-left: 0px;
	background: #FFFFFF;
}
#leftnavcontent div.rating {
	background: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/background/tall_gradient.jpg) repeat-x;
	/*	padding: 5px;*/
	border-top: 1px solid #333333;
	padding-top: 5px;
	padding-bottom: 5px;
}
#leftnavcontent div.rating p {
/*	font-size: 11px;
	line-height: normal;*/
}



#leftnavcontent li {
	margin: 0px;
	background-image: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
	line-height: 18px;
	list-style-type:none;
}
#leftnavcontent li.more {
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/bullets/green_arrow2.gif);
	background-position: .5px 0.3em;
	background-repeat: no-repeat;
	margin: auto;
	text-indent: 1.5em;
}

#leftnavcontent li a {
	/*font-size: 11px;*/
}
#leftnavcontent ul {
	margin: 0px;
	padding-top: 8px;
	padding-right: 2px;
	padding-bottom: 5px;
	padding-left: 8px;
}
#leftnavcontent ul.filter li a {
	/*font-size: 11px;*/
}
#leftnavcontent ul.filter li {
	/*padding-bottom: 4px;*/
	padding-left: 4px;
	list-style-type:none;
}
/*#leftnavcontent form {
	padding-left: 15px;
	padding-bottom: 10px;
	margin: 0px;
	padding-top: 10px;
}
#leftnavcontent select, #leftnavcontent form input {
	font-size: 11px;
}

*/

#leftnavcontent p {
	margin: 0px;
/*	font-size: 11px;*/
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 5px;
	padding-left: 12px;
}
#leftnavcontent select, #leftnavcontent form input {
	margin: 8px 0px 8px 8px;}
#margin_ad	{
	background:none;
	float: left;
	margin-left: 10px;
	padding-top: 10px;
	}

.tshade {
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/background/grey_back.jpg);
	border: 1px solid #CCCCCC;
	margin:10px 0;
	padding:10px;
}

#cn_body .print {
	background-image:none;
	display:inline-block;
	}

.print a {
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/icons/icon_print.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 3px;
}
li.email a {
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/icons/icon_email.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 3px;
}
li.sector a {
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/icons/icon_sector.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 3px;
}
li.profile a {
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/icons/icon_edit.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 3px;
}
li.my a {
	background: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/icons/icon_add.gif) no-repeat;
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 3px;
}

/*ul {
	margin: 0px;
	padding: 0px;
}*/
li {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#topten {
	padding: 5px;
	border: 1px solid #CCCCCC;
}
#topten th {
	border-bottom: 1px solid #CCCCCC;
	vertical-align: bottom;
}
#topten td {
	border-bottom: 1px dotted #CCCCCC;
}
.shaded {
	background-color:#EEEEEE;
	padding: 0px 5px;
}
p.clearmargins {
	padding: 3px;
	margin: 0px;
}
div.shadedtable {
	background: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/background/grey_back.jpg);
	margin-right: 5px;
	margin-left: 5px;
}
div.shadedtable th {
	background: #EEEEEE;
	text-align: left;
	border-bottom: 1px dotted #CCCCCC;
	font-weight: normal;
	padding: 8px 6px 6px 10px;
}
div.shadedtable th.centerme {
	text-align: center;
	font-weight:bold;
}
div.shadedtable td {
	border-bottom: 1px dotted #CCCCCC;
	padding: 6px 6px 6px 10px;
}

div.shadedtable.donations td {
	padding: 1px 6px 1px 10px;
	border-bottom: 0;
}

div.shadedtable.donations tr.newCharge td {
	border-top: 1px dotted #CCCCCC;
}

div.shadedtable.donations tr td, div.shadedtable.donations tr th {
  font-size: 1.1em;
}
div.shadedtable.donations tr td {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

div.shadedtable.donations tr.charge-row td  {
  font-size: 1.3em;
  font-weight: bold;
}
div.shadedtable.donations tr.newCharge td {
  padding-top: 20px !important;
}

div.shadedtable td.bottom, div.shadedtable tr.bottom td {
	border-bottom:none;
}
div.shadedtable td.listindent {
	padding-left: 30px;
}
div.shadedtable select,div.shadedtable input,div.shadedtable textarea,.results_header select,.results_header input {
/*	font-size: 11px;*/
	border: 1px solid #CCCCCC;
	padding-left: 5px;
}

/* PRESS ROOM */
#pressroom div.left {
	float: left;
	width: 375px;
}
#pressroom div.right {
	float: right;
	width: 175px;
}

/* VIDEO Formatting */
#video {
	background-color: #EEEEEE;
	padding: 5px;
}
#video td {
	vertical-align: top;
	width: 25%;
	border: 1px solid #FFFFFF;
}

#video p {
	margin-bottom: 5px;
	margin-top: 0px;
	text-align: center;
}
#video li {
	list-style-image: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0.1em;
	list-style-type: none;
	color: #333333;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: none;
}
#video ul {
	margin-left: 0em;
	padding-left: 0em;
	list-style-image: none;
	list-style-type:none;
	background-image: none;
}

#video table {
	background-color: #EEEEEE;
}

.box {
	padding: 18px;
    border: 1px solid rgba(0, 153, 102, 0.6);
    background-color: rgba(0, 153, 102, 0.075);
}

.box.error {
	border: 1px solid #DDDDDD;
	background-color: #FFFFCC;
}

#leadership img {
	margin-right: 8px;
	margin-bottom: 3px;
}

/*Get Rid of this after old site is gone - used for FAQ*/
.newtablebody {
	background-color: #EEEEEE;
	padding: 10px;
	border: 2px solid #CCCCCC;
}
/* THIS TOO */
#mytable table {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #003366;
}
#mytable .topcell {
	background-color: #006699;
	color: #FFFFFF;
	font-weight: bold;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #FFFFFF;
	padding: 5px;
}
#mytable th
{
	color: #FFFFFF;
	text-align: left;
	font-size: 11px;
}
#mytable .bodycell {
	background-color: #E7EBF7;
	border-left-width: 5px;
	border-left-style: none;
	border-left-color: #BDD7EF;
	padding: 4px;
}
#list-right {
	float:right;
	width:240px;
	margin-bottom:10px;
	margin-left: 10px;
}
/* END of junk to get rid of


/* SPECIAL FOR KATRINA/HOLIDAY GIVING TYPE STUFF*/

div#special {
	
	margin: 10px 0px;
	padding: 85px 5px 0px;

}
div#special.holiday {
		background: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/headers/holiday.jpg) no-repeat top;
}
div#special.haiti {
		background: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/headers/haiti_header.jpg) no-repeat top;
}
#special #survey {
	padding-left: 8px;
}
/*#special h1 {
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	color: #333333;
	text-transform: none;
}*/
#special div.report h1 a {
font-size: 14px;
}
#special h2 {
	color: #666666;
	/*font-size: 12px;*/
	padding: 5px 0px 0px 0px;
 margin: 5px 0px 10px 0px;

}
#special h3 {
	font-size: 11px;
	padding: 0px 0px 0px 5px;
	margin: 0px;
	color: #333333;
	border-bottom: 3px solid #EEEEEE;
	border-left: 3px solid #EEEEEE;
}
#special ul {
	margin-top: 3px;
	margin-bottom: 10px;
}
img.floatleft {
	float: left;
	margin-right: 8px;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	margin-bottom: 4px;
}
#special .feature {
}
#special .list {
}
#special div.article, #special div.report {
	padding: 8px;
	margin-left: 8px;
}
#special div.article p, #special div.report p, #special div.report ul {

	padding-bottom: 10px;
}
#special div.report p,#special div.report ul {
	padding-left: 8px;
}
#special .blog {
}
#special .facts, #special .lessons{
	border-top: 1px solid #D1E3E9;

}
#special .roundtable {
	border-top: 1px solid #DDECE9;
}
#special .press {
	
}
#special #leftcolumn {
	width: 48%;
	float: left;
}
#special #rightcolumn div {
	padding: 8px 4px;
}
#special #leftcolumn div {
	padding: 8px 4px;
}
#special #rightcolumn {
	float: right;
	width: 48%;
	border-left: 1px solid #DDECE9;
	padding-left: 4px;
}
#special .survey, #special #specialnav{
	background: #C7DCF1;
}
#special div#specialnav{
	padding-left: 10px;
}
img.article {
	margin-right: 10px;	
}
p.question {
	background-color:#DAE8F8;
	color: #006699;
	border-color: #006699;
	font-weight: bold;
	padding: 10px;
	border: 1px dashed;
}
p.roundphoto {
	background: #DAE8F8;
	width: 135px;
	float: right;
	margin-left: 5px;

	padding: 5px;
}
p.roundphoto img {
	border: 1px solid #000000;
		margin-bottom: 5px;
}
p.quotebox{
	background: #DAE8F8;
	width: 200px;
	float: right;
	margin-left: 5px;
	border:solid 1px #999999;
	padding: 8px;
	font-size: 1.3em;
	font-style:italic;
	font-weight:bold;
}
#newsletter {
	background-color:#DDDDDD;
	padding:5px 5px 5px 8px;
	border: 1px dashed #CCCCCC;
	text-align: center;
	font-size: 12px;
}

/*Donate to charity navigator page*/

#donate {
	/*margin-left: 100px;
	margin-right: 100px;*/	
	text-align:center;

	}
#donate .method {
	margin: 45px 30px 30px 30px;
	padding: 20px 30px 30px 30px;
	background-color: rgba(238, 238, 238, 0.80);
	border-radius: 5px;
	}
#donate .split {
	float: left;
	width:35%;
	}	
#donate .colorback {
	background-color:#699;
	}	
/*#collapse dt {
	color: #069;
	cursor: pointer;
	padding-bottom: 5px;	
	}	*/
#collapse dd {
	padding-bottom: 15px;
}
	
#donate h1 {
	padding-top: 30px;
	font-size: 2.5em;
	
	}	
#donate h2 {
	font-size: 16px;
	color: #333333;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	text-transform: none;
	font-weight: bold;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	line-height:2em;
}
#donate .leftdot {
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #CCCCCC;
}
a.btn:hover {
	background-color: #FFFFCC;
}
.donatemoney {
	color: #009966;
}
#donate p.project {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	padding-bottom: 10px;
}
#donate hr {
	color: #CCCCCC;
}
#donate td.mouse {
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/icons/mouse.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
#donate td.envelope {
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/icons/envelope.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
#donate div.project {
	background-color: #F4F4F4;
	border: 1px solid #CCCCCC;
	width: 15em;
	text-align: left;
	float: right;
	margin-left: 5px;
	padding: 8px;
}
.big {
font-size: 14px;
}
.small {
font-size: 11px;
}
.commentbox {
	border-left: solid 10px #DDDDDD; 
	margin: 15px 15px 10px 15px; 
	padding: 5px; 
}
div.timeline {
	background: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/misc/timeline.gif) repeat-y;
}
#maincontent2 .timeline h1 {
	color:#009966;
	margin-left: 25px;
}
#maincontent2 .timeline p {
	margin-left: 35px;
}

/* KATRINA */
/* CSS Document */

#katrina {
	
	margin: 10px 0px;
	padding: 78px 0px 0px 0em;
	background: url(/_gfx_/headers/katrina/katrina2.jpg) no-repeat top;
}
#katrina #survey {
	padding-left: 8px;
}
#katrina h1 {
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	color: #333333;
	text-transform: none;
	font-weight:bold;
 }
#katrina div.report h1 a {
font-size: 14px;
}
#katrina h2 {
	color: #666666;
	font-size: 11px;
	padding: 0px;
	margin: 0px;
}
#katrina h3 {
	font-size: 11px;
	padding: 0px 0px 0px 5px;
	margin: 0px;
	color: #333333;
	border-bottom: 3px solid #EEEEEE;
	border-left: 3px solid #EEEEEE;
}
#katrina  p,#katrina ul {
	margin-top: 3px;
	margin-bottom: 5px;
}
#katrina img.floatleft {
	float: left;
	margin-right: 8px;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	margin-bottom: 4px;
}
#katrina .feature {
}
#katrina .list {
}
#katrina div.article, #katrina div.report {
	padding: 8px;
	margin-left: 8px;
}
#katrina div.article p, #katrina div.report p, #katrina div.report ul {

	padding-bottom: 10px;
}
#katrina div.report p,#katrina div.report ul {
	padding-left: 8px;
}
#katrina .blog {
}
#katrina .facts, #katrina .lessons{
	border-top: 1px solid #DDECE9;

}
#katrina .roundtable {
	border-top: 1px solid #DDECE9;
}
#katrina .press {
	
}
#katrina #leftcolumn {
	width: 67%;
	float: left;
}
#katrina #rightcolumn div {
	padding: 8px 4px;
}
#katrina #leftcolumn div {
	padding: 8px 4px;
}
#katrina #rightcolumn {
	float: right;
	width: 30%;
	border-left: 1px solid #DDECE9;
	padding-left: 4px;
}
#katrina .survey, #katrina #katrinanav{
	background: #DDECE9;
}
#katrina div#katrinanav{
	padding-left: 10px;
}
#katrina p.question {
	background-color:#DDECE9;
	color: #165E46;
	border-color: #165E46;
	font-weight: bold;
	padding: 10px;
	border: 1px dashed;
}
#katrina p.roundphoto {
	background: #DDECE9;
	width: 135px;
	float: right;
	margin-left: 5px;
	padding: 5px;
}
#katrina p.roundphoto img {
	border: 1px solid #000000;
}

#leaderboard  {
	
	/*height: 100px;
	width: 960px;*/
	text-align:center;
	border-bottom: solid 1px #CCC;
	/*background: #EEE;
	
	position:absolute;
	left: 0px;
	top: 0px;*/
	padding-top: 5px;
	

	} 
	
div.spacer {
  clear: both;
  }
 
/*For Overlay*/
#ol_displaybox, .ol_displaybox {
	z-index: 9998;
	opacity: 0.5;   /*supported by current Mozilla, Safari, and Opera*/
	background-color:#000000;
	position:fixed; top:0px; left:0px; width:100%; height:100%; text-align:center; vertical-align:middle;
}

#ol_messagewrap, .ol_messagewrap {
	z-index: 9999;
	text-align:left;
	position: fixed; top: 0px; left: 0px;
	width:100%; height:100%;
	
	}
#ol_message, .ol_message {
	width: 500px;
	margin: 70px auto auto auto;
	padding: 10px 25px 15px 25px;
	background-color:#FFF;
	border: solid 1px #333;
	/*background-image: url(/_gfx_/misc/redbow.jpg);*/
	background-repeat: no-repeat;
	background-position: right top;
	}
#ol_message p, .ol_message p {
	margin-bottom: 15px;
}	
.history #hotspot {
	color: #069;
	cursor: help;
}
div.advisory {
	padding:10px;
	}
.alert2 {
	color: #FFF;
	font-weight: bold;
	text-align: center;
	background-color: #333;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size:1.2em;
}

/* HOME */

#contentbody {
	margin: 0px;
	clear: both;
	background-color:#FFFFFF;
}
#newbox {
	float: left;
}
#featured {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
	margin-bottom: 10px;
	border: 1px solid #CCCCCC;
	
}
#topten, #blog, #featuredarticles, #hottopics, #tips, #newratings, #comments, .boxit, .boxitBright {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
	margin-bottom: 10px;
	border: 1px solid #CCCCCC;
}
.boxit {
	margin: 5px 5px 10px 5px;	
}
.boxitanniversary {
	background-color: #D7E0EC;
	margin-bottom: 10px;
}

.boxitanniversary td {
/*	border: 1px solid #CCC;*/
	background-color: #F7F9FB;
	}
.boxitanniversary td.header {
	background-color: #FFF;
	font-weight: bold;
}
.boxitBright {
	background-color:#CFC;
	}
div.btn {
	background-color: #069;
	color: #FFF;
	padding-bottom:5px;
	padding-top:5px;
	}
#bodywrap a.btn {
	color: #FFF;
	font-weight: bold;
	
	}	
#bodywrap a.btn:hover {
	color: #333;
	}	
	
#homeleft {
	width: 240px;
	float: left;
}
#homecenter {
	width: 240px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

#homeright {
	width: 245px;
	float: right;
}
#browse {
	background-color: #E3EAF0;
	border: 1px solid #CCCCCC;
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/headers/browse_by_category.gif);
	background-repeat: no-repeat;
	background-position: 1em center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 100px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#browse ul {
	float: left;
	width: 150px;
}

#browse ul.browsebox1 {
	width: 160px;
}
#billboard {
/*	background: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/main/home/billboard_bottom.gif) repeat-x bottom;*/
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;	
	
}

#billboard h2 {
	background-image: none;
	border-style: none;
	text-align: left;
	color: #333333;
	font: 12px/19px Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px 5px;

}
#billboardcontent h1 {
	list-style: none none;
}

#billboard img.graphic {
	float: right;
	margin-left: 15px;
}
#billboardcontent {
	padding: 10px;
	
}
#billboardbottom {
	margin-top: 12px;
	/*background-color:#EEEEEE;
	border-top: solid 1px #CCCCCC*/
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	}

#homebottom {
	clear: both;
	float: none;
	margin: 0px;
	padding: 0px;
}
#homesearch {
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/background/yellow_back.jpg);
	background-repeat: repeat;
	clear: both;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
}
#hometop {
	
	background-repeat: repeat-x;
	background-position: top;
	margin: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#home {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
#home_column_left {
	width: 66%;
	position: relative;
	float: left;
	margin-right: 10px;
}
#home_column_inner_left {
	width: 49%;
	position: relative;
	float: left;
}
#home_column_inner_right {
	width: 49%;
	position: relative;
	float: left;
	margin-left: 2%;
}


#home_column_right {
	float: left;
	position: relative;
	width: 32%;
}

/*SUMMARY*/
#summary div.summarywrap {
	background-color: #EEEEEE;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #EEEEEE;
}
/*#summary div.leftcolumn {
	width: 388px;
	float: left;
}
#summary div.rightcolumn {
	float: right;
	width: 171px;
}*/
#summary .summarywrap .rightcolumn div {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	margin-left: 0px;
}
#summary .summarywrap .leftcolumn div {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
}
#summary .summarywrap .bottom  div {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	clear: both;
	margin-top: 0px;
	margin-right: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
}
#summary .summarywrap .history  div {
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	margin: 8px;
}
#summary .summarywrap div.summaryBox {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
}
div.summaryBox h3 {
/*	font-size: 12px;*/
	margin-left: 10px;
	}


#summary h1 {
	/*background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/background/titleback.jpg);*/
	margin: 0px;
	font-size: 14px;
	padding-top: 8px;
	padding-right: 3px;
	padding-bottom: 8px;
	padding-left: 8px;
	font-weight: bold;
	color: #333333;
	background-color:#DDD;
}
#summary h2 {
	margin: 0px;
	font-size: 14px;
	padding-top: 10px;
	padding-right: 3px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-weight: bold;
	color: #333333;
	background-color: #DDD;
}
#summary h2.topborder {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	padding-top: 10px;
}


#summary p {
	padding: 10px 20px 15px 20px;
	margin: 0px;
}

#summary div.intro-copy h1 {
	background: inherit;
    font-size: 1.8em;
}

#summary div.intro-copy h2 {
	padding-top: 8px;
    padding-right: 3px;
    padding-bottom: 8px;
    padding-left: 8px;
    font-size: 1.4em;
}

#summary div.intro-copy h3 {
	padding-top: 8px;
    padding-right: 3px;
    padding-bottom: 8px;
    padding-left: 8px;
    font-size: 1.2em;
}

#summary .history div.intro-copy div {
	border: 0;
}


table.summaryPage tr th, #summary .peers th, #summary .history th {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding-right: 5px;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}
table.summaryPage tr td, #summary .peers td, #summary .history td {
	padding-right: 5px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #EEEEEE;
}
#summary th {
	vertical-align: bottom;
}

#summary th.rightalign, #summary td.rightalign {
	text-align: right;
}
#summary th.leftalign, #summary td.leftalign {
	text-align: left;
}
#summary th.centeralign, #summary td.centeralign {
	text-align: left;
}
#summary .summarywrap div.rating {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 5px;
	margin: 15px;
}
#summary div.shadedtable {
		border: 1px solid #CCCCCC;
		margin: 5px;
	}
.indent {
	padding-left: 15px;
}

/* Tabs for top of ratings */

#summary div.tabs {
	padding-left: 10px;
	border-bottom: 1px solid #CCC;

}
#summary div.tabs ul, ul#othertabs {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#summary div.tabs li, ul#othertabs li {
	display: inline;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-image: none;
}
#summary div.tabs a, ul#othertabs a {
	text-align: center;
	margin: 0px 2px;
	padding: 8px 10px;
	line-height: 31px;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
}
#summary div a.current {
/*	border-bottom-width: 1px;
*/	border-bottom-style: solid;
	border-bottom-color: #EEE;
	background: #EEE;
	color: #333;
	font-weight: bold;
}
#summary div a.nonprofit {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEE;
	color: #FFF;
	font-weight: bold;
	background-color: #096;
}
/*ReviewsTab*/
#summary div.tabs a.reviews {
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/icons/GreatNonProfits_CharityNavIconBook_16x16px_1.jpg);
	background-position: 5px center;
	background-repeat: no-repeat;
	padding-left: 25px;
	}

#summary div.tabs a.reviews_current {
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/icons/GreatNonProfits_CharityNavIconBook_16x16px_1.jpg);
	background-position: 5px center;
	background-repeat: no-repeat;
	padding-left: 25px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEE;
	background: #EEE;
	color: #333;
	font-weight: bold;
}	
img.review_icon {
	padding-right: 7px;
	vertical-align: middle;
}
	
ul#othertabs {
	padding: 10px 5px 0px 5px;
	margin-bottom: 10px;
	border-bottom: solid 1px #CCC;
}
ul#othertabs a.active {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	background: #FFF;
	color: #333;
	font-weight: bold;
}
ul#othertabs a {
	background: #EEE;
	border-bottom: solid 1px #DDD;
}
div.peers form {
text-align:center;
padding: 5px;
}

#summary #rated,#summary #viewed {
border:0px;

}

/* Hides from IE5-mac \*/
* html .summarywrap {height: 1%;}
/* End hide from IE5-mac */

h2.tagline {
	font-size: 12px;
	margin: 0px 0px 20px !important;
	padding: 0px;
/*	line-height: 0.8em;*/
	font-weight: normal;
}
h1.charityname {
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #CCCCCC;
}
#summary a.glossary:link {
/*	color: #333333;*/
}
#summary a.glossary:hover {
color: #006699;
}
.editBtn {
	font-size: 16px;
	color: #FFF;
	background-color: #FFC;
	text-align: center;
	display: block;
	padding: 10px;
	font-weight: bold;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #666;
	border-bottom-color: #666;
	border-left-color: #CCC;
	margin-top: 20px;
	margin-right: 60px;
	margin-bottom: 20px;
	margin-left: 60px;
}
.editBtn:hover {
	color: #fff;
	background-color: #CF9;
}
/*SEARCH RESULTS*/
/* Search Results */
#searchresults .results_header {
	padding-top: 4px;
	padding-right: 2px;
	padding-bottom: 10px;
	padding-left: 4px;
	margin-right: 4px;
	margin-left: 4px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #F5F5F5;
	height: 18px;
}

#searchresults .results_nav {
	padding-top: 5px;
	padding-right: 4px;
	padding-bottom: 5px;
	padding-left: 4px;
	margin-left: 4px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
}
div.results_parameters {
	margin-left: 4px;
	padding: 0px;
}

#searchresults {
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 10px;
}
#searchresults  h3  {
	padding: 0px;
	font-size: 1.4em;
	margin-bottom: 10px;
	margin-left: 0px;
	font-weight:bold;
}
#searchresults p.orgname {

	padding: 0px;
	font-size: 14px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	/*width: 450px;*/
	font-weight:bold;
}
#searchresults h2 {
	font-size: 14px;
	/*border-bottom: 1px solid #999999;*/
	padding-bottom: 2px;
	margin-bottom: 2px;
	margin-top: 5px;
	margin-left: 4px;
}

#searchresults li {
	margin: 0px;
/*	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/bullets/green_arrow2.gif);*/
}
#maincontent div.results_parameters li {
	margin: 0px;
/*	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/bullets/green_arrow2.gif);*/
}

#searchresults p.sortby {
	
	padding-top: 3px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#searchresults p.instructions {
	margin: 0px;
	padding: 0px;
/*	float: right;*/
}
#searchresults  p.location {
	margin: 0px;
	padding: 0px;
	/*font-weight: bold;*/
	clear: both;
/*	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;*/
}
#searchresults  p.tagline {
	/*margin: 0px;
	padding: 0px;*/
	font-style: italic;
}
#searchresults  p.category {
/*	margin: 0px;
	padding: 0px;*/
	color: #333333;
	padding-top: 20px;
}

#searchresults  p.rating {
	width: 110px;
	text-align: left;
	padding: 20px 0 20px 10px;
}
#searchresults span.details {
	font-size: 11px;
	
	}


#searchresults  p.advisory {
	padding: 0px;
	float: right;
	width: 90px;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 5px;
	text-align: center;
}

#searchresults  th {
	vertical-align: top;
	text-align: center;
	/* background-color: #EEEEEE; */
	/* background-color: rgba(238, 238, 238,0.2); */
	width: 150px;
	padding-top: 10px;
	padding-bottom: 8px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight:normal;
}
#searchresults  th.check {
	width: 20px;

}
#searchresults  th.group {
	text-align: left;
	padding-left: 5px;
	background-color: #FFFFFF;
	border-left-width: 20px;
	border-left-style: solid;
	border-left-color: #999999;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	padding-right: 8px;
}
#searchresults  th.group h1 {
	font-size: 18px;
	font-weight:normal;
	
	}
#searchresults  td {
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin: 0px;
	/* background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/background/search_list_back.jpg); */
	background-repeat: repeat-x;
	background-position: bottom;
}

#searchresults  input.compare {
/*	font-size: 9px;*/
	color: #006699;
	border: 0;
	background-color:transparent;
}
#searchresults  img.add {

	margin-bottom: 10px;

}
#searchresults p.floatleft {
	margin: 0px;
	padding: 0px;
	float: left;
}
.addBoxLink {
	background-color:#FFF;
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
	border: 1px solid #CCC;
	margin-bottom: 10px;
	}

#searchresults p.floatright {
	margin: 0px;
	padding: 0px;
	float: right;
}
#filter {
	border-top: 2px solid #009966;
	border-bottom: 2px solid #009966;
	padding-top: 10px;
	padding-bottom: 8px;
	padding-left: 15px;
	margin-top: 10px;
}

div.addthis_toolbox {

  margin: 15px 0px 20px 0px;
  padding: 10px 10px 10px 10px;
  background-color:#EEE;

}
div.addthis_toolbox .cn {
	margin-left: 10px;
	text-decoration:none;
} 
.windowBox {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	padding:15px;
	background-color:#FFF
	}
.windowBox p {
	margin-bottom: 10px;
	}
	
strong { font-weight:bold; }
em { font-style:italic; }
em.strong {font-weight:bold;}
strong.em {font-style:italic;}

.ccnums {
	font-size: 12px;
	font-weight: bold;
	color: #000;
	background-color: #fff;
	text-align: right;
	border: none;
}
#cart-icon {
	background-image: url(/_gfx_/icons/shopping-basket-icon.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	display: inline-block;
	margin-bottom:-5px;
	cursor:pointer;
}

img.watch {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}
img.watch2 {
	float: left;
	margin-top: 0px;
	margin-right: 10px;
}
/*Share Buttons for Donate / Print/ Add to My Charities*/
span.shareBtn {
	background-color: #069;
	height: 32px;
	display:block;
	line-height: 32px;
	float: left;
	padding: 0px 10px 0px 10px;
	margin-right: 5px;
/*	font-weight: bold;*/
	color: #FFF;
	overflow: hidden;
	cursor: pointer;
}

.greenBack {
	background-color: #096!important;	
	}
.grayBack {
		background-color:#666!important;	
	}	

.share {
	font-family: "Swiss721BT-BoldCondensed", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 1.4em;
	color: #999;
	float: left;
	padding: 0px 5px 0px 10px;
}
div.voteBtn {
background-color: #069;
/*	height: 32px!important;*/
	display:block;
/*	line-height: 32px!important;*/
	float: right;
	padding: 10px 15px 10px 15px;

	font-weight: bold;
	color: #FFF;
	overflow: hidden;
	text-align:center;
	margin: 5px;
}
.voteCount {
		font-size: 24px;
		
	}
.standardButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ddd), color-stop(1, #ccc) );
	background:-moz-linear-gradient( center top, #ccc 5%, #ccc 100% );
	background-color:#CCC;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #469df5;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
/*	text-shadow:1px 1px 0px #287ace;*/
	margin: 15px;
}

.standardButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #184674) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #184674 100% );
	background-color:#CCC;
	color:#ffffff !important;
}

.standardButton:active {
	position:relative;
	top:1px;
}

.aLink {
	color:#069;
	cursor:pointer;
}

.pageNav td {
	font-size: 15px;}
	
.greyOut {
	opacity: .5 
	}
#FAQheader {
	min-height:50px;
}
#faqs dt, #faqs dd, #FAQheader,#showArchivedDA, #showArchivedWL, .FAQheader, #showArchivedAdvisory { padding: 0 0 0 60px }
#faqs dt { font-weight: bold; color: #369; cursor: pointer;  min-height: 32px; margin: 0 0 15px 25px}
#FAQheader,#showArchivedDA, #showArchivedWL, .FAQheader, #showArchivedAdvisory { font-weight: bold; color: #369; cursor: pointer; height: 32px; line-height: 32px; }
#faqs dd { font-size: 1em; margin: 0 0 20px 25px}
#faqs dt, #FAQheader, #showArchivedDA, #showArchivedWL, .basket-faqs-wrapper .FAQheader, #showArchivedAdvisory { 
	background: url(/_gfx_/icons/Very-Basic-Plus-icon.png) no-repeat 10px top
}
#faqs .expanded , #FAQheader.expanded, #showArchivedDA.expanded,  #showArchivedWL.expanded, .basket-faqs-wrapper.expanded .FAQheader, #showArchivedAdvisory.expanded { 
	background: url(/_gfx_/icons/Very-Basic-Minus-icon.png) no-repeat 10px top
}

.basket-faqs-wrapper .basket-faqs {
	display: none;
}

.basket-faqs-wrapper.expanded .basket-faqs {
	display: block;
}

a.green {color: #096!Important;}

/*NAVBAR*/
ul #navx {
	margin: 0 0 0 160px;
}
.subtext {
	border-top: 2.5px solid rgba(51, 102, 153,1);
	border-radius: 4px;
}
ul.drop a {
	display:block;
	color: rgba(51, 102, 153,1);
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	width: 100%;
	font-weight: bold;
}
 
ul.drop a:hover {
	text-decoration: none !important;
}


ul.drop, ul.drop li, ul.drop ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.drop { 
	position: relative; 
	z-index: 5970;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	list-style-type: none;
	margin: 0px; 
	height: 24px;
	width: 100%;
}

ul.drop li {
	float: left;
	vertical-align: middle;
	padding: 8px 8px;
}

ul.drop li.hover, ul.drop li:hover {
	position: relative;
	z-index: 599;
	cursor: default;
	background-image: none;
}

ul.drop ul {
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 598;
	width: 250px;
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

ul.drop ul li {
	float: none;
	text-align: left;
	font-style: normal;
	background-color: white;
	font-size: 1rem;
	/* border: 1px solid rgba(51, 102, 153,1); */
}

ul.drop ul li:hover {
	background-color: rgb(240, 255, 255);
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

ul.drop ul li a:hover {
	text-decoration: none !important;
}

ul.drop ul ul {
	top: -2px;
	left: 100%;
}

ul.drop li:hover > ul {
	visibility: visible; 
}

ul.drop ul a {
	display: block;
	font-size: 12px;
	font-weight: 400;
}

#navback {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	background-repeat: repeat-x;
	background-position: top;
	background-color: #fff;
}
#nav {
	clear: both;
	height: 33px;
/*	width: 960px;*/
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 1;
	position: relative;
}

.home {
	width: 10%;
}

.end {
/*	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;*/
}

.subtext {
	/*font-size: 50%;*/
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-weight: normal;
	text-align: left;	
}



 .ui-tooltip {font-size:14px!important;
background: black!important;
color: white!important;
font-family: Arial, Helvetica, sans-serif!important;

	 }


.cat-box {
	width: 8%;
	display: inline-block;
	float: left;
	padding-right: 0.5%;
	background-color: #EEE;
	text-align: center;
	padding-top: 15px;
	padding-left: 0.5%;
	min-height: 140px;
}
.category h2 {
	font-size: 18px;
	margin-top: 0px;
	padding-top: 10px;
	text-align: center;
}
.cat-box h3 {
	font-size: 1em;
	}
div.category {
	padding: 5px;
	margin-top: 25px;
	margin-bottom: 10px;
	text-align: center;
	background-color:#EEE;
}
.cat-box img
	{
		width: 65px;
		height: 65px;
	}


	
	
	.ui-button-text-only {
		
		font-size: 24px;
		}
    .form-general {
        background: #f5f6f1;
    
    
    /*-height: 400px;*/
    
    display: inline-block;
        margin: 4% 4%;
        vertical-align: top;
        padding: 3% 4%;
        text-align: center;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #e6e6e6;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .form-input-amount {
        height: 70px;
        font-size: 24px;
        width: 150px;
		padding-left: 45px !important;
        padding-right: 60px;
        /* position: relative; */
        z-index: 10;
        background: #ffffff;
        border: 1px solid #cbcbcb;
        font-family: 'Oswald';
        font-weight: 300;
        line-height: 24px;
        padding: 14px 15px 11px;
        border-radius: 5px;
     	/* width: 100%; */
        box-sizing: border-box;
        -webkit-appearance: none;
    }
    
    .left {
       /* font-size: 20px;*/
        top: 24px;
        left: 20px;
    }
    .form-amount span.right {
        right: 20px;
    }
    .form-amount {
        position: relative;
        margin-bottom: 15px;
    }
    .form-amount span {
        color: #d6d6d6;
        font-family: "Proxima-Nova-n3", "Proxima-Nova-1", "Proxima-Nova-2", "Proxima Nova", sans-serif;
        font-weight: 300;
        font-size: 18px;
        position: absolute;
        top: 16px;
        z-index: 99;
        top: 24px;
        font-size: 20px;
    }
    fieldset {
        border:0 none;
        }
    .pay button {
    margin-top: 0px;
    text-transform: none;
    font-size: 16px;
    height: 55px;
    margin-bottom: 20px;
    
    border: none;
    background: #2E9DF7;
    border-radius: 4px;
    color: #ffffff;
    margin: 10px auto 30px auto;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
    display: inline-block;
    font-family: "Proxima-Nova-n6","Proxima-Nova-1","Proxima-Nova-2","Proxima Nova",sans-serif;
    font-weight: 600;
    line-height: 28px;
    position: relative;
    width: 47%;
    
    transition: 0.1s linear all;
    padding: 0;
    cursor: pointer;
    }	
    
    .pay button.pp {
    margin-left: 4%;
    }
    
    
    .pay button span {
    display: inline-block;
    position: static;
    text-indent: -9999px;
    
    vertical-align: middle;
    height: 20px;
    
    -webkit-background-size: contain;
    
    background-repeat: no-repeat;
    }
	.ui-button {font-family:'Oswald';}
	
	
/* Metro Market CSS */


#metro {
/*	width: 60em;
	max-width: 60em;*/
	padding: 25px;
	text-align: left;
/*	border: solid 1px #CCCCCC;*/
	margin: 5px;
/*	font-family:Arial, Helvetica, sans-serif;
	background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/headers/head_popup2.gif);
	background-repeat: no-repeat;
	background-position: right top;*/
}

#metro h2 {
	font-size: 18px;
	padding-top: 0px;
	vertical-align: bottom;
	margin: 0px;
	color: #666666;
}
#metro h2 strong {
	color: #333333;
}

#metro .topborder {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #666666;
	padding-top: 10px;
	margin-top: 2px;
}

#metro h3 {
font-size: 12px;
text-align:center;
}
#metro a {
color:#336699;
}
#metrotable {
	background-color: #EEEEEE;
	padding: 10px;
	margin-bottom: 10px;
}
#metrotable table {
	margin-bottom: 10px;
}

#metrotable td {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	border: solid 1px #CCCCCC;
	background-color:#FFFFFF;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 3px;
}
#metrotable th {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color:#EEEEEE;
}

#metro_chart {
	float: right;
	margin-left: 20px;
	font-size:12px;
	width: 250px;
}

#metroglossary div.column1 {
	float: left;
	margin-left: 15px;
}
#metroglossary div.column2 {
	float: left;
	margin-left: 20px;
}	

/*Landing Page*/

.col-mid-4 {
	width: 33.3333%;
	float: left;
}
.col-mid-3 {
	width: 24.9999%;
	float: left;
}
.col-mid-6 {
	width: 49.9999%;
	float: left;
}
.col-mid-8 {
	width: 66.6666%;
	float: left;
}
.cngreen {
		color: #096;
	}
.bar {
/*	background: #069;*/
	text-align: center;
	padding-bottom: 25px;
	margin: 10px;
	line-height:normal;
}
.bar:before {
	content: " ";
	display:block;
	height:35px;
	}
.bar:after {
	clear:both;
}

.title {
	font-size: 60px;
	margin: 0 0 10px 0;	
}
.landing {
	text-align: center;
	font-size: 16px;
	}
.landing h1 {
	font-size: 30px!important;
	margin-top: 30px!important;
	}
.landing h3 {
	font-size: 2em!important;
	}	

/*
.feedback {
	font-style: italic;
	font-weight: 300;
}
*/

table {
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
}

button.donate, button.default {
    height: 32px;
    display: block;
    line-height: 32px;
    float: left;
    padding: 0px 10px 0px 10px;
    margin-right: 5px;
    /* font-weight: bold; */
    color: #FFF;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid red;
}

button.default {
	background-color: #336699;
}


button.donate {
	background-color: #096;
}

button.donate:disabled, button.default:disabled {
    background-color: #666;
    cursor: not-allowed;
}

button.donate:disabled:hover, button.default:disabled:hover {
	text-decoration: line-through;
	color: #ccc;
}

img.history-note {
	height: 16px;
    width: 16px;
    vertical-align: middle;
    margin-top: -3px;
}

table.ratings tr td {
	background-color: #efefef;
}

table.ratings tr.current td {
	background-color: #fff;
}

.highlight-matches em {
	font-style: inherit;
	font-weight: inherit;
}

button.compare {
    align-items: none;
    text-align: left;
    cursor: pointer;
    color: #336699;
    background-color: inherit;
    box-sizing: inherit;
    padding: inherit;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
}
.advisory ul {
	padding:0 0 0 40px;
}
.advisory ul li {
	list-style-type: disc;
}
#pressroom h2 {
	padding: 20px 0 16px 0;
}
#pressroom td {
	padding: 5px 10px ;
}
.results_parameters {
	font-size:1.2em;
	color: #636363;
}
.results_parameters ul {
	margin-left:40px !important;
}
.results_parameters li {
	padding:5px 0;
	list-style-type:disc;
}
.results_parameters strong {
	color: #000;
}

span.advisory-issue {
	border: 1px solid #CCCCCC !important;
	padding: 5px;
	display: block;
	margin-bottom: 5px;
}

div.da-content div {
	border: 0 !important
}

div.hot-topic-banner {
	text-align: center;
	margin-top: 15px;
}

div.hot-topic-banner img.update {
	margin: 0;
}

div.hot-topic-banner .sidebar 
, div.hot-topic-banner .text {
	display: inline-block;
	background-image: url(https://d20umu42aunjpx.cloudfront.net/home/banner/Update%20Sides-Yellow.png);
	font-family: "washington","oswld",sans-serif;
	font-size: 38px;
	color: #000;
	height: 54px;
	padding: 6px 0 0 0;
	vertical-align: middle;
	width: 316px;
	line-height: normal;
}

@media print {
    * {
        background-image: none !important;
        background-color: #fff !important;
        color: #000 !important;
    }
    #wrapper {
        border-top: 0 !important;
    }
    #cn_body_inner {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .print-hide {
        display:none;
        z-index: -1;
    }
}