﻿@{
    ViewBag.Title = "About";
}

<div class="page-heading text-center">

    <div class="container zoomIn animated">

        <h1 class="page-title">ABOUT US <span class="title-under"></span></h1>
        <p class="page-description">
            Be a part of the breakthrough and make someone’s dream come true.
        </p>

    </div>

</div>

<div class="main-container">

    <div class="container">

        <div class="row fadeIn animated">

            <div class="col-md-6">

                <img src="~/assets/images/about-us.jpg" alt="" class="img-responsive">

            </div>

            <div class="col-md-6">

                <h2 class="title-style-2"><strong>ABOUT REAL-HEROES </strong><span class="title-under"></span></h2>

                <p style="font-size:18px">
                    Real-heroes aims to build happier and healthier communities. Our platform actively encourages people of Glen Eira
                    by advising how they can contribute to the society by volunteering and donating money, clothes, and food.
                </p>
                <p style="font-size:18px">
                    Also, Realheroes will help to decide which organisation you can donate to, and volunteer for, to address Glen Eira community issues. Based on your interest,
                    we will help you to find charities working within your council.
                </p>
            </div>

        </div> <!-- /.row -->
        <br /><br />

    </div> <!-- /.about-us -->
    

    <div class="container">

        <h2 class="title-style-1"><strong>Our Data Source </strong><span class="title-under"></span></h2>
        <div style="text-align:center;font-size:20px">
            <p>ACNC 2016 Annual Information Statement Data from Data.gov.au</p>
            <p>Glen Eira Data from ABS.Stat © Commonwealth of Australia.</p>
            <p>Glen Eira Twitter feeds from Twitter</p>
        </div>
        <br />
    </div>


            <div class="our-team animate-onscroll fadeIn">

                <div class="container">

                    <h2 class="title-style-1"><strong>Our Team </strong><span class="title-under"></span></h2>

                    <div class="row">

                        <div class="col-md-3 col-sm-6">

                            <div class="team-member">

                                <div class="thumnail">

                                    <img src="~/Images/user2.png" alt="" class="cause-img">

                                </div>



                                <h4 class="member-name"><a href="@Url.Action("team","Home")">Sachin Kotnala</a></h4>

                                <div class="member-position">
                                    Developer and Data Analyst
                                </div>





                            </div> <!-- /.team-member -->

                        </div>

                        <div class="col-md-3 col-sm-6">

                            <div class="team-member">

                                <div class="thumnail">

                                    <img src="~/Images/user2.png" alt="" class="cause-img">

                                </div>



                                <h4 class="member-name"><a href="@Url.Action("team","Home")">Arthur</a></h4>

                                <div class="member-position">
                                    B.I and System Designer
                                </div>





                            </div> <!-- /.team-member -->

                        </div>


                        <div class="col-md-3 col-sm-6">

                            <div class="team-member">

                                <div class="thumnail">

                                    <img src="~/Images/user.png" alt="" class="cause-img">

                                </div>



                                <h4 class="member-name"><a href="@Url.Action("team","Home")">Cathryn</a></h4>

                                <div class="member-position">
                                    Data Analysis and project manager
                                </div>





                            </div> <!-- /.team-member -->

                        </div>


                        <div class="col-md-3 col-sm-6">

                            <div class="team-member">

                                <div class="thumnail">

                                    <img src="~/Images/user2.png" alt="" class="cause-img">

                                </div>



                                <h4 class="member-name"><a href="@Url.Action("team","Home")">Asif</a></h4>

                                <div class="member-position">
                                    Developer
                                </div>

                            </div> <!-- /.team-member -->

                        </div>

                    </div> <!-- /.row -->

                </div>

            </div>
        </div>
