﻿@{
    ViewBag.Title = "AOK";
}
@*<link href="~/Content/site.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<style>
    .padding-a {
        margin-left: 20px;
        margin-bottom: 30px;
    }

    .box-container {
        padding: 2%;
        background: Lavender;
        display: inline-block;
    }

    .paragraph {
        min-height: 90px;
    }

    .setwidth {
        width: 48%;
    }

    para {
        font-family: Calibri;
        font-size: 18px;
        min-height: 90px;
    }

    #demos {
        background-color: #eee;
    }

        #demos .container {
            background-color: transparent;
            box-shadow: none;
        }

    .container {
        padding: 0;
    }

    container, .container-fluid {
        margin-right: auto;
        margin-left: auto;
    }

    #demos .row {
        background-color: transparent;
    }

    .row > .title {
        background-color: transparent;
        color: #3A3A4F;
    }

        .row > .title > h2 {
            margin: 20px 0 0;
            text-transform: none;
            font-weight: 500;
            padding-bottom: 14px;
            border-bottom: 2px solid #D4D4DE;
        }

    .demo {
        margin: 20px 0;
    }

    .demo, h1 {
        text-align: center;
    }

        .demo a {
            font-weight: lighter;
            color: #fff;
        }

    .demo-container:hover {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
    }

    .demo-container {
        background: #f9f9f9;
        box-shadow: 0 3px 4px #ddd;
        position: relative;
        transition: transform .2s ease-in-out;
        -webkit-transition: -webkit-transform .2s ease-in-out;
        -moz-transition: -moz-transform .2s ease-in-out;
        -ms-transition: -ms-transform .2s ease-in-out;
    }

    .image-container {
        height: 250px;
        max-height: 250px;
        padding: 0;
        background-color: #fff;
        font: 0/0 a;
    }

        .image-container img, .image-container svg {
            display: inline-block;
            vertical-align: middle;
            max-width: 100%;
            max-height: 100%;
            border-radius: 0;
            padding: 0;
            background: 0;
            position: inherit !important;
        }

    .img-thumbnail {
        border: 0;
    }

    .demo-container .footer-container {
        border-top: 1px solid #EDEDED;
    }

    .demo .demo-container:hover h3 {
        color: #58BB45;
    }

    .demo h3 {
        text-transform: none;
        color: #6B6FCE;
        font-size: 16px;
        font-weight: 700;
        transition: color .2s ease-in-out;
        -webkit-transition: color .2s ease-in-out;
        -moz-transition: color .2s ease-in-out;
        -ms-transition: color .2s ease-in-out;
    }
</style>
<script src="~/Scripts/Chart.min.js"></script>
@*<link href="~/Content/bootstrap3.2.0.min.css" rel="stylesheet" />
<link href="~/Content/template.css" rel="stylesheet" />*@
<link href="~/Content/PopUpWindow.css" rel="stylesheet" />
<div class="clear"></div>
<div class="topwrapper">
    <div class="aside">
        <div class="asidetext">
            <h1>Do you know you have power to change someone's life for the better?</h1>
            <p>
                Kindness is cyclical and you too bring yourself joy in practicing random acts of kindness. Lets find out what we have for you today.
            </p>
        </div>
    </div>
</div>

<div class="fusion-fullwidth fullwidth-box nonhundred-percent-fullwidth" style="background-color: rgba(255,255,255,0);background-position: left top;background-repeat: no-repeat;padding-top:20px;padding-right:0px;padding-bottom:20px;padding-left:0px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:;border-bottom-style:;">
    <div class="fusion-builder-row fusion-row">
        <div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_4 fusion-one-fourth fusion-column-first 1_4" style="margin-top:0px;margin-bottom:20px;width:22%; margin-right: 4%;">
            <div class="fusion-column-wrapper" data-bg-url="" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
                <div class="fusion-person person fusion-person-center fusion-person-icon-bottom">
                    <a id="myBtn">
                        <div class="person-shortcode-image-wrapper">
                            <div class="person-image-container hover-type-zoomin" style="-webkit-border-radius:200px;-moz-border-radius:200px;border-radius:200px;">
                                <img alt="Junior champs" class="person-img img-responsive" src="~/Images/AOK/Child.jpg" style="-webkit-border-radius:200px;-moz-border-radius:200px;border-radius:200px;border:10px solid #efefef;">
                            </div>
                        </div>
                        <div class="person-desc">
                            <div class="person-author">
                                <div class="person-author-wrapper">
                                    <span class="person-name">Junior champs</span><span class="person-title">Head of creativity</span>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content" style="width: 80rem; text-align:center">
                    <span class="close">&times;</span>


                    <div class="boxes box-container" style="background-color:whitesmoke; text-align:center">

                        <div class="heightfix">
                            <div class="boxspacer">&nbsp;</div>
                            <div class="boxtext">
                                <div class="card" style="width: 50rem;">
                                    <img class="card-img-top" src="~/Images/AOK/hero.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h2 class="card-title" style="text-align:center">MAKE A HANDMADE CARD</h2>
                                        <p class="card-text">Whether it’s for an upcoming holiday or birthday, there are lots of opportunities to show someone you care! Showcase your creativity through a homemade card.
                                         Include your favorite quotes, drawings, anything you think will make someone smile. It could make all the difference in someone’s day.</p>
                                        <p class="card-text"><small class="text-muted">Share with your friends</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fusion-clearfix"></div>
        </div>

        <div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_4 fusion-one-fourth 1_4" style="margin-top:0px;margin-bottom:20px;width:22%; margin-right: 4%;">
            <div class="fusion-column-wrapper" data-bg-url="" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
                <div class="fusion-person person fusion-person-center fusion-person-icon-bottom">
                    <a id="myBtn1">
                        <div class="person-shortcode-image-wrapper">
                            <div class="person-image-container hover-type-zoomin" style="-webkit-border-radius:200px;-moz-border-radius:200px;border-radius:200px;">
                                <img alt="Youngster" class="person-img img-responsive" src="~/Images/AOK/Teens.jpg" style="-webkit-border-radius:200px;-moz-border-radius:200px;border-radius:200px;border:10px solid #efefef;">
                            </div>
                        </div>
                        <div class="person-desc">
                            <div class="person-author">
                                <div class="person-author-wrapper">
                                    <span class="person-name">Youngster</span><span class="person-title">Head of Innovation</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="myModal1" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content" style="width: 80rem; text-align:center">
                        <span class="close">&times;</span>


                        <div class="boxes box-container" style="background-color:whitesmoke; text-align:center">

                            <div class="heightfix">
                                <div class="boxspacer">&nbsp;</div>
                                <div class="boxtext">
                                    <div class="card" style="width: 50rem;">
                                        <img class="card-img-top" src="~/Images/AOK/volunteer.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Share with your friends</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fusion-clearfix"></div>

            </div>
        </div>

        <div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_4 fusion-one-fourth 1_4" style="margin-top:0px;margin-bottom:20px;width:22%; margin-right: 4%;">
            <div class="fusion-column-wrapper" data-bg-url="" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
                <div class="fusion-person person fusion-person-center fusion-person-icon-bottom">
                    <a id="myBtn2">
                        <div class="person-shortcode-image-wrapper">
                            <div class="person-image-container hover-type-zoomin" style="-webkit-border-radius:200px;-moz-border-radius:200px;border-radius:200px;">
                                <img alt="Working class" class="person-img img-responsive" src="~/Images/AOK/pro1.jpg" style="-webkit-border-radius:200px;-moz-border-radius:200px;border-radius:200px;border:10px solid #efefef;">
                            </div>
                        </div>
                        <div class="person-desc">
                            <div class="person-author">
                                <div class="person-author-wrapper">
                                    <span class="person-name">Working class</span><span class="person-title">Head of Professionalism</span>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
                <div id="myModal2" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content" style="width: 80rem; text-align:center">
                        <span class="close">&times;</span>


                        <div class="boxes box-container" style="background-color:whitesmoke; text-align:center">

                            <div class="heightfix">
                                <div class="boxspacer">&nbsp;</div>
                                <div class="boxtext">
                                    <div class="card" style="width: 50rem;">
                                        <img class="card-img-top" src="~/Images/AOK/love.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Share with your friends</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fusion-clearfix"></div>

            </div>
        </div>
        <div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_4 fusion-one-fourth fusion-column-last 1_4" style="margin-top:0px;margin-bottom:20px;width:22%">
            <div class="fusion-column-wrapper" data-bg-url="" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
                <div class="fusion-person person fusion-person-center fusion-person-icon-bottom">
                    <a id="myBtn3">
                        <div class="person-shortcode-image-wrapper">
                            <div class="person-image-container hover-type-zoomin" style="-webkit-border-radius:200px;-moz-border-radius:200px;border-radius:200px;">
                                <img alt="Senior citizen" class="person-img img-responsive" src="~/Images/AOK/aged1.jpg" style="-webkit-border-radius:200px;-moz-border-radius:200px;border-radius:200px;border:10px solid #efefef;">
                            </div>
                        </div>
                        <div class="person-desc">
                            <div class="person-author">
                                <div class="person-author-wrapper">
                                    <span class="person-name">Senior citizen</span><span class="person-title">Experienced generation</span>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
                <div id="myModal3" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content" style="width: 80rem; text-align:center">
                        <span class="close">&times;</span>


                        <div class="boxes box-container" style="background-color:whitesmoke; text-align:center">

                            <div class="heightfix">
                                <div class="boxspacer">&nbsp;</div>
                                <div class="boxtext">
                                    <div class="card" style="width: 50rem;">
                                        <img class="card-img-top" src="~/Images/AOK/old_love.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Share with your friends</small></p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fusion-clearfix"></div>
            </div>
        </div>
    </div>

<script>


    // Get the modal
    var modal = document.getElementById('myModal');
    var modal1 = document.getElementById('myModal1');
    var modal2 = document.getElementById('myModal2');
    var modal3 = document.getElementById('myModal3');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    var mybtn1 = document.getElementById("myBtn1");
    var mybtn2 = document.getElementById("myBtn2");
    var mybtn3 = document.getElementById("myBtn3");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    var span1 = document.getElementsByClassName("close")[1];
    var span2 = document.getElementsByClassName("close")[2];
    var span3 = document.getElementsByClassName("close")[3];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";

    }
    mybtn1.onclick = function () {
        modal1.style.display = "block";

    }
    mybtn2.onclick = function () {
        modal2.style.display = "block";

    }
    mybtn3.onclick = function () {
        modal3.style.display = "block";

    }


    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";

    }
    span1.onclick = function () {
        modal1.style.display = "none";
    }
    span2.onclick = function () {
        modal2.style.display = "none";
    }
    span3.onclick = function () {
        modal3.style.display = "none";
    }


    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if ((event.target == modal) | (event.target == modal1) | (event.target == modal2) | (event.target == modal3) ) {
            modal.style.display = "none";
            modal1.style.display = "none";
            modal2.style.display = "none";
            modal3.style.display = "none";

        }

    }
</script>
