﻿@model BuisnessEntities.Entities.StudentInfo
@{
    ViewBag.Title = "Home Page";
}
<div id="homeCarousel" class="carousel slide carousel-home" data-ride="carousel">
    
    <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-slide-to="1"></li>
        <li data-target="#homeCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Images/sliderimages/1.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h2 class="carousel-title bounceInDown animated slow">Because they need your help</h2>
                    <h3 class="carousel-subtitle bounceInUp animated slow "><strong>Be the change you want to see in the world.</strong></h3>
                    <a href="@Url.Action("Donate","Donation")" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow" >CONTRIBUTE NOW</a>
                </div>
            </div>
        </div> 

        <div class="item ">
            <img src="~/Images/sliderimages/2.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h2 class="carousel-title bounceInDown animated slow">Together we can improve their lives</h2>
                    <h2 class="carousel-subtitle bounceInUp animated slow"><strong> So let's do it !</strong></h2>
                    <a href="@Url.Action("Donate","Donation")" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated" >CONTRIBUTE NOW</a>
                </div> 
            </div>
        </div> 


        <div class="item ">
            <img src="~/Images/12.jpeg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h2 class="carousel-title bounceInDown animated slow">Together we can make a big difference.</h2>
                    <h3 class="carousel-subtitle bounceInUp animated slow"><strong>You can make the diffrence !</strong></h3>
                    <a href="@Url.Action("Donate","Donation")" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow">CONTRIBUTE NOW</a>
                </div> 
            </div>
        </div> 
    </div>
    <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="section-home about-us">
    <div class="row">




        <div class="col-md-3 col-sm-6">

            <div class="about-us-col">

                <div class="col-icon-wrapper">
                    <img src="~/assets/images/icons/make-donation-icon.png" alt="">
                </div>
                <h3 class="col-title"><strong> Contribute </strong></h3>
                <div class="col-details">

                    <p>See the various charity organisation's and step for to donate.</p>
                </div>
                <a href="@Url.Action("Donate","Donation")" class="btn btn-primary"> Find Out More </a>

            </div>

        </div>


        <div class="col-md-3 col-sm-6">

            <div class="about-us-col">

                <div class="col-icon-wrapper">
                    <img src="~/assets/images/icons/help-icon.png" alt="">
                </div>
                <h3 class="col-title"><strong>LOCAL OPPORTUNITIES</strong></h3>
                <div class="col-details">

                    <p>RealHeroes will help you find the charities that best meet your needs.</p>

                </div>
                <a href="@Url.Action("IssuesInGE","ACNC")" class="btn btn-primary">Find Out More </a>

            </div>

        </div>


        <div class="col-md-3 col-sm-6">

            <div class="about-us-col">

                <div class="col-icon-wrapper">
                    <img src="~/assets/images/icons/programs-icon.png" alt="">
                </div>
                <h3 class="col-title"><strong>Act of kindness</strong></h3>
                <div class="col-details">

                    <p>
                        Realheroes have designed small task for you which have potential to make big difference
                        in your local communities.
                    </p>

                </div>
                <a href="@Url.Action("AOK","AOK")" class="btn btn-primary">Find Out More </a>

            </div>



        </div>
        <div class="col-md-3 col-sm-6">

            <div class="about-us-col">

                <div class="col-icon-wrapper">
                    <img src="~/assets/images/icons/our-mission-icon.png" alt="">
                </div>
                <h3 class="col-title"><strong>Know before you give</strong> </h3>
                <div class="col-details">

                    <p>Find out how to make your charitable contribution go as far as possible</p>

                </div>
                <a href="@Url.Action("KnowBeforeYouContribute","HOME")" class="btn btn-primary">Find Out More </a>

            </div>

        </div>


    </div> <!-- /.row -->

</div>

<div></div><br/>
<div>
    <div class="section-home about-us">
        <h2 class="title-style-1"><Strong>Tweets from Glen Eira </Strong><span class="title-under"></span></h2>
        <div class="col-md-4 col-sm-6">
            <div class="about-us-col">
                <a class="twitter-timeline" data-width="400" data-height="320" data-dnt="true" href="https://twitter.com/sachink932010/lists/gleneiracouncil?ref_src=twsrc%5Etfw">Tweets by Glen Eira counselor</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="about-us-col">
                <a class="twitter-timeline" data-width="400" data-height="320" data-dnt="true" href="https://twitter.com/geresidents?ref_src=twsrc%5Etfw">Tweets by geresidents</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="about-us-col">
                <a class="twitter-timeline" data-width="400" data-height="320" data-dnt="true" href="https://twitter.com/GlenEiraVoice?ref_src=twsrc%5Etfw">Tweets by GlenEiraVoice</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>

<div class="clear"><br/></div>
<div></div><br />
<style>
    #twitter-widget-1, #twitter-widget-0, twitter-widget-2 {
        width: 330px !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
</style>