﻿@{
    ViewBag.Title = "KnowBeforeYouContribute";
}


<div class="main-container">

    <div class="container" >
        <div class="col-md-12">
            <h1 class="title-style-1" style="font-weight: 600;">Know Before You Give<span class="title-under"></span></h1>
        </div>
            <div class="row fadeIn animated">
                <div class="col-md-6"> <br /><br /></div>
                <div class="col-md-6"><br /><br /></div>
                <div class="col-md-12" style="font-size:16px">
                   @* <img src="~/Images/thingstoknow.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
    <img src="~/Images/AOK/teen2.jpg" alt="" class="img-responsive">

                    </div>*@

                        <div class="col-md-6">


                            <p><h2><strong>Wondering Why To Give Back To Society?  Let's Find An Answer.</strong></h2></p>
                            <br />
                            <p><h3><strong>1. Experience More Pleasure</strong></h3></p>
                            <p>
                                Recent research conducted by the National Institutes of Health2, participants who donate
                                the portion of 100$ provided actually their brain experienced activated pleasure centre.
                                It did show scientifically that contributing to society simply makes you feel better, which
                                is something we can all benefit from.
                            </p>

                            <p><h3><strong>2. Help Others in Need</strong></h3></p>
                            <p>
                                We don't live in a perfect world, and there's never going to
                                be a perfect time to give—but there are always people out there in need of
                                help. The reality is that when you contribute to society, you help others who need it.
                            </p>
                            <p><h3><strong>3. Get a Tax Deduction</strong></h3></p>
                            <p>
                                If you give to an ATO-approved charity, you can write off
                                donations on your tax return. Certain restrictions do apply, though.

                            </p>
                        </div>
                <div class="col-md-6">
                    <img src="~/Images/AOK/teen2.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
                    @* <img src="~/Images/AOK/teen2.jpg" alt="" class="img-responsive">
                    *@
                </div>
                        <div class="col-md-12">
                            
                            <p><h3><strong>4. Bring More Meaning to Your Life</strong></h3></p>
                            <p>
                                When you contribute to the society, you create opportunities to meet new people who
                                believe in the same causes that inspire you. That, and making a real impact on those causes.
                               
                            </p>
                        </div>
                        <div class="col-md-12">
                            <br /><br />
                            <p><h1><strong>What To Consider When Making Contribution Through Charity Organisations.</strong></h1></p>
                            <br />
                            <p><h3><strong>1. Make sure that you understand the charity’s mission.</strong></h3></p>
                            <p>
                                Legitimate charities typically give detailed program descriptions on
                                their websites. That means you should expect to find
                                the following information clearly delineated: how each of the nonprofit’s initiatives
                                is run; what benchmarks have been achieved by those programs in the past; how many people
                                are served by the initiatives; and how a potential client qualifies to receive a service.
                            </p>
                            <p><h3><strong>2. Verify the group’s nonprofit status</strong></h3></p>
                            <p>
                                You want a charity that declares their finical information in public. Also provides information
                                about that your gifts to the organization are tax-deductible.
                                 
                            </p>
                            <p><h3><strong>3. Inquire about the charity’s spending ratio.</strong></h3></p>
                            <p>
                                When you donate, you want your money to make a difference. It is not about paid for charities infrastructure. the
                                The main idea you need to consider is to check how charities are spending their budget.
                                The most efficient organizations spend at least 75 percent of
                                their budgets on programs and services. You can easily find this information by looking at a nonprofit’s financial analysis on Realheroes. 
                               
                            </p>
                            <p><h3><strong>4. Ask about results.</strong></h3></p>
                            <p>
                                Most responsible midsize to large organizations use either self- or
                                third-party assessments to evaluate their efficiency and effectiveness.
                                (You can contact the charity to request the most recent one.)
                            </p>
                        </div> <!-- /.row -->


                    </div> <!-- /.about-us -->


        </div>
    </div>
</div>
