﻿@{
    ViewBag.Title = "NotFoundError";
}
<div >

    <div style="text-align:center" >

        <h1 class="page-title" ><strong>Oops!</strong><span class="title-under"></span></h1>
        <p style="font-size:18px" class="page-description">
            <strong> We can't seem to find the page you're looking for.</strong>
</p>
        <p style="font-size:18px" class="page-description">
            <strong> Please check your URL or return to the Home Page.</strong>
</p>
        <img src="~/Images/Error.jpg" alt="" class="img-responsive">
    </div>

</div>