﻿<link rel="stylesheet" href="~/Content/category_nav.20180328155730.css" type="text/css" />

<link rel="stylesheet" href=~/Content/scoped_responsive_base.20180403184340.css type="text/css" />

<link rel="stylesheet" href=~/Content/base-responsive.20180328155730.css type="text/css" />
<link rel="stylesheet" href=~/Content/about.20180328155730.css type="text/css" />
<section class="row container padding team bios">

    <div id="Sachin" class="nova title">
        <h4>Sachin Kotnala</h4>
        <p>Software developer and Data  Analyst</p>
    </div>

    <div class="six">
        <div id="Sachin" class="nova photo">
            <img src="~/Images/user2.png" />
        </div>
    </div>
    <div class="six">
        <div id="About_Sachin" class="nova">
            <p>
                Sachin is a final semester student at Monash University currently pursuing Masters of Infomation technology. In Addition, he works part-time as a Teaching associate.
                He has rewarded Bachelors of Computer Application degree from Graphic Era University, India in 2014. After completing his undergraduate degree he earned an opportunity to work with one of the top multinational company in India.
                <br /> His zeal of creating new things was noticed during the training period by the company and he was allocated to one of the most talented and fun-loving teams within the company as an SAP ABAP developer.
                <br />Once you stop learning you start dying - Albert Einstein. <br />In 2016, He moved to Melbourne to do his Master of Information technology degree. In the next decade, he aimed to explore more into various technologies and specialty.
                In his free time, he loves to spend time with his family and friends, volunteer at the various social event, read books, and play cricket.
            </p>
        </div>
    </div>
</section>
<link rel="stylesheet" href="~/Content/category_nav.20180328155730.css" type="text/css" />
<link rel="stylesheet" href=~/Content/scoped_responsive_base.20180403184340.css type="text/css" />
<link rel="stylesheet" href=~/Content/base-responsive.20180328155730.css type="text/css" />
<link rel="stylesheet" href=~/Content/about.20180328155730.css type="text/css" />
<div class="team-execs">
    <section class="row container" style="text-align:center;">
        <h2 class="h2 text-center">
            Our Team members
        </h2>

        <div class="four executive">
            <div id="Arthur" class="nova team-overview">
                <figure><img alt="" src="~/Images/user2.png" srcset="~/Images/user2.png 240w, ~/Images/user2.png 642w, ~/Images/user2.png 959w, ~/Images/user2.png 1199w, ~/Images/user2.png 1679w, ~/Images/user2.png 1680w" sizes="(max-width: 959px) 95vw, (min-width: 960px) 62vw, 62vw"></figure>
            </div>
            <div id="Arthur" class="nova title">
                <h4><a href="@Url.Action("team","Home")">Arthur</a></h4>
                <p>Business Intelligence and System Designer</p>
            </div>
        </div>

        <div class="four executive">
            <div id="Cathryn" class="nova team-overview">
                <figure><img alt="" src="~/Images/user.png" srcset="~/Images/user.png 240w, ~/Images/user.png 642w, ~/Images/user.png 959w, ~/Images/user.png 1199w, ~/Images/user.png 1679w, ~/Images/user.png 1680w" sizes="(max-width: 959px) 95vw, (min-width: 960px) 62vw, 62vw"></figure>
            </div>
            <div id="Cathryn" class="nova title">
                <h4><a href="@Url.Action("team","Home")">Cathryn</a></h4>
                <p>Data Analysis and project manager</p>
            </div>
        </div>

        <div class="four executive">
            <div id="Asif" class="nova team-overview">
                <figure><img alt="" src="~/Images/user2.png" srcset="~/Images/user2.png 240w, ~/Images/user2.png 642w, ~/Images/user2.png 959w, ~/Images/user2.png 1199w, ~/Images/user2.png 1679w, ~/Images/user2.png 1680w" sizes="(max-width: 959px) 95vw, (min-width: 960px) 62vw, 62vw"></figure>
            </div>
            <div id="Asif" class="nova title">
                <h4><a href="@Url.Action("team","Home")">Asif</a></h4>
                <p>Developer</p>
            </div>
        </div>
</section>
</div>