﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Real Heroes</title>



    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>
    <link href="/Content/paging.css" rel="stylesheet" />
    <!-- Bootsrap -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css">
    <!-- Template main Css -->
    <link rel="stylesheet" href="~/assets/css/main.css">

    <!-- Modernizr -->
    <script src="~/assets/js/modernizr-2.6.2.min.js"></script>
    <style>
        .logo-new {
            font-family: "Dosis", sans-serif;
            font-weight: 600;
            vertical-align: top;
            line-height: 32px;
            font-size: 25px;
        }
    </style>
</head>
<body>

    <header class="main-header">
        <nav class="navbar navbar-static-top">
           
            <div class="navbar-main">

                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="@Url.Action("Index","Home")"><i class="fa fa-handshake-o" style="margin-right: 15px;font-size:35px;" aria-hidden="true"></i><span class="logo-new">REAL HEROES</span></a>

                    </div>
                    <div id="navbar" class="navbar-collapse collapse pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="/Home/Index">HOME</a></li>
                            <li><a href="@Url.Action("Donate","Donation")">CONTRIBUTE</a></li>
                            <li><a href="@Url.Action("IssuesInGE","ACNC")">LOCAL OPPORTUNITIES</a></li>
                            <li><a href="@Url.Action("About","Home")">ABOUT US</a></li>
                            @*<li class="has-child">
                                <a href="#">CAUSES</a>
                                <ul class="submenu">
                                    <li class="submenu-item"><a href="causes.html">Causes list </a></li>
                                    <li class="submenu-item"><a href="causes-single.html">Single cause </a></li>
                                    <li class="submenu-item"><a href="causes-single.html">Single cause </a></li>
                                    <li class="submenu-item"><a href="causes-single.html">Single cause </a></li>
                                </ul>
                            </li>*@
                            @*<li><a href="javascript:void(0);">GALLERY</a></li>
                            <li><a href="javascript:void(0);">CONTACT</a></li>*@
                        </ul>
                    </div>
                </div>

            </div>

        </nav>
    </header> 


    <div class="container body-content" style="padding-bottom: 20px;">
        @RenderBody()
    </div>


    <footer class="main-footer">
        <div class="footer-top">

        </div>

        <div class="footer-main" style="background: #115c9b;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4"></div>
                    <div >
                        <ul class="nav navbar-nav">
                            <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                            <li><a href="@Url.Action("Donate","Donation")">DONATE</a></li>
                            <li><a href="@Url.Action("IssuesInGE","ACNC")">VOLUNTEER</a></li>
                            <li><a href="@Url.Action("About","Home")">ABOUT US</a></li>
                          </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-col">
                            @*<h4 class="footer-title">About us <span class="title-under"></span></h4>*@
                            <div class="footer-content">
                                <p style="text-align: center;">
                                    Our special thanks to ACNC for providing data under licence of Creative Commons Attribution 3.0 Australia.
                                </p>
                                <p style="text-align: center;">© RealHeroes Incorporated 2018</p>
                            </div>

                        </div>
                    </div>
                   
                    <div class="clearfix"></div>

                </div>
             


            </div>

        </div>
        @*<div class="footer-bottom">
            <div class="container text-right">
                REAL-HEROES copyrights 2015 - by <a href="#" target="_blank">Ouarmedia</a>
            </div>
        </div>*@

    </footer>
    <!-- Donate Modal -->
    <div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="donateModalLabel">DONATE NOW</h4>
                </div>
                <div class="modal-body">
                    <form class="form-donation">
                        <h3 class="title-style-1 text-center">Thank you for your donation <span class="title-under"></span>  </h3>
                        <div class="row">
                            <div class="form-group col-md-12 ">
                                <input type="text" class="form-control" id="amount" placeholder="AMOUNT(€)">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="firstName" placeholder="First name*">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="lastName" placeholder="Last name*">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="email" placeholder="Email*">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="phone" placeholder="Phone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" name="address" placeholder="Address">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <textarea cols="30" rows="4" class="form-control" name="note" placeholder="Additional note"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary pull-right" name="donateNow">DONATE NOW</button>
                            </div>
                        </div>



                    </form>

                </div>
            </div>
        </div>
    </div> <!-- /.modal -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/selectjs")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="/Scripts/UserDefinedScripts/Common.js"></script>
    <script src="/Scripts/UserDefinedScripts/paging.js"></script>
    <script src="~/Scripts/sliderengine/amazingslider.js"></script>
    <script src="~/Scripts/sliderengine/initslider-1.js"></script>


    @RenderSection("scripts", required: false)

    <!--  Scripts
    ================================================== -->
    <!-- jQuery -->
    <script>window.jQuery || document.write('<script src="~/assets/js/jquery-1.11.1.min.js"><\/script>')</script>
    <!-- Bootsrap javascript file -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            var current = location.pathname;
            if (current == '/')
                current="/Home/Index"
            $('.nav li a').each(function () {
                var $this = $(this);
                // if the current path is like this link, make it active
                if ($this.attr('href').indexOf(current) !== -1) {
                    $this.addClass('is-active');
                }
            })
        })
    </script>
    <!-- owl carouseljavascript file -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- Template main javascript -->
    <script src="~/assets/js/main.js"></script>
</body>
</html>
