﻿    @{
        int cols = 3;
        int rows = 0;
        int colWidth = 12 / cols;
        string lastBlock = "</div> <div class='row'>";
    }

@*<link href="~/Scripts/cn/general.css" rel="stylesheet" />
<link href="~/Scripts/cn/responsive.css" rel="stylesheet" />*@
@*<link href="~/Scripts/cn/style.css" rel="stylesheet" />*@
<style>
    .Topic {
        font-size: 15px;
        font-weight: 600;
    }
    .about-us-col .col-details {
        text-align: -webkit-auto;
    }
    .anchorBtn {
        background-color: #108a93;
        color: #eee !important;
        display: block;
        width: 18em;
        padding: 0.5em;
        line-height: 1.4;
        /* background-color: #94B8E9; */
        /* border: 1px solid black; */
        color: #eee;
        text-decoration: none;
        text-align: center;
    }

    .search-tr {
        box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 12px 0px rgba(0,0,0,0.19);
        border-radius: 5px;
    }

    .xyz {
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin: 0px;
        /* background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/background/search_list_back.jpg); */
        background-repeat: repeat-x;
        background-position: bottom;
    }

    div.xyz h3 {
        padding: 0px;
        font-size: 1.4em;
        margin-bottom: 10px;
        margin-left: 0px;
        font-weight: bold;
    }
</style>

<div class="section-home">

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-@colWidth col-sm-@(colWidth*2)" style="margin-bottom:15px;">
                <div class="about-us-col" style="height:400px !important">
                            <h3 class="col-title"><a href="@Url.Action("CharityInfo","Donation",new { ABN= item.ABN })" style="font-weight: bold;">@item.CharityName</a></h3>
                            <div class="col-details">

                                <span class="Topic">LOCATION: </span> @item.Address @item.Suburb <br />
                                @*<span class="Topic">Main Activity: </span> @item.Activity<br />*@
                                <span class="Topic">Contact Number: </span>
                                @if (item.Contact != null)
                                {
                                        <span>@item.Contact </span> 
                                }
                                else
                                {
                                    <span>Not Available</span>
                                } 
                                <br />
                                <span class="Topic">Average no. of Volunteer working: </span>: @item.Volunteer
                            </div>
                    <div class="form-group">
                        <a href="@Url.Action("CharityInfo","Donation",new { ABN= item.ABN })" class="btn btn-primary" style="width:100%;">Click To Find Out More</a>
                    </div>
                    <div class="form-group">
                        @if (item.Website != null)
                        {
                            if (item.Website.StartsWith("http://") == true)
                            {
                                <a target="_blank" href="@item.Website" class="btn btn-primary" style="width:100%;">Visit Charity Website</a>
                            }
                            else if (item.Website.StartsWith("https://") == true)
                            {
                                <a target="_blank" href="@item.Website" class="btn btn-primary" style="width:100%;">Visit Charity Website</a>
                            }
                            else if (item.Website.StartsWith("http://") == false || item.Website.StartsWith("https://") == false || item.Website.StartsWith("https//") == false)
                            {
                                item.Website = "http://" + item.Website;
                                <a target="_blank" href="@item.Website" class="btn btn-primary" style="width:100%;">Visit Charity Website</a>
                            }
                        }
                        <br/>
                        
                    </div>
                   
                    
                 </div>
            </div>
            rows++;
            
        }
    </div>
 </div>


                   
                    <div class="clear"></div>
<style>
    .about-us-col .col-details{
        min-height: 155px !important;
    }
</style>