﻿@using BuisnessEntities.Entities
@using System.Linq
@model List<ACNCModel>

    @if (!Model.Any())
    {

        <p>Looks like there was no result for your given search. Sorry about that.</p>
        <p>Please try again with different serach keyword</p>
    }
    else
    {
    <table class="charitytable">
        <thead>
            <tr>
                <th id="Name">Charity Name</th>
                <th class="revenue tooltipd" id="Address">Address</th>
                <th class="staff tooltipd" id="Suburb">Town City</th>
                <th class="transparency tooltipd" id="CharitySize">Charity Size</th>
                <th class="finances tooltipd" id="Donate">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="datarow" id="Charity_Record">
                    <td>@item.CharityName</td>
                    <td>@item.Address</td>
                    <td>@item.Town</td>
                    <td>@item.Size</td>
                    <td>@if (item.charityWebsite != null)
                    {
                        if (item.charityWebsite.StartsWith("http://") == false || item.charityWebsite.StartsWith("https://") == false )
                        {
                            item.charityWebsite = "http://" + item.charityWebsite;
                        }
                        <a href="@item.charityWebsite">Website link</a>
                    }
                </tr>
            }
        </tbody>
    </table><br style="clear:both;">
    }
