﻿@charset "utf-8";

body {
    background-color: #f8f8f4;
    padding: 0;
    color: #333333;
    -webkit-font-smoothing: antialiased;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#content {
    width: 100% !important;
    max-width: 100% !important;
}

.gnav-header, #gnav-header,
#gnav-footer, .gnav-footer, .about-banner {
    margin-right: auto;
    margin-left: auto;
}

.h1 {
    font-size: 60px;
    line-height: 72px;
    font-family: "Guardian-EgypTT",Georgia,serif;
    font-weight: 300;
    margin-bottom: 28px;
}

.h2 {
    font-size: 42px;
    line-height: 48px;
    font-family: "Guardian-EgypTT",Georgia,serif;
    font-weight: 300;
    margin-bottom: 28px;
}

.h3 {
    font-size: 28px;
    line-height: 38px;
    font-family: "Guardian-EgypTT",Georgia,serif;
    font-weight: 300;
    margin-bottom: 28px;
}

.h4 {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.paragraph {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 28px;
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.white-text {
    color: #fff;
}

.question p.paragraph:first-child {
    font-weight: bold;
    margin-bottom: 0;
}

ul.ul {
    list-style-position: outside;
    padding-left: 18px;
    margin-bottom: 28px;
    list-style: disc;
}

ol.ol {
    list-style-position: outside;
    padding-left: 18px;
    margin-bottom: 28px;
}

li.li {
    font-size: 16px;
    line-height: 28px;
}

div.copyright {
    font-size: 12px;
}

.text-center {
    text-align: center;
}

.margin-top {
    margin-top: 28px;
}

.margin-bottom {
    margin-bottom: 28px;
}

span.meta {
    color: #999;
    font-weight: normal;
}

.press-link {
    clear: both;
    margin: 40px 0;
    text-align: center;
    text-align: center;
}

    .press-link a {
        padding: 10px;
        border-radius: 3px;
        border: solid 1px #e2e2dc;
        font-size: 16px;
    }

        .press-link a:hover {
            text-decoration: none;
            border: solid 1px #c6c6c4;
        }

.text-light-gray {
    color: #666666;
}

p.title {
    margin-top: -30px;
    text-align: center;
}

i {
    font-style: italic;
}

.lessons p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 28px;
    text-align: left;
}

.lessons h3 {
    font-size: 28px;
    line-height: 38px;
    font-family: "Guardian-EgypTT",Georgia,serif;
    font-weight: 300;
    margin-bottom: 28px;
}

.lessons ul {
    list-style-position: outside;
    padding-left: 18px;
    margin-bottom: 28px;
    list-style: disc;
}

.lessons ol {
    list-style-position: outside;
    padding-left: 18px;
    margin-bottom: 28px;
}

.lessons li {
    font-size: 16px;
    line-height: 28px;
}

.container {
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
    clear: both;
    max-width: 980px;
    width: 100%;
}

.row:before, .row:after {
    content: "";
    display: table;
    clear: both;
}

.twelve, .ten, .nine, .eight, .six, .five, .four, .two, .three, .one {
    float: left;
    min-height: 1px;
    padding: 14px;
}

.twelve {
    width: 100%;
}

.ten {
    width: 83.33333%;
}

.nine {
    width: 75%;
}

.eight {
    width: 66.66667%;
}

.six {
    width: 50%;
}

.five {
    width: 41.66667%;
}

.four {
    width: 33.33333%;
}

.three {
    width: 25%;
}

.two {
    width: 16.66667%;
}

.one {
    width: 8.33333%;
}

.offset-one {
    margin-left: 8.33333%;
}

.offset-two {
    margin-left: 16.66667%;
}

.offset-three {
    margin-left: 25%;
}

.blue {
    background-color: #34A8C4;
    overflow: auto;
}

.white {
    background-color: #fff;
    border-bottom: solid 1px #dfdcd9;
    border-top: solid 1px #dfdcd9;
    overflow: auto;
}

.transitional-wide #content {
    margin: 0 !important;
}

.center {
    margin: 0 auto;
}

.padding {
    margin-top: 30px;
}

hr {
    border: 0;
    height: 1px;
    color: #e2e2dc;
    background-color: #e2e2dc;
}

.spacer {
    margin: 40px 0;
}

.clear {
    clear: both;
}

.ss-icon {
    vertical-align: center;
    color: inherit;
    font-size: 10px;
    padding-left: 0.4em;
}

.coverage img {
    padding-bottom: 10px;
    opacity: 0.3;
}

.reports, .coverage {
    font-weight: bold;
    border-top: 2px solid #e1e1dc;
    padding-top: 20px;
}

ul.horizontal-menu-nav li {
    display: inline-block;
    font-size: 14px;
    padding: 15px 20px;
}

.horizontal-menu-nav li a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
}

.horizontal-menu-nav li a.active {
    text-decoration: underline;
    border-bottom: none;
}

@media only screen and (min-width: 750px) and (max-width: 1030px) {
}

@media only screen and (max-width: 750px) {
}

@media only screen and (min-width: 461px) and (max-width: 750px) {
    .two {
        width: 33.33333%;
    }

    .four, .three {
        width: 50%;
    }

    .six, .nine, .five, .ten {
        width: 100%;
    }

    .offset-three, .offset-one {
        margin-left: 0;
    }

    .img-full-width {
        height: 275px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media only screen and (max-width: 460px) {
    .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .ten, .nine, .eight, .six, .five, .four {
        width: 100%;
    }

    .three, .two {
        width: 50%;
    }

    .one {
        width: 25%;
        padding: 0;
    }

    .offset-one, .offset-two, .offset-three {
        margin-left: 0;
    }

    .margin {
        margin: none;
    }

    .img-full-width {
        height: 180px;
    }

    .padding {
        margin-top: 80px;
    }
}

.nova p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 28px;
    text-align: left;
}

.nova h1 {
    font-size: 60px;
    line-height: 72px;
    font-family: "Guardian-EgypTT",Georgia,serif;
    font-weight: 300;
    margin-bottom: 28px;
}

.nova h2 {
    font-size: 42px;
    line-height: 48px;
    font-family: "Guardian-EgypTT",Georgia,serif;
    font-weight: 300;
    margin-bottom: 28px;
}

.nova h3 {
    font-size: 28px;
    line-height: 38px;
    font-family: "Guardian-EgypTT",Georgia,serif;
    font-weight: 300;
    margin-bottom: 28px;
}

.nova h4 {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nova h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.nova.center-img img {
    margin: 0 auto 28px auto;
    display: block;
}

.nova.header-center {
    text-align: center;
}

.executive .nova.team-overview img {
    width: 100%;
}

.executive .nova.team-overview p:last-child {
    display: none;
}

.executive .nova.title p {
    margin-top: -10px;
    text-align: center;
    font-size: 14px;
}

.bios .nova.title h3, .bios .nova.title h4 {
    text-align: center;
    font-size: 42px;
    font-family: "Guardian-EgypTT",Georgia,serif;
    line-height: 48px;
    margin-bottom: 28px;
    font-weight: 300;
}

    .bios .nova.title h3 a, .bios .nova.title h4 a {
        color: #333;
        text-decoration: none;
    }

.bios .nova.title p {
    text-align: center;
    margin-top: -30px;
}

.bios .nova.photo img {
    width: 100%;
}

.bios .nova.photo p:last-child {
    text-align: center;
}

@font-face {
    font-family: "Guardian-EgypTT";
    src: url("/assets/type/Guardian-EgypTT-Medium.eot");
    src: url("/assets/type/Guardian-EgypTT-Medium.eot?#iefix") format("embedded-opentype"),url("/assets/type/Guardian-EgypTT-Medium.woff2") format("woff2"),url("/assets/type/Guardian-EgypTT-Medium.woff") format("woff"),url("/assets/type/Guardian-EgypTT-Medium.ttf") format("truetype"),url("/assets/type/Guardian-EgypTT-Medium.svg#Guardian EgypTT") format("svg");
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}

.gnav-header .gnav-header-inner {
    width: 1052px;
    padding-left: 36px;
    padding-right: 36px;
}

#cnav-header {
    margin: 0;
}

.about-header {
    position: relative;
}

.about-subnav {
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
}

    .about-subnav li {
        display: inline-block;
        margin: 20px;
        font-size: 18px;
        font-weight: bold;
    }

        .about-subnav li a {
            color: #fff;
            text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
        }

            .about-subnav li a:hover, .about-subnav li a.active {
                color: #fff;
                border-bottom: 2px solid;
                text-decoration: none;
            }

.opaque {
    background-color: transparent;
    clear: both;
}

    .opaque li a {
        color: #222;
        text-shadow: none;
    }

        .opaque li a:hover, .opaque li a.active {
            color: #222;
            text-shadow: none;
            border-color: #F56400;
        }

.about-subnav.stuck {
    background-color: white;
    position: fixed;
    top: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 150ms ease-out;
}

    .about-subnav.stuck li {
        display: inline-block;
        margin: 20px;
        font-size: 18px;
        font-weight: bold;
    }

        .about-subnav.stuck li a {
            color: #222;
            border-color: #F56400;
            text-shadow: 0 0 0;
        }

.about-banner {
    background: #E1E3DF;
    margin: 0;
    height: 0;
    min-height: 350px;
    padding: 0 0 40%;
    position: relative;
    overflow: hidden;
}

    .about-banner .about-banner-hero {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-transition: opacity 0.5s linear;
        -moz-transition: opacity 0.5s linear;
        -o-transition: opacity 0.5s linear;
        transition: opacity 0.5s linear;
        background-attachment: fixed;
    }

.about-masthead {
    background: url(/assets/dist/images/about2014/heros/masthead-about-2016.20170615210936.jpg) no-repeat center center;
}

.values-masthead {
    background: url(/assets/dist/images/about2014/heros/masthead-mission-@1x.20170615210936.jpg) no-repeat center center;
}

.team-masthead {
    background: url(/assets/dist/images/about2014/heros/masthead-team.20180124192323.jpg) no-repeat center center;
}

@media only screen and (min-width: 0) and (max-width: 639px) {
    .team-masthead {
        background-image: url(/assets/dist/images/about2014/heros/masthead-team-mobile.20180124192323.jpg);
    }
}

.press-masthead {
    background: url(/assets/dist/images/about2014/heros/masthead-press-2016.20170615210936.jpg) no-repeat center center;
}

.careers-masthead {
    background: url(/assets/dist/images/about2014/heros/masthead-career-2016.20170615210936.jpg) no-repeat center center;
}

.about-banner.loaded .about-banner-hero {
    opacity: 1;
}

.about-banner .content {
    position: absolute;
    top: 45%;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    -webkit-transition-delay: 0.8s;
    -moz-transition-delay: 0.8s;
    -o-transition-delay: 0.8s;
    transition-delay: 0.8s;
}

.about-banner.loaded .content {
    opacity: 1;
}

.about-banner .content h1 {
    color: #FFF;
    font-size: 68px;
    line-height: 1.2em;
    font-family: "Guardian-EgypTT",Georgia,serif;
    font-weight: 300;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 0) and (max-width: 899px) {
    .about-banner .content h1 {
        font-size: 42px;
    }
}

.stats-container {
    background: #F56400;
}

.stat {
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    font-size: 16px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    width: 100%;
    padding-bottom: 0;
    padding-top: 24px;
}

    .stat .figure, .stat h1 {
        font-size: 44px;
        color: #ffffff;
        font-family: "Guardian-EgypTT",Georgia,serif;
        line-height: 50px;
        font-weight: 300;
    }

    .stat p.white {
        color: #fff;
    }

    .stat p {
        text-align: center;
        margin-bottom: 0;
    }

.force-wide {
    width: 19.9% !important;
}

.small-byline {
    color: #FFF3EE;
    font-size: 12px;
    text-align: center;
    margin-bottom: -28px;
}

.listing-0, .listing-1, .listing-2, .listing-3 {
    border-radius: 3px;
    height: 170px;
    width: 47%;
    float: left;
    background-color: #000;
    background-size: cover;
    -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
    margin: 1.5%;
}

.how-it-works ul {
    list-style: disc;
    display: block;
    padding-left: 17px;
}

    .how-it-works ul li {
        font-size: 16px;
        line-height: 28px;
    }

    .how-it-works ul.goods {
        margin-left: 330px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

.shop {
    padding-top: 80px;
    margin-bottom: 30px;
}

.computer {
    background: url(/assets/dist/images/about2014/computer-@1x.20170615210936.jpg) no-repeat center center;
    background-size: 100%;
    height: 469px;
    max-width: 645px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.phone {
    background: url(/assets/dist/images/about2014/phone-@1x.20170615210937.png) no-repeat top center;
    background-size: 100%;
    height: 505px;
    width: 247px;
    margin: -320px 0 0 46px;
    position: absolute;
    z-index: 5;
}

.phone-view {
    background: url(/assets/dist/images/about2014/phone-view-@1x.20170615210937.jpg) no-repeat center center;
    background-size: 100%;
    position: relative;
    z-index: 6;
    margin: 63px 14px;
    width: 221px;
    height: 380px;
}

.shop-pic-one {
    height: 390px;
    width: 100%;
    background: url(/assets/dist/images/about2014/community-1.20170615210936.jpg) no-repeat center center;
}

.shop-pic-two {
    height: 200px;
    width: 100%;
    background: url(/assets/dist/images/about2014/community-2.20170615210936.jpg) no-repeat center center;
}

.shop-pic-three {
    height: 200px;
    width: 100%;
    background: url(/assets/dist/images/about2014/community-3.20170615210936.jpg) no-repeat center center;
}

.office-one {
    height: 420px;
    width: 100%;
    background: url(/assets/dist/images/about2014/office-one-2016-@1x.20170615210937.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.office-two {
    height: 420px;
    width: 100%;
    background: url(/assets/dist/images/about2014/office-two-2016-@1x.20170615210937.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.office-three {
    height: 320px;
    width: 100%;
    background: url(/assets/dist/images/about2014/office-three-2016-@1x.20170615210937.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.office-four {
    height: 320px;
    width: 100%;
    background: url(/assets/dist/images/about2014/office-four-@1x.20170615210937.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.illos {
    margin: 0 auto 28px auto;
    display: block;
}

#breadcrumbs {
    display: none;
}

.value-one {
    background: url(/assets/dist/images/about2014/value-one-@1x.20170615210937.png) no-repeat left top;
    min-height: 277px;
    padding: 0 0 0 238px;
    position: relative;
    display: table;
    vertical-align: middle;
    height: 277px;
    background-size: contain;
}

.value-two {
    background: url(/assets/dist/images/about2014/value-two-@1x.20170615210937.png) no-repeat right top;
    min-height: 273px;
    padding: 0 238px 0 0;
    position: relative;
    display: table;
    vertical-align: middle;
    height: 273px;
    background-size: contain;
}

.value-three {
    background: url(/assets/dist/images/about2014/value-three-@1x.20170615210937.png) no-repeat left top;
    min-height: 213px;
    padding: 0 0 0 346px;
    margin-left: -108px;
    position: relative;
    display: table;
    vertical-align: middle;
    height: 213px;
    background-size: contain;
}

.value-four {
    background: url(/assets/dist/images/about2014/value-four-@1x.20170615210937.png) no-repeat right top;
    min-height: 260px;
    padding: 0 238px 0 0;
    position: relative;
    display: table;
    vertical-align: middle;
    height: 260px;
    background-size: contain;
}

.value-five {
    background: url(/assets/dist/images/about2014/value-five-@1x.20170615210937.png) no-repeat left top;
    min-height: 290px;
    padding: 0 0 0 303px;
    margin-left: -65px;
    position: relative;
    display: table;
    vertical-align: middle;
    height: 290px;
    background-size: contain;
}

    .value-one h3, .value-two h3, .value-three h3, .value-four h3, .value-five h3 {
        display: table-cell;
        vertical-align: middle;
    }

.img-full-width {
    background: url(/assets/dist/images/about2014/julia_weaving.20170615210937.jpg) no-repeat center center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 480px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.economy-one, .economy-two, .economy-three {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
}

.economy-one {
    background: url(/assets/dist/images/about2014/circle-one.20170615210936.jpg) no-repeat center center;
    background-size: 101%;
}

.economy-two {
    background: url(/assets/dist/images/about2014/mission-3.20170615210937.jpg) no-repeat center center;
    background-size: 100%;
    margin-left: -50px;
}

.economy-three {
    background: url(/assets/dist/images/about2014/mission-2.20170615210937.jpg) no-repeat center center;
    background-size: 100%;
}

.economy-one-text, .economy-three-text {
    margin-left: 28px;
    position: relative;
    display: table;
    vertical-align: middle;
    height: 362px;
}

    .economy-one-text p, .economy-three-text p {
        display: table-cell;
        vertical-align: middle;
    }

.economy-two-text {
    position: relative;
    display: table;
    vertical-align: middle;
    height: 385px;
}

    .economy-two-text p {
        display: table-cell;
        vertical-align: middle;
    }

.shift {
    float: right;
}

.impact {
    margin-bottom: -29px;
}

.prog-report-callout {
    background: url(/assets/dist/images/about2014/prog-report-callout@1x.20170615210937.png) no-repeat center bottom #f56400;
    background-size: 1500px 525px;
}

    .prog-report-callout a.white-btn {
        color: #f56400;
        text-decoration: none;
        padding: 10px 20px 12px;
        border-radius: 3px;
        background-color: #fff;
        font-size: 16px;
    }

        .prog-report-callout a.white-btn:hover {
            text-decoration: none;
            opacity: 0.9;
        }

.team h2 {
    text-align: center;
}

img.leadership {
    width: 100%;
    margin-bottom: 10px;
}

section.the-team {
    background-color: #111;
    padding: 0;
    margin-bottom: -30px;
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-align: center;
}

h2.sticky {
    position: absolute;
    color: #fff;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 100px 20px 0;
    text-align: center;
    box-sizing: border-box;
}

p.exec-download {
    text-align: center;
}

.executive {
    min-height: 590px;
}

#the-team {
    background: #111;
    margin: 0 -14px;
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

    #the-team .text-wrap {
        position: absolute;
        top: 0;
        z-index: 10;
        width: 100%;
        padding: 44px 20px 0;
        text-align: center;
        box-sizing: border-box;
    }

    #the-team h2 {
        font-size: 34px;
        line-height: 46px;
        font-family: "Guardian-EgypTT",Georgia,serif;
        font-weight: 300;
        color: #fff;
        max-width: 980px;
        margin: 0 auto 15px;
    }

    #the-team .button-wrap {
        max-width: 980px;
        display: block;
        margin: 0 auto;
    }

.etsy-team {
    list-style: none;
}

    .etsy-team li {
        display: block;
        float: left;
        position: relative;
        margin: 0;
        padding: 0;
        background: #333;
        width: 8.33333%;
        height: 90px;
        opacity: 0.5;
        background-color: #333;
        background-position: 50% 50%;
        background-size: cover;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }

    .etsy-team span {
        position: absolute;
        bottom: 2px;
        right: 5px;
        color: #fff;
        text-align: right;
        font-weight: bold;
        font-size: 11px;
        line-height: 1;
        display: none;
    }

    .etsy-team li:hover {
        opacity: 1;
    }

        .etsy-team li:hover:after {
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: 1;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.6)));
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.6) 100%);
        }

        .etsy-team li:hover span {
            display: block;
            z-index: 11;
        }

@media screen and (min-width: 1200px) {
    .etsy-team li {
        width: 6.25%;
        height: 60px;
    }
}

@media screen and (max-width: 767px) {
    .transitional-wide #footer {
        margin: 0;
    }

    .content-wrap {
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 560px) {
    #about-header h1 {
        text-align: center;
    }

    .etsy-team li {
        width: 16.66667%;
        height: 50px;
    }

    #about-etsy .intro {
        font-size: 22px;
        line-height: 1.4em;
        margin: 20px 0 44px 0;
        padding-bottom: 44px;
        border-bottom: 1px solid #e7e7e4;
        text-align: center;
    }

    #the-team .text-wrap {
        padding-top: 20px;
    }

    #the-team h2 {
        font-size: 22px;
        line-height: 1.4em;
        font-weight: normal;
        padding: 0 20px;
        text-align: center;
    }

    #the-team .button-wrap {
        text-align: center;
    }

    #the-team .sticky h2 {
        display: none;
    }
}

.news-blog ul {
    list-style-type: none;
}

.news-blog .news-block {
    min-height: 400px;
}

    .news-blog .news-block p {
        margin-bottom: 0;
    }

.coverage {
    min-height: 230px;
}

.reports {
    min-height: 175px;
}

.assets .asset-label {
    height: 40px;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    display: table-cell;
    vertical-align: middle;
}

.assets .asset {
    -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    height: 200px;
    text-align: center;
    overflow: hidden;
    padding: 0;
}

.assets .button-overlay {
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
}

    .assets .button-overlay a.asset-button {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom-color: rgba(0, 0, 0, 0.2);
        border-top-color: rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        background-color: #F56400;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        padding: 10px 12px;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
        display: inline-block;
        margin-top: 85px;
    }

        .assets .button-overlay a.asset-button:hover {
            border-color: rgba(0, 0, 0, 0.2);
            border-bottom-color: rgba(0, 0, 0, 0.25);
        }

    .assets .button-overlay:hover {
        opacity: 1;
    }

.assets .etsy-logo-asset {
    background: url(/assets/dist/images/about2014/assets/etsy_logo.20170615210936.png) no-repeat center center;
}

.assets .etsy-video {
    background: url(/assets/dist/images/about2014/assets/video-cover.20170615210936.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.assets .chad {
    background: url(/assets/dist/images/about2014/chad.20170615210936.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.assets .chad-two {
    background: url(/assets/dist/images/about2014/chad2.20170615210936.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.assets .office-asset-one {
    background: url(/assets/dist/images/about2014/EtsytoriumExterior-small.20170615210936.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.assets .office-asset-two {
    background: url(/assets/dist/images/about2014/EtsyLabs-small.20170615210936.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.assets .office-asset-three {
    background: url(/assets/dist/images/about2014/assets/Etsy_HudsonOutdoors_2014-small.20170615210936.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.assets .office-asset-four {
    background: url(/assets/dist/images/about2014/assets/Etsy_HudsonPlants_2014-small.20170615210936.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.assets .office-asset-five {
    background: url(/assets/dist/images/about2014/assets/Etsy_HudsonSignage_2014-small.20170615210936.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.assets .office-asset-six {
    background: url(/assets/dist/images/about2014/EtsyMural-small.20170615210936.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.assets .app-asset-one {
    background: url(/assets/dist/images/about2014/assets/Etsy-desktop-in-frame.20170615210936.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.assets .app-asset-two {
    background: url(/assets/dist/images/about2014/assets/Etsy-desktop-in-laptop.20170615210936.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.assets .app-asset-three {
    background: url(/assets/dist/images/about2014/assets/Etsy-in-person-payments-1.20170615210936.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.assets .app-asset-four {
    background: url(/assets/dist/images/about2014/assets/Etsy-in-person-payments-2.20170615210936.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.assets .app-asset-five {
    background: url(/assets/dist/images/about2014/assets/Etsy-in-person-payments-3.20170615210936.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.assets .app-asset-six {
    background: url(/assets/dist/images/about2014/assets/Etsy-in-person-payments-hands.20170615210936.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.assets .app-asset-seven {
    background: url(/assets/dist/images/about2014/assets/Etsy-iPhone-listing.20170615210936.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.assets .app-asset-eight {
    background: url(/assets/dist/images/about2014/assets/Etsy-search-all-devices.20170615210936.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.assets .app-asset-nine {
    background: url(/assets/dist/images/about2014/assets/Etsy-shop-about-in-frame.20170615210936.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.assets .app-asset-ten {
    background: url(/assets/dist/images/about2014/assets/Etsy-shop-about-in-laptop.20170615210936.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.assets .video-bkgd {
    background: url(/assets/dist/images/about2014/assets/video-bkgd.20170615210936.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    background: #f8f8f4 !important;
    margin: 0 0 40px !important;
    padding-top: 120px !important;
}

.featured .positions {
    border-radius: 5px 5px 0 0;
    padding: 15px 15px;
    height: 215px;
    display: block;
    background: #FFF;
    text-decoration: none;
    border: 0;
}

    .featured .positions p.category {
        color: #333;
    }

    .featured .positions p {
        color: #666;
        margin-bottom: 10px;
    }

.featured .clear {
    margin-top: 28px;
}

.all-positions .category h5 {
    margin-bottom: 5px;
    width: 225px;
    margin-right: 32px;
    float: left;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .featured .positions {
        border-radius: 5px 5px 0 0;
        padding: 15px 15px;
        height: 150px;
        display: block;
        background: #FFF;
        text-decoration: none;
        border: 0;
    }

    .all-positions .category h5 {
        margin-bottom: 5px;
        width: 100%;
        margin-right: 32px;
        float: none;
        margin: 0 20px 10px;
        position: relative;
    }

    .all-positions .category ul {
        width: auto;
        margin: 0 20px 40px;
        float: none;
    }
}

.careers-sidebar p {
    margin-bottom: 28px;
}

.position .description {
    line-height: 28px !important;
}

    .position .description h2, .position .description h3, .position .description h4, .position .description h5 {
        font-size: 16px !important;
        font-weight: bold !important;
        line-height: 28px !important;
    }

    .position .description strong {
        font-size: 18px;
        font-weight: 600;
    }

.sf-callout-container-new {
    max-width: 740px;
    margin: 24px auto 0;
}

    .sf-callout-container-new .h3 {
        margin-bottom: 10px;
    }

.sf-callout-new:hover {
    border-color: #CCCCCC;
}

.sf-callout-new {
    list-style: none;
    background-color: #fff;
    width: 99%;
    padding: 2%;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    border-bottom: 3px solid #E6E6E5;
    transition: border-color 0.3s liner;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .sf-callout-container-new {
        max-width: 780px;
        padding: 0 23px;
        margin: 0 auto;
    }

    .sf-callout-new {
        width: 100%;
    }
}

.revealable {
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}

.office-one.revealed {
    background: url(/assets/dist/images/about2014/revealed-office-one-@1x.20170615210937.jpg) no-repeat center center;
}

.office-two.revealed {
    background: url(/assets/dist/images/about2014/revealed-office-two-@1x.20170615210937.jpg) no-repeat center center;
    background-size: cover;
}

.office-three.revealed {
    background: url(/assets/dist/images/about2014/revealed-office-three-@1x.20170615210937.jpg) no-repeat center center;
}

.office-four.revealed {
    background: url(/assets/dist/images/about2014/four-and-a-horse-full.20170615210936.jpg) no-repeat center center;
    background-size: cover;
}

.four-and-a-horse {
    background: url(/assets/dist/images/about2014/four-and-a-horse.20170615210936.jpg) no-repeat center center;
    background-size: 100% auto;
    height: 23%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.etsy-team li.star {
    background: url(/assets/dist/images/about2014/star.20170615210937.jpg) no-repeat center center;
    background-size: contain;
    margin: 0 auto;
}

.etsy-team li.horse {
    background: url(/assets/dist/images/about2014/horse.20170615210937.jpg) no-repeat center center;
    background-size: contain;
    margin: 0 auto;
}

.revealed {
    opacity: 1;
}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    .computer {
        background: url(/assets/dist/images/about2014/computer-@2x.20170615210936.jpg) no-repeat center center;
        background-size: 100%;
        height: 469px;
        max-width: 645px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }

    .phone {
        background: url(/assets/dist/images/about2014/phone-@2x.20170615210937.png) no-repeat top center;
        background-size: 100%;
        height: 505px;
        width: 247px;
        margin: -320px 0 0 46px;
        position: absolute;
        z-index: 5;
    }

    .phone-view {
        background: url(/assets/dist/images/about2014/phone-view-@2x.20170615210937.jpg) no-repeat center center;
        background-size: 100%;
        position: relative;
        z-index: 6;
        margin: 63px 14px;
        width: 221px;
        height: 380px;
    }

    .office-one {
        height: 420px;
        width: 100%;
        background: url(/assets/dist/images/about2014/office-one-2016-@2x.20170615210937.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .office-two {
        height: 420px;
        width: 100%;
        background: url(/assets/dist/images/about2014/office-two-2016-@2x.20170615210937.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .office-three {
        height: 320px;
        width: 100%;
        background: url(/assets/dist/images/about2014/office-three-2016-@2x.20170615210937.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .office-four {
        height: 320px;
        width: 100%;
        background: url(/assets/dist/images/about2014/office-four-@2x.20170615210937.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .value-one {
        background: url(/assets/dist/images/about2014/value-one-@2x.20170615210937.png) no-repeat left top;
        background-size: contain;
    }

    .value-two {
        background: url(/assets/dist/images/about2014/value-two-@2x.20170615210937.png) no-repeat right top;
        background-size: contain;
    }

    .value-three {
        background: url(/assets/dist/images/about2014/value-three-@2x.20170615210937.png) no-repeat left top;
        background-size: contain;
    }

    .value-four {
        background: url(/assets/dist/images/about2014/value-four-@2x.20170615210937.png) no-repeat right top;
        background-size: contain;
    }

    .value-five {
        background: url(/assets/dist/images/about2014/value-five-@2x.20170615210937.png) no-repeat left top;
        background-size: contain;
    }

    .prog-report-callout {
        background: url(/assets/dist/images/about2014/prog-report-callout@2x.20170615210937.png) no-repeat center bottom #f56400;
        background-size: 1500px 525px;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1030px) {
    .chad-large, .kristina-large, .kellan-large, .mike-large, .heather-large, .john-large, .ellen-large, .nicole-large, .jordan-large {
        height: 400px;
        width: 100%;
        margin: 0 auto 15px auto;
        border-radius: 3px;
        position: relative;
    }
}

@media only screen and (max-width: 750px) {
    .about-banner .about-banner-hero, .about-masthead.revealed {
        background-attachment: scroll;
    }
}

@media only screen and (min-width: 461px) and (max-width: 750px) {
    .how-it-works ul.goods {
        margin-left: 20px;
        margin-top: 40px;
    }

    .computer {
        margin: 0 2% 0 2%;
        width: 96%;
    }

    .phone {
        height: 449px;
        width: 220px;
        margin: -428px 0 0 46px;
    }

        .phone .phone-view {
            margin: 41px 12px;
            width: 197px;
            height: 369px;
        }

    .news-blog .six {
        width: 50%;
    }

    .news-blog .news-block {
        min-height: 480px;
    }

        .news-blog .news-block .six {
            width: 100%;
        }

    .shop {
        padding-top: 0;
    }

        .shop h2 {
            text-align: center;
        }

    .shop-pic-two, .shop-pic-three, .office-two {
        display: none;
    }

    .economy-one, .economy-two, .economy-three {
        width: 50%;
        padding-top: 50%;
        margin: 0 auto;
    }

    .economy-one-text, .economy-two-text, .economy-three-text {
        height: 0;
        padding: 40px 0 40px;
        width: 60%;
        margin: 0 auto;
        float: none;
    }

    .value-one, .value-two, .value-four {
        background-position: top center;
        background-size: 40%;
        text-align: center;
        padding: 50% 2% 0;
        width: 80%;
        margin: 0 auto 28px auto;
        min-height: 0;
    }

    .value-three {
        background-position: top center;
        background-size: 60%;
        text-align: center;
        padding: 40% 2% 0;
        width: 80%;
        margin: 0 auto 28px auto;
        min-height: 0;
    }

    .value-five {
        background-position: top center;
        background-size: 50%;
        text-align: center;
        padding: 50% 2% 0;
        width: 80%;
        margin: 0 auto 28px auto;
        min-height: 0;
    }

    .bio {
        width: 94%;
        padding: 0 3%;
    }

    li.news-block .six {
        width: 100%;
    }

    .img-full-width {
        height: 275px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media only screen and (max-width: 460px) {
    .about-subnav.stuck {
        position: relative;
    }

    .about-subnav li {
        margin: 20px 15px 0;
    }

    .shop {
        padding-top: 0;
    }

    .listing-0, .listing-1, .listing-2, .listing-3 {
        width: 46%;
        height: 120px;
    }

    .shop-pic-two, .shop-pic-three {
        display: none;
    }

    .computer {
        height: 360px;
        background-position: top center;
        margin: 0 2% 0 2%;
        width: 96%;
    }

    .phone {
        background: url(/assets/dist/images/about2014/phone-@1x.20170615210937.png) no-repeat center center;
        background-size: 100%;
        height: 320px;
        width: 156px;
        margin: -333px 0 0 46px;
        position: absolute;
        z-index: 5;
    }

    .phone-view {
        background: url(/assets/dist/images/about2014/phone-view-@1x.20170615210937.jpg) no-repeat center center;
        background-size: 100%;
        position: relative;
        z-index: 6;
        margin: -30px 9px;
        width: 139px;
        height: 382px;
    }

    .how-it-works ul.goods {
        margin: 0 5%;
    }

    .office-one {
        width: 100%;
        height: 320px;
    }

    .office-two {
        display: none;
    }

    .office-three, .office-four {
        float: none;
        width: 100%;
    }

    .value-one, .value-two, .value-four {
        background-position: top center;
        background-size: 40%;
        text-align: center;
        padding: 50% 2% 0;
        width: 100%;
        margin-left: 0;
        min-height: 0;
        margin-bottom: 28px;
    }

    .value-three {
        background-position: top center;
        background-size: 60%;
        text-align: center;
        padding: 40% 2% 0;
        width: 100%;
        margin-left: 0;
        min-height: 0;
        margin-bottom: 28px;
    }

    .value-five {
        background-position: top center;
        background-size: 50%;
        text-align: center;
        padding: 55% 2% 0;
        width: 100%;
        margin-left: 0;
        min-height: 0;
        margin-bottom: 28px;
    }

    .economy-one, .economy-two, .economy-three {
        width: 70%;
        padding-top: 70%;
        margin: 0 auto;
    }

    .economy-one-text, .economy-two-text, .economy-three-text {
        height: 0;
        margin: 28px 0;
    }

    .bio {
        width: 90%;
        padding: 0 5%;
    }

    p.exec-download {
        display: none;
    }

    .chad-large, .kristina-large, .kellan-large, .mike-large, .heather-large, .john-large, .ellen-large, .nicole-large, .jordan-large {
        height: 300px;
        width: 100%;
        max-width: 285px;
        margin: 0 auto 15px auto;
        border-radius: 3px;
    }

    .img-full-width {
        height: 180px;
    }
}

.careers_redesign_2018 .gnav-header .gnav-header-inner {
    width: 100%;
}

.careers_redesign_2018 .container {
    padding-top: 120px;
    padding-bottom: 120px;
}

@media only screen and (min-width: 0) and (max-width: 639px) {
    .careers_redesign_2018 .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.careers_redesign_2018 .about-banner {
    background: #222;
    height: 80vh;
    min-height: 480px;
}

    .careers_redesign_2018 .about-banner .content h1 {
        text-shadow: none;
    }

@media only screen and (min-width: 0) and (max-width: 639px) {
    .careers_redesign_2018 .about-banner {
        height: 60vh;
        min-height: 420px;
    }
}

.careers_redesign_2018 .about-banner-hero {
    background-attachment: scroll;
}

.careers_redesign_2018 .about-banner.loaded .about-banner-hero {
    opacity: 0.75;
    transition-duration: 150ms;
}

.careers_redesign_2018 .about-banner .content {
    transition: none;
    opacity: 1 !important;
}

.careers_redesign_2018 #team_intro h3 {
    font-size: 50px;
    line-height: 1;
}

.careers_redesign_2018 #team_intro p {
    font-size: 30px;
    font-family: "Guardian-EgypTT",serif;
    font-weight: 300;
    line-height: 42px;
}

@media only screen and (min-width: 0) and (max-width: 639px) {
    .careers_redesign_2018 #team_intro h3 {
        font-size: 30px;
        line-height: 1.2;
    }

    .careers_redesign_2018 #team_intro p {
        font-size: 24px;
        line-height: 34px;
    }
}

.careers_redesign_2018 .team-execs {
    background: #303044;
    color: #FFFFFF;
}

    .careers_redesign_2018 .team-execs .nova h4 {
        font-size: 24px;
        font-family: "Guardian-EgypTT",serif;
        font-weight: 300;
        line-height: 42px;
    }

    .careers_redesign_2018 .team-execs a {
        color: #FFFFFF;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    }

        .careers_redesign_2018 .team-execs a:hover {
            border-bottom-color: #FFFFFF;
        }

.careers_redesign_2018 .stats-container {
    background: #303044;
}

.ui-toolkit .inc-wrapper {
    margin: 0 30px;
    text-align: left;
}

@media (min-width: 768px) {
    .ui-toolkit .inc-wrapper {
        margin: 0 60px;
    }
}

@media (min-width: 1024px) {
    .ui-toolkit .inc-wrapper {
        margin: 0 60px;
    }
}

@media (min-width: 1260px) {
    .ui-toolkit .inc-wrapper {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
}

@media only screen and (min-width: 0) and (max-width: 639px) {
    .ui-toolkit .video-hero.video-hero {
        height: 60vh;
        min-height: 420px;
    }
}

.ui-toolkit .is-panel-open-and-visible .header-sticky {
    opacity: 0;
    pointer-events: none;
}

.ui-toolkit .is-header-sticky-open {
    overflow: hidden;
}

.ui-toolkit .header-sticky {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.ui-toolkit .header-sticky__inner {
    position: relative;
    transition: background-color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1),max-height 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

    .ui-toolkit .header-sticky__inner > .inc-wrapper {
        position: relative;
    }

.ui-toolkit .header-sticky__brand {
    align-items: center;
    display: flex;
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.1s cubic-bezier(0.22, 0.61, 0.36, 1);
    opacity: 0;
}

.ui-toolkit .header-sticky__accessility-content {
    text-indent: -1000vw;
}

.ui-toolkit .header-sticky__nav-button {
    position: absolute;
    right: 0;
    top: 0;
}

.ui-toolkit .header-sticky__nav-list {
    list-style: none;
    padding: 0;
}

@media (max-width: 767px) {
    .ui-toolkit .header-sticky__inner {
        max-height: 60px;
        overflow: hidden;
    }

    .ui-toolkit .header-sticky__brand, .ui-toolkit .header-sticky__nav-button {
        height: 60px;
    }

    .ui-toolkit .header-sticky__logo--full {
        display: none;
    }

    .ui-toolkit .header-sticky__nav-button {
        font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
        font-weight: 500;
        font-size: 18px;
        background: none;
        border: none;
        outline: none;
        padding: 0;
        width: 100%;
        text-align: right;
        color: inherit;
    }

    .ui-toolkit .header-sticky__nav-button-icon {
        margin-left: 6px;
        display: inline-block;
        vertical-align: middle;
        transition: transform 0.1s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    .ui-toolkit .header-sticky__nav {
        padding-top: 70px;
        padding-bottom: 30px;
    }

    .ui-toolkit .header-sticky__nav-link {
        display: block;
        margin-bottom: 14px;
        font-size: 18px;
        color: inherit;
        font-weight: 300;
    }
}

@media (max-width: 767px) {
    .ui-toolkit .header-sticky:after {
        background: rgba(34, 34, 34, 0.8);
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        transition: opacity 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
        content: '';
        z-index: -1;
    }

    .ui-toolkit .header-sticky.is-open .header-sticky__inner {
        max-height: 100vh;
    }

    .ui-toolkit .header-sticky.is-open .header-sticky__nav-button-icon {
        transform: rotate(-180deg);
    }

    .ui-toolkit .header-sticky.is-open:after {
        height: 100vh;
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .ui-toolkit .header-sticky, .ui-toolkit .header-sticky__brand {
        height: 70px;
    }

    .ui-toolkit .header-sticky__logo--letter {
        display: none;
    }

    .ui-toolkit .header-sticky__nav-button {
        display: none;
    }

    .ui-toolkit .header-sticky__nav-list {
        text-align: center;
    }

    .ui-toolkit .header-sticky__nav-item {
        display: inline-block;
        margin: 0 25px;
    }

    .ui-toolkit .header-sticky__nav-link {
        color: inherit;
        display: block;
        font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
        font-weight: 500;
        line-height: 66px;
        border-bottom: 2px solid transparent;
    }

        .ui-toolkit .header-sticky__nav-link.active, .ui-toolkit .header-sticky__nav-link:hover, .ui-toolkit .header-sticky__nav-link:focus {
            border-bottom-color: #F56400;
            text-decoration: none;
        }
}

.ui-toolkit .header-sticky__logo-path, .ui-toolkit .header-sticky.is-open .header-sticky__logo-path, .ui-toolkit .header-sticky.headroom--not-top .header-sticky__logo-path {
    fill: #F56400;
}

.ui-toolkit .header-sticky__nav-button-icon-path, .ui-toolkit .header-sticky.is-open .header-sticky__nav-button-icon-path, .ui-toolkit .header-sticky.headroom--not-top .header-sticky__nav-button-icon-path {
    fill: currentColor;
}

.ui-toolkit .header-sticky--all-white .header-sticky__nav-link, .ui-toolkit .header-sticky--all-white .header-sticky__nav-button {
    color: #FFFFFF;
}

.ui-toolkit .header-sticky--all-white .header-sticky__logo-path, .ui-toolkit .header-sticky--all-white .header-sticky__nav-button-icon-path {
    fill: #FFFFFF;
}

.ui-toolkit .header-sticky--no-transparent .header-sticky__inner, .ui-toolkit .header-sticky.is-open .header-sticky__inner, .ui-toolkit .header-sticky.headroom--not-top .header-sticky__inner {
    background-color: #FFFFFF;
}

.ui-toolkit .header-sticky--no-transparent .header-sticky__inner {
    border-bottom: 1px solid #E1E3DF;
}

.ui-toolkit .header-sticky.headroom--animation {
    transition: transform 0.2s cubic-bezier(0.22, 0.61, 0.36, 1),opacity 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.ui-toolkit .header-sticky.headroom--top {
    position: absolute;
}

.ui-toolkit .header-sticky.is-open, .ui-toolkit .header-sticky.headroom--not-top {
    color: #222;
}

.ui-toolkit .header-sticky.headroom--not-top {
    position: fixed;
}

    .ui-toolkit .header-sticky.is-open .header-sticky__brand, .ui-toolkit .header-sticky.headroom--not-top .header-sticky__brand {
        opacity: 1;
    }

.ui-toolkit .header-sticky.headroom--unpinned {
    transform: translateY(-100%);
}
