﻿.mainwrapper {
    width: 70%;
    margin: 0 auto;
}

.normalFont {
    white-space: nowrap;
    color: #434343;
    font-size: 20px;
    font-weight: 700;
}

.filters {
    display:grid;
}
.row{
    padding-bottom: 20px;
}

.toptabs {
    float: left;
    padding: 10px;
    background-color: #006699;
    color: white;
    margin: 0px 5px 10px 5px;
}
.searchbox {
    float: right;
    /* padding-left: 90px; */
    margin-left: 112px;
}
.toptabs:hover {
    background-color: #C74F21;
    cursor: pointer;
}

.select2-container .select2-selection--single{
    height:40px !important;

}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height:40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    height:40px;
}

.resulttablediv {
    margin-top: 10px;
}

.resulttablediv h2 {
    color: #006699;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.charitytable {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    font-size: 0.8em;
    height: 90%;
    margin-top: 15px;
}

.charitytable tr {
    background: white;
}


.stars {
    color: #ffcc00;
}
.charitytable th {
    background-color: #C74F21;
    color: white;
    padding: 15px 15px 15px 15px;
    border-bottom: thick solid #C74F21;
}

.charitytable td {
    padding: 15px 15px 15px 15px;
}

@media only screen and (max-width: 1600px) .charitytable td {
    padding: 5px 10px;
}

@media only screen and (max-width: 1600px) .charitytable th {
    padding: 5px 10px;
}

.padding2 {
    padding-right: 20px;
}

.filetericon {
    vertical-align: top;
    line-height: 32px;
}
.fileterlabel {
    font-size: 20px;
    font-weight: 700;
}
#searchbox {
    width: auto;
    padding: 20px 50px 20px 20px;
}
.selectionbox {
    width: 96%;
    background-color: white;
    float: left;
    padding: 2%;
    display: none;
    margin-bottom: 5px;
    position: relative;
    color: #286E94;
}
.close {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    font-size: 150%;
}
.close:hover {
    cursor: pointer;
}
#mainview {
    display: flex !important;
}
.SpecificFilter {
    display: -webkit-inline-box;
    padding: 2%;
}

/*.btn-submit {
    margin-left: 50px;
    width: 100px;
    height: 33px;
    border-radius: 7px;
    background: #006699;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}*/
button.btn-submit:hover {
    cursor: pointer;
}

/*Category*/
.category-hot-topic .category:last-of-type {
    background-color: #fff;
}

.category-hot-topic .category {
    padding: 20px 0;
}

div.category {
    padding: 5px;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #EEE;
}

.clearfix {
    overflow: auto;
    zoom: 1;
    clear: both;
}

.category h2 {
    font-size: 18px;
    margin-top: 0px;
    padding-top: 10px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}


@media (min-width: 658px){
    .category-hot-topic .category:last-of-type .cat-box {
        width: 18%;
    }
} 

.category-hot-topic .category:last-of-type .cat-box {
    background-color: #fff;
    width: 18%;
}

@media (min-width: 975px) {
    .category-hot-topic .cat-box {
        width: 14%;
        min-height: 140px;
    }
}

.category-hot-topic .cat-box {
    float: none;
}

@media (min-width: 975px) {
    .cat-box {
        width: 8%;
        float: left;
        min-height: 140px;
    }
}

@media (min-width: 658px) {
 .cat-box {
    width: 14%; min-height: 140px;
}
}

.cat-box {
    width: 28%;
    float: none;
    vertical-align: top;
    min-height: 0;
}

.cat-box {
    width: 8%;
    display: inline-block;
    float: left;
    padding-right: 0.5%;
    background-color: #EEE;
    text-align: center;
    padding-top: 15px;
    padding-left: 0.5%;
    min-height: 140px;
}

.category a {
    color: #336699;
    text-decoration: none;
}
.cat-box img {
    width: 65px;
    height: 65px;
}

a img {
    border: 0px;
}

svg, img {
    font-weight: normal;
}

.cat-box h3 {
    font-size: 1em;
}

h3, .text {
    font-weight: normal;
}

h3 {
    margin: 0px;
    font-size: 1.2em;
    color: #333333;
    padding-top: 10px;
    padding-bottom: 5px;
}
