﻿body {
    margin: 0;
    background: #DDE;
    margin-left: 100px;
    margin-right: 100px;
}
.topmenu {
    display: flex;
    float: right;
    z-index: 5;
    padding: 0 10px 0 0;
}

.topmenumobile {
    display: none;
}
.topmenubutton {
    padding: 10px 15px;
}

.headerwrapper {
    background-color: #fff;
    
    padding: 0%;
}
.logoheader {
    padding: 0% 3% 1% 3%;
    color: white;
}
#headerimg {
    width: 80px;
    height: 80px;
    /*background: url(/Images/charity-logo_23-2147503000.jpg) 0 0 no-repeat;*/
    margin: 10px 30px 10px 0px;
    float: left;
}
.headertext {
    font-size: 2em;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
    /*vertical-align: middle;*/
    line-height: 95px;
    display: inline-block;
    height: 80px;
    display: table-cell;
}
.headertext a {
    font-size: 1.3em;
    font-weight: 700;
    text-decoration: none;
    color: #434343;
    transition: all 0.4s ease-in-out;
}

.topheadermenu {
    display: flex;
    position: absolute;
    right: 100px;
    top: 65px;
    z-index: 5;
    padding: 0 40px 0 0;
}
.topmenumobile.hmenu a {
    outline-offset: -8px;
    text-decoration: none;
    /*padding: 0.65625em 0.875em;*/
    white-space: nowrap;
    color: #434343;
    font-size: 1.3em;
    font-weight: 700;   
}
.topmenubutton.hmenu a {
    outline-offset: -8px;
    text-decoration: none;
    /*padding: 0.65625em 0.875em;*/
    white-space: nowrap;
    color: #434343;
    font-size: 1.3em;
    font-weight: 700;
}

.topmenubutton a {
    outline-offset: -8px;
    text-decoration: none;
    /*padding: 0.65625em 0.875em;*/
    white-space: nowrap;
    color: #434343;
    font-size: 1.3em;
    font-weight: 700;
}

#headerimg .logo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.footer {
    width: 96%;
    background-color: rgb(36,36,36);
    color: white;
    padding: 2%;
    text-align: center;
}
.footermenu {
    display: flex;
    justify-content: center;
    padding: 2%;
}
.footermenu a {
    padding: 0px 20px;
}
.footer a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
#attribution {
    font-size: 0.8em;
}

.padding1{
    padding:1%;
}
.margin1{
    margin-left:50px;
    margin-right:50px;
}