/*
*/
body {
    margin: 0;
    background: #DDE;
    margin-left: 100px;
    margin-right: 100px;
}
h1,
.h1 {
	font-size: 2em;
	margin: 0.67em 0;
	font-weight: bolder;
	text-transform: uppercase;
}
h2,
.h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
	font-weight: bolder;
	text-transform: uppercase;
}
h3 {
	font-size: 1.17em;
	margin: 1em 0;
	font-weight: bolder;
	text-transform: uppercase;
}
h4 {
	font-weight: bolder;
	text-transform: uppercase;	
}
h5 {

	font-weight: bolder;
	text-transform: uppercase;
}
p {
	font-size: 15px;
}
a {
	color: #8085e8;
	outline: none;
	text-decoration: none;
	font-weight: normal;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
.table-responsive {
	overflow-x: auto; 
}
img {
	max-width: 100%;
}
a:focus,
a:hover {
	/*color: #90ef7f;*/
	color: #43C74D;
	text-decoration: none;
}
.btn {
	text-transform: uppercase;
	font-weight: bolder;
}
.btn-default {
	background-color: #90ef7f;
	color: #313131;
	border: 0;
	border-radius: 2px;
}
.btn-default:hover {
	background-color: #90ef7f;
	color: #eeeaea;
}
.btn-sm {
	padding: 13px 18px;
}
button,
.button {
	font-size: 12px;
	line-height: 1;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bolder;
	padding: 13px 18px;
	letter-spacing: 1px;
	background-color: #096;
    color: #eee;
	border: 0;
	border-radius: 2px;
	margin: 1px;
	text-align: center;
	transition: background-color 0.2s, color 0.2s;
	-webkit-transition: background-color 0.2s, color 0.2s;
	-ms-transition: background-color 0.2s, color 0.2s;
	-moz-transition: background-color 0.2s, color 0.2s;
}
button:hover,
.button:hover {
	background-color: #71DB5F;
	color: #fff;
}
button.second,
.button.second {
	background-color: #C9CCFF;
}
button.second:hover,
.button.second:hover {
	background-color: #7C82E7;
}
.pagination>li>a, .pagination>li>span {
	color: #FFFFFF;
	background-color: #555576;
	font-size: 12px;
	border: 1px solid #8A8AAA;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
	color: white;
	background-color: #8085e8;
}
.pagination>li>span:hover, .pagination>li>span:focus {
	background-color: #555576;
}
p.counter {
    font-size: 13px;
    color: #999;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	border-color: #8A8AAA;
}
.box-header,
.box-header>a {
    font-size: 38px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: -1px;
    color: #787D88;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
}
.box-header, 
.box-header>a>i {
	transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
}
.box-header>a>i {
	padding-left: 2px;
}
.box-header>a:hover {
    color: #58BB45;
}
.box-header>a:hover>i {
    color: #58BB45;
    padding-left: 10px;
}
/*
* Menu
*/
#menu {
	background-color: #47475C;
	color: #ffffff;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
	z-index: 2;
    transition: top 0.2s ease-in-out;
    -webkit-transition: top 0.2s ease-in-out;
    -ms-transition: top 0.2s ease-in-out;
    -moz-transition: top 0.2s ease-in-out;
}
#menu.nav-up {
  top: -50px;
}
#menu #menu-second a {
	font-size: 12px;
}
#menu-second .navbar-nav>li>a {
	padding-bottom: 5px;
}
#menu-second .navbar-nav>li>a {
	padding-top: 10px;
}
#menu .navbar-default {
	background-color: inherit;
	color: inherit;
	border-radius: 0;
	border: 0;
	margin-bottom: 0;
}
#menu .navbar-brand {
	height: 50px;
	margin-left: 0;
	padding: 0;
}
#menu .navbar-brand img {
	width: auto;
	height: 130%;
	margin-top: -7px;
}
#menu a {
	font-size: 20px;
	font-weight: normal;
	color: #eeeaea;
	text-transform: uppercase;
}
#menu a.dropdown-toggle:after {
    content: '\f107';
    font-family: 'fontAwesome';
    margin-left: 2px;
}
#menu #menu-main .navbar-nav>li>a {
    font-size: 16px;
    font-weight: 700;
}
#menu #menu-main li.item-101 {
    display: none;
}
#menu a:hover {
	color: #90ef7f;
}
#menu .navbar-default .navbar-nav>.active>a,
#menu .navbar-default .navbar-nav>.active>a:hover,
#menu .navbar-default .navbar-nav>.active>a:focus {
	background-color: inherit;
	color: #8085e8;
	font-weight: bolder;
}
#menu .navbar-default .navbar-nav>.open>a,
#menu .navbar-default .navbar-nav>.open>a:hover,
#menu .navbar-default .navbar-nav>.open>a:focus {
	background-color: #5B6B7A;
	color: #eeeaea;
}
#menu .dropdown-menu {
	background-color: rgba(91, 107, 122, 0.95);
	margin-top: -1px;
	margin-left: -1px;
	border-radius: 0;
}
#menu .dropdown-menu>li>a:hover,
#menu .dropdown-menu>li>a:focus {
	background-color: inherit;
}
#menu .dropdown-menu>.active>a, 
#menu .dropdown-menu>.active>a:hover,
#menu .dropdown-menu>.active>a:focus {
	background-color: inherit;
	font-weight: bold;
}
#menu .dropdown-menu>li>a {
	font-size: 16px;
	text-transform: none;
}

.highcharts-iframe {
	border: none;
}
#menu-container .navbar-nav>li>a {
    height: 50px;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

/*
*Embedded youtube
*/ 
.video-slot {
	padding: 2em;
}
.video-container-outer {
	max-width: 800px;
	margin: 0 auto;
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden;
}
.video-container iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.youtube-container {
   position: relative;
   padding-bottom: 56.25%;
   padding-top: 30px;
   height: 0;
   overflow: hidden;
}
.youtube-container iframe,
.youtube-container object,
.youtube-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
/*
* End: Menu
*/
/*
* Start: Blog Styling
*/
a.blog-item {
    color: #333;
}

a.blog-item:hover {
    color: #777;
}

.card.blog-card {
    width: 100%;
}

.card.blog-card .card-item .card-body {
	min-height: 200px;
    padding-bottom: 15px;
}

.card.blog-card .card-item .card-image {
    background-color: #F6F6F6;
    border-bottom: 1px solid #ddd;
}

a.blog-item:hover .card.blog-card .card-item .card-image {
    background-color: #F9F9F9;
}

.card.blog-card .card-body h2 {
    margin: 0.3em 0;
}

.card.blog-card .card-body h2 a {
    color: #333;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
}

.card.blog-card .card-body h2 a:hover {
    color: #777;
}

.item-page .container .row.blog-info-row {
	padding-bottom: 20px;
}

p.blog-info {
	font-size: 12px;
    font-style: italic;
    color: #9A9AB3;
}

p.blog-info .blog-author {
	font-weight: bold;
}

.card-body p.blog-item-info {
	font-size: 11px;
	color: #777;
}
/*
* End: Blog Styling
*/

/*
* Start: News Styling
*/
.page-searchbar.row {
    padding-bottom: 0;
    margin-bottom: 30px;
}

.page-searchbar {
    margin: 0 auto;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.page-search {
    border: none;
    box-shadow: none;
    background: 0 0;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    outline: none;
}

#page-search-buttons {
    padding-right: 0;
    display: inline-block;
}

#page-search-buttons button {
    float: right;
    background: #fff;
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
    line-height: 40px;
}

#page-search-buttons button#search-summit {
    background: #F1F1F1;
    color: #999;
}

#page-search-buttons button#search-clear {
    color: #ccc;
    font-size: 16px;
}

.news-table {
	margin-bottom: 40px;
}

.news-table tbody tr {
    border-bottom: 1px dotted #aaa;
}

.news-table tbody tr td {
    border: none;
	padding: 5px;
}

.news-table tbody tr td.list-title a {
    font-weight: 700;
}

.news-table tbody tr td.list-date {
    font-size: 12px;
    color: #555;
}

/*
* End: News Styling
*/

.item-page {
	/*max-width: 760px;*/
	margin: auto;
}
.item-page .container .row {
    padding-bottom: 40px;
}
.item-page .container .row h2 {
    margin: 2em 0;
    color: #777;
}
.blog p.counter {
    margin-bottom: 40px;
}
.item-page .container .row.centered-row h2 {
	text-align: center;
}

.item-page img {
	margin-bottom: 30px;
}
.item-page img.banner-image {
    margin-bottom: 50px;
}
.image-wrapper {
	background-color: #f9f9f9;
	padding: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.image-wrapper img {
	margin: 0;
}

.blog img {
	margin-bottom: 30px;
}

.article-info {
	font-size: 14px;
	color: silver;
	margin-bottom: 0;
	display: none;
}

dl.article-info dt {
    display: none;
}

dl.article-info dd {
    font-size: 14px;
    display: inline;
    color: silver;
    margin-bottom: 20px;
}

dl.article-info dd:after {
    content: " \25CF ";
}

dl.article-info dd:last-child:after {
    content: none;
}

hr {
	width: 100%;
	border-top: 1px solid silver;
	display: inline-block;
}


.master-banner-container {
    background-color: #f5f5f5;
}
/*
* Component
#eeeaea
*/
#hs-component {
	background-color: #eeeaea;
	padding: 30px 0;
}
#hs-component>.container {
	background-color: white;
	padding: 0;
	box-shadow: 0 3px 5px #ccc;
}

.revise-date {
    font-size: 12px;
    color: #999;
}

#compability table.datatable {
    margin: 20px 0;
}

/*
* End: Component
*/
/*
* Footer
*/
#footer {
	background-color: #3A3A4F;
	color: #eee;
    line-height: 40px;

}
#footer a {
	color: inherit;
}
#footer a:hover {
	color: #90ef7f;
}
#footer .socials a {
    margin-left: 12px;
    font-size: 18px;
}
#zt-footer-copy {
    font-size: 12px;
    color: #A2A2B3;
}
/*
* End: Footer
*/

/*
======
=== Responsive CSS
======
*/
@media screen and (min-width: 768px) {
	#footer .socials {
		text-align: right;
	}
	#menu .container {
		padding: 0;
	}
	#menu span.toggle-arrow {
		display: none;
	}
	/*#menu-container {
		width: 600px;
		float: right;
	}*/
	#menu-second {
	    float: right;
	}

	#menu-main {
	    float: left;
	}

	#menu .dropdown.active:hover>a,
	#menu .dropdown.active:hover>a:hover,
	#menu .dropdown:hover>a {
		background-color: #5B6B7A;
		color: #eeeaea;
	}
	#menu .dropdown:hover>.dropdown-menu {
		visibility: visible;
		transform: scale(1,1);
		opacity: 1;
	}
	#menu .dropdown-menu {
		padding: 0;
		display: block;
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transform-origin: top;
		transform: scale(1,0);
		transition: all .3s ease-in-out;
	}
	#menu .dropdown-menu a {
		border-bottom: 2px solid #4D5B67;
		text-align: left;
		padding: 10px 20px;
	}
	#menu .dropdown-menu li:last-child a {
		border-bottom: 0;
	}
	#menu .collapse.navbar-collapse {
		padding: 0;
	}
}
@media screen and (max-width: 767px) {
	#menu .container {
		padding-bottom: 30px;
		padding-top: 30px;
	}
	#menu .navbar-header {
		position: relative;
		margin: 0 -15px;
	}
	#menu .navbar-header .navbar-toggle {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0;
		height: 50px;
		width: 50px;
		font-size: 30px;
		line-height: 50px;
		text-align: center;
		padding: 0;
		color: #eeeaea;
		border: 0;
		border-radius: 0;
		cursor: pointer;
		-moz-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		-moz-transition: -moz-transform 250ms ease-out 0s;
		-ms-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
		-o-transition: -o-transform 250ms ease-out 0s;
		-webkit-transform: rotate(-180deg);
		-webkit-transition: -webkit-transform 250ms ease-out 0s;
		transform: rotate(-180deg);
		transition: transform 250ms ease-out 0s;
		background-color: #5B6B7A;
	}
	#menu .navbar-header .navbar-toggle:hover {
		color: #90ef7f;
	}
	#menu .navbar-header .navbar-toggle.collapsed {
		-moz-transform: rotate(0deg);
		-moz-transition: -moz-transform 250ms ease-out 0s;
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-o-transition: -o-transform 250ms ease-out 0s;
		-webkit-transform: rotate(0deg);
		-webkit-transition: -webkit-transform 250ms ease-out 0s;
		transform: rotate(0deg);
		transition: transform 250ms ease-out 0s;
		background-color: inherit;
	}
	#menu .navbar-header .navbar-toggle.collapsed:after {
		font-family: "FontAwesome";
		content: '\f0c9';
	}
	#menu .navbar-header .navbar-toggle:after {
		font-family: "FontAwesome";
		content: '\f00d';
	}
	#menu a.dropdown-toggle:after {
		display: none;
	}
	/*#menu .navbar-brand {
		width: 75%;
	}*/
	#menu .navbar-brand {
		height: 50px;
	}
	#menu .navbar-brand img {
	    width: auto;
	    height: 150%;
	    margin-top: -7px;
	}
	#menu .dropdown span.toggle-arrow:after {
		font-family: "FontAwesome";
		content: '\f105';
	}
	#menu .dropdown.open span.toggle-arrow:after {
		font-family: "FontAwesome";
		content: '\f107';
	}
	#menu .navbar-collapse {
		border: 0;
		background-color: #47475C;
		text-align: right;
		padding: 0;
	}
	#menu ul.navbar-nav {
		float: none !important;
		text-align: center;
	}
	#menu .dropdown-menu {
		text-align: center;
		padding-bottom: 15px;
		background-color: #56566C;
	}
	#menu .dropdown-menu>li>a {
		font-size: 14px;
		padding: 10px 0;
	}
	#menu .navbar-nav {
		margin: 0;
	}
	#menu .nav>li {
		border-bottom: 2px solid #5A5A6E;
	}
	#menu-container .navbar-nav>li>a {
	    height: 50px;
	    line-height: 50px;
	}
	#menu #menu-main .navbar-nav>li>a, #menu #mobile-second .navbar-nav>li>a {
	    font-size: 16px;
	    font-weight: 500;
	}
	#hs-component {
		padding: 0;
	}
	#footer {
		text-align: center;
	}
}

.page-banner, .item-page>h1 {
    font-size: 2.3em;
    font-weight: 300;
    padding: 40px 120px;
    line-height: 1.5;
    background-color: #DEDEEC;
    color: #77779D;
    margin-top: 0;
    margin-bottom: 40px;
    margin-right: 0;
    text-align: center;
    text-transform: none;
}

/*
==================
=== Full banner styling
==================
*/

.full-banner>#menu {
	z-index: 2;
}

.full-banner>#hs-component {
	z-index: 1;
	position: relative;
	padding: 0 0 30px 0;
}

.full-banner>#hs-component:before {
    font-size: 2.3em;
    font-weight: 300;
    padding: 80px 20px;
    background-color: #DEDEEC;
    color: #77779D;
    margin-top: 0;
    text-align: center;
    text-transform: none;
    content: ' ';
    visibility: hidden;
    width: 100%;
    display: block;
}

/*This is invisible placeholder to tell the banner the height of the texts,
so that it will push the page down if the texts are in multiple line. The content
here should be the same with the texts in <h1> tag */

.hc-product-page #hs-component:before {
	content: 'Highcharts product';
}

.hs-product-page #hs-component:before {
	content: 'Highstock product';
}

.hm-product-page #hs-component:before {
	content: 'Highmaps Javascript maps';
}

/*This is where you set the background image for the banner, using the page specific class
Also set font color if necessary
*/

.hc-product-page .item-page>h1 {
	background-image: url('/images/stories/features/hc-slide.jpg');
	color: #eee;
}

.hs-product-page .item-page>h1 {
	background-image: url('/images/stories/features/hs-slide.jpg');
	color: #eee;
}

.hm-product-page .item-page>h1 {
	background-image: url('/images/stories/features/hm-slide.jpg');
	color: #eee;
}

.full-banner .page-banner, .full-banner .item-page>h1 {
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
	padding: 80px 20px 140px 20px;
	line-height: 1.3;
	z-index: -1;
	background-size: cover;
	background-position: center;
}

/*
==================
=== Plugin pages
==================
*/

.item-page .breadcrumbs {
    margin-top: -40px;
    margin-bottom: 40px;
    padding: 5px 20px;
    background-color: #EFEFF3;
}

.plugin-sidebar.side-bar p, .plugin-sidebar.side-bar a {
    font-size: 13px;
}

ul.plugin-option-menu, ul.plugin-demo-menu {
    margin: 0;
    padding: 0;
}

ul.plugin-option-menu li, ul.plugin-demo-menu li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    list-style: none;
    list-style-type: none;
}

ul.plugin-demo-menu li {
	border-bottom: none;
}

ul.plugin-option-menu li>a>i {
    font-size: 18px;
    margin-right: 10px;
}

.plugin-item {
    background: #ddd;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-right: 10px;
    box-shadow: 0 1px 3px #a2a2a2;
}

.plugin-item>i {
    width: 30px;
    text-align: center;
    background: #eee;
    height: 30px;
    line-height: 31px;
    margin-right: 5px;
}

ul#plugin-dependencies-list {
    font-size: 13px;
    margin: 0;
}

ul#plugin-dependencies-list>li {
    list-style-type: none;
}

ul#plugin-dependencies-list>li>ul>li {
    list-style-type: disc;
}

/*
==================
=== Changelog page
==================
*/

.changelog-container {
    position: relative;
    padding-left: 60px;
}

.changelog-container:before {
    content: ' ';
    position: absolute;
    left: 28px;
    height: 100%;
    width: 4px;
    background-color: #57B95F;
}

.changelog-container>p {
    position: relative;
    font-weight: 700;
    color: #57B95F;
}

.changelog-container>p:before {
    content: ' ';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #57B95F;
    left: -42px;
}

.changelog-container .panel-heading .panel-title {
	font-size: 14px;
	text-transform: none;
}

.changelog-container .panel-heading .panel-title a {
	font-weight: 700;
}

/*
==================
=== About Us page
==================
* TODO: find better logic for this
*/

#about-us h1,
#about-us h2,
h1.center,
h2.center {
  text-align: center;
}
#about-us #company-container img {
  width: 100%;
}
#about-us .image-container {
  text-align: center;
}
/* Company section */

/*
==================
=== Product pages
==================
*/

.item-page .product-page img {
    margin: 0 15px 5px 0;
    box-shadow: 0 1px 3px #aaa;
}

/* Numbers section */
#about-us #numbers-container {
  text-align: center;
}

#about-us #numbers-container .row, .row.light-gray {
  background-color: #f2f2f3;
}
#about-us #numbers-container p {
  text-align: left;
  box-sizing: content-box;
}
#about-us #numbers-container .card {
	min-height: 200px;
}
#about-us #numbers-container .card-item {
	box-shadow: none;
	border: none;
}
#about-us #numbers-container .card-item .card-header {
	font-size: 32px;
	font-weight: 300;
	color: #26D685;
	background-color: transparent;
}

/*Sustainability section*/
#sustainability-container {
    position: relative;
    overflow: hidden;
    background-color: #F1FBEC;
}
#sustainability-container:before {
    content: '\f1b8';
    font-family: 'fontAwesome';
    position: absolute;
    top: -82px;
    left: -20px;
    font-size: 200px;
    color: #D8F1D0;
    z-index: 0;
}


/* Employee section */
/*#about-us #employees-container {
  text-align: center;
}
#about-us .employee {
  display: inline-block;
  width: 210px;
  margin: 15px;
  vertical-align: top;
}
#about-us .employee .image-container {
  padding: 5px;
}
#about-us .employee .image-container.no-image {
  height: 210px;
}
#about-us .employee .image-container img {
  max-height: 200px;
  max-width: 200px;
  background-color: #eeeaea;
  margin-bottom: 0;
}
#about-us .employee .description p {
  text-align: left;
}
#about-us .employee p.name {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}*/
#employees-container .card {
	min-height: 420px;
}
#employees-container .card .card-image {
	background-position: right 0px;
	background-color: white;
}

#employees-container .card .card-body {
	background-color: white;
}

#products-container h2 {
   text-align: center;
}

/*CARD SYSTEM*/

.card {
   display: block;
   vertical-align: top;
   box-sizing: border-box;
   margin-bottom: 30px;
}

.boxHolder .card {
   width: 100%;
}

.card-item {
    box-shadow: 0 2px 1px #e5e5e5;
    border: 1px solid #ddd;
}

.card-item .card-header {
    background: #EAEAF1;
    padding: 20px 10px;
    text-align: center;
    font-weight: bold;
    color: #656279;
}

.item-page .container .row .card-header h2, .card-header h2 {
    margin: 0.3em 0;
    color: #77779d;
    letter-spacing: 1px;
    font-size: 1.2em;
}

.card-image {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#employees-container .card .card-image {
	height: 250px;
	background-position-y: 0;
    background-position-x: right;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #f5f5f5;
}

/*
#employees-container .card .card-image:after {
    position: absolute;
    content: ' ';
    bottom: -50%;
    right: -50%;
    background-color: rgba(129, 132, 231, 0.54);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#employees-container .card:hover .card-image:after {
	opacity: 1;
	width: 200%;
	height: 200%;
}

*/

.card-body p.card-title {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    text-align: center !important;
}

.card-body {
    padding: 15px 15px 5px 15px;
    font-size: 13px;
}

.card-footer {
    padding: 15px 15px 5px 15px;
    font-size: 13px;	
	background: #f2f2f2;
    border-top: 1px solid #DDD;
}

.card-body p {
    font-size: 14px;
}

.card-body p.extra-secondary-info {
    background-color: #e7e7e7;
    padding: 10px;
    font-size: 12px;
}

.card.horizontal-card {
	display: inline-block;
}

.card.horizontal-card .card-item {
	position: relative;
}

.card.horizontal-card .card-image, .card.horizontal-card .card-header {
    height: 100%;
    width: 20%;
    box-sizing: border-box;
    position: absolute;
    padding: 0;
}

.card.horizontal-card .card-header .card-icon {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.card.horizontal-card .card-header .card-icon:before {
    font-family: 'fontAwesome';
    font-size: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    line-height: 100%;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
}

.card.horizontal-card .card-body {
    width: 100%;
    padding-left: 25%;
    box-sizing: border-box;
}

.card-body h2 {
	text-transform: none;
	text-align: left;
}

.card a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;	
}

/* Wrapper page */

ul.wrapper-list {
    margin: 0 -15px;
    padding: 0;
    list-style-type: none;
}

ul.wrapper-list.official-wrapper {
    margin: 0;
}

ul.wrapper-list.community-wrapper li {
    padding: 5px 15px 5px 35px;
    border-top: 1px solid #ddd;
}

ul.wrapper-list.community-wrapper li:first-child {
    border-top: none;
}

ul.wrapper-list.official-wrapper li {
    background: #f5f5f5;
    box-shadow: inset -20px 0 30px white;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position-x: 98%;
    background-position-y: center;
}

ul.wrapper-list.official-wrapper li a {
	font-weight: bold;
} 

ul.wrapper-list.community-wrapper > li > a:first-child {
    display: inline-block;
    position: relative;
}

ul.wrapper-list.community-wrapper > li > a:first-child:before {
    content: " ";
    position: absolute;
    width: 23px;
    height: 23px;
    left: -27px;
    top: 0px;
    background-color: rgb(71, 71, 92);
    opacity: 0.2;
    border-radius: 50%;
    z-index: 0;
}

ul.wrapper-list.community-wrapper > li > a:first-child:first-letter {
    text-shadow: -20px 0 0 #47475c;
}

#api-wrappers .card-item {
    border: 2px solid #61BC7B;
}

#api-wrappers .card-item .card-header {
    background: #61BC7B;
    color: white;
}

#api-wrappers .card-item .card-header h2,
#app-wrappers .card-item .card-header h2,
#export-handlers .card-item .card-header h2 {
    color: white;
}

#app-wrappers .card-item {
    border: 2px solid #59B8EC;
}

#app-wrappers .card-item .card-header {
    background: #59B8EC;
    color: white;
}

#export-handlers .card-item {
    border: 2px solid #77758c;
}

#export-handlers .card-item .card-header {
    background: #77758c;
    color: white;
}

#dotnet-wrapper {
	background-image: url('/images/stories/wrappers/dotnet-logo.png');
}

#ios-wrapper {
	background-image: url('/images/stories/wrappers/ios-logo.png');
}

#hc-editor-wrapper {
	background-image: url('/images/stories/wrappers/hc-editor-logo.png');
	padding-right: 80px;
}

#java-wrapper {
	background-image: url('/images/stories/wrappers/java.png');
}

#nodejs-wrapper {
	background-image: url('/images/stories/wrappers/nodejs-logo.png');
}

/* Facts section */
#about-us #facts-container {
  word-break: break-word;
}

/* Press section */
#about-us #press-container {
  width: 50%;
}
@media screen and (max-width: 767px) {
  #about-us .employee .image-container.no-image {
    height: auto;
  }
  #about-us #facts-container,
  #about-us #press-container {
    width: 100%;
    float: none;
  }
  #about-us #numbers-container p {
    width: auto;
    min-height: 0px !important;
  }
}
/*
=======================
=== END About Us page
=======================
*/
/*
=======================
=== Product Pages
=======================
*/
.text-center {
  text-align: center;
}
.product-buttons .button {
  max-width: 200px;
  width: 100%;
}
.product-intro{
    font-weight: 700;
    margin: 0 0 30px 0;
    color: #807B9E;
}
/*
=======================
=== END Product Pages
=======================
*/
.download-button-row>div {
    display: inline-block;
    margin: 10px 0 12px 0;
}
/*
==================
=== Download pages
==================
*/

#mc_embed_signup>form>div {
    margin-bottom: 10px;
}

div#download-info>.row,  div#download-info>.row>.row {
    padding-bottom: 0;
}

#download-info h4 {
    margin-top: 25px;
}

/*
==================
=== END Download pages
==================
*/
.datatable th, .datatable td {
  border: 1px solid silver;
  padding: 2px 5px;
}
.datatable th {
  text-align: left;
}
.intro h4 {
	clear: both;
	padding-top: 1em;
}
.intro img {
	margin-bottom: 1em;
	border: 1px solid silver;
	max-width: 164px;
}
.intro img.float-left {
	margin-right: 2em;
}
.intro img.float-right {
	margin-left: 2em;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
table.category {
	width: 100%;
}
table.category .cat-list-row1 {
	background-color: #F6F5F5;
}

/*
====
===
====
*/

/* Sidebar */
#hs-component > div.sidebar-container {
	padding: 0;
}
.nav-sidebar {
	margin: 0 -15px;
}
.nav-sidebar > li {
	display: block;
	background-color: #3A3A4F;
	border-top: 1px solid #34343e;
	color: #A9A5BF;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
.nav-sidebar > li:hover {
	color: #D2CDEA;
}
.nav-sidebar > li:first-child {
	border-top: none;
}
.nav-sidebar > li:last-child {
	border-bottom: 1px solid #34343e;
}
.nav-sidebar > li.active {
	background-color: #3A3A4F;
}
.nav-sidebar > li > div {
	position: relative;
	padding: 10px;
	padding-right: 40px;
	cursor: pointer;
}

/* PAGE SIDE BAR */

.side-bar {
    padding-left: 15px;
}

.content-title {
    text-transform: none;
}

.content-body, .content-body p {
    font-size: 13px;
}

.side-bar .content {
    border-top: 1px dotted #bbb;
    padding-top: 15px;
    padding-bottom: 15px;
}

.side-bar .content:first-child {
    border-top: none;
    padding-top: 0;
}

.side-bar .content:last-child {
    padding-bottom: 40px;

}

.feedburnerFeedBlock ul{
	list-style: none;
	font-size: 17px;
	margin-left: 0px;
}
.feedTitle {
	display: none;
}

.feedburnerFeedBlock ul li div{
	display: none;
}

.feedburnerFeedBlock ul li {
	margin-bottom: 8px;
}

#creditfooter {
	display: none;
}


.feedburnerFeedBlock ul li p{
	font-size: 15px;
	color: #8A8A8A;
	margin: 0px;
}

/* Toggle */
.toggle {
	position: absolute;
	right: 10px;
	top: 10px;
}
.active > .toggle::after {
	font-family: "FontAwesome";
	content: '\f107';
}
.toggle::after {
	font-family: "FontAwesome";
	content: '\f105';
}
.nav-sidebar > li > ul {
	/*display: none;*/
}
.nav-sidebar > li > ul {
	/*display: block;*/
	list-style: none;
	margin: 0;
}
.nav-sidebar > li > ul > li {
	text-transform: none;
	line-height: 1;
	position: relative;
}

.nav-sidebar > li > ul > li.new-demo:before {
	content: 'New';
    background: #6B6FD0;
    padding: 4px 5px;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 10px;
    text-transform: uppercase;
    color: #eee;
}
.nav-sidebar > li > ul > li:hover {
    background: #48485A;
}
.nav-sidebar > li > ul > li.active {
    background: #8F85E8;
    position: relative;
}
.nav-sidebar > li.active > ul > li.active::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 0px;
	top: 7px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #eee;
    z-index: 1;
}
.sidebar-container .sidebar-wrapper .nav-sidebar > li.active > ul > li.active::after {
	border-right: 10px solid #fff;
}
.nav-sidebar > li > ul > li > a {
	color: #CAD5E7;
	font-size: 13px;
	font-weight: 500;
	padding: 10px 20px;
	display: block;
}
.nav-sidebar > li.active > ul > li > a:focus, 
.nav-sidebar > li.active > ul > li > a:hover {
	color: #90ef7f;
}
.nav-sidebar > li.active > ul > li.active > a {
	color: #eee;
}
.sidebar-wrapper {
	position: relative;
	z-index: 0;
}
.sidebar {
	z-index: 2;
	background-color: #3A3A4F;
}
.sidebar-eq {
	z-index: 1;
	/*background-color: white;*/
}
.sidebar-fill {
	position: absolute;
	height: 100%;
	background-color: #3A3A4F;
	left: 0;
	top: 0;
	z-index: 0;
}
.sidebar-eq-fill {
	position: absolute;
	height: 100%;
	/*background-color: white;*/
	right: 0;
	top: 0;
	z-index: 0;
}
.sidebar-eq .item-page {
	margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar-eq .item-page h1 {
    background-color: transparent;
    text-align: left;
    padding: 0;
    font-weight: 300;
    margin: 0.67em 0;
    font-size: 2em;
    color: #333;
}

.sidebar-eq .item-page h2 {
    color: #777;
    font-size: 1.2em;
    margin-top: 1.5em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #f5f5f5;
}

.sidebar-eq .item-page .article-info {
	display: none;
}

@media screen and (max-width: 1200px) {
	.page-banner, .item-page>h1 {
	    padding: 40px 80px;
	}
}

@media screen and (max-width: 960px) {
	.page-banner, .item-page>h1 {
	    padding: 40px 40px;
	    font-size: 2em;
	}
}

@media screen and (max-width: 768px) {
	#highcloud-demo-box img {
   		height: auto;
	}
	.sidebar-wrapper {
		position: relative;
		overflow: hidden;
		z-index: 0;
	}
	.sidebar-wrapper .sidebar {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9;
		visibility: hidden;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;	
	}
	.sidebar-wrapper.toggled .sidebar {
		visibility: visible;
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
	}
	.toggled .nav-sidebar > li.active > ul > li.active::after {
		display: none;
	}
	.sidebar-wrapper .sidebar-eq {
		position: relative;
		left: 0;
		z-index: 10;
		padding-top: 42px;
		/*height: 100%;*/
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;		
		background-color: white;
	}
	.sidebar-wrapper.toggled .sidebar-eq {
		-webkit-transform: translate3d(75%, 0, 0);
		transform: translate3d(75%, 0, 0);
	}
	.sidebar-wrapper.toggled .sidebar-eq:after {
		width: 100%;
		height: 100%;
		opacity: 1;
		-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;
	}
	.sidebar-wrapper .sidebar-eq:after {
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		background: rgba(0,0,0,0.2);
		content: '';
		opacity: 0;
		-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
		transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	}
	#sidebar-toggle {
		position: absolute;
		top: 0;
		left: 0;
		background-color: #3A3A4F;
		color: white;
		border-radius: 0;
		z-index: 100;
		cursor: pointer;
		padding: 10px;
		visibility: visible;
	}
	.sidebar-eq>#sidebar-toggle {
		right: 0;
	}
	#sidebar-toggle:before {
		content: "More...";
	}
	.toggled #sidebar-toggle:before {
		content: "Hide Sidebar";
	}
	.item-page .container .row h2:first-child {
		margin-top: 1em;
	}
	#menu .navbar-default .navbar-nav>.open>a,
	#menu .navbar-default .navbar-nav>.open>a:hover,
	#menu .navbar-default .navbar-nav>.open>a:focus {
		background-color: #56566C;
	}
	#employees-container .card .card-image {
		height: 150px;
	}
	#employees-container .card {
	    min-height: 360px;
	}
	.side-bar {
	    padding-left: 0;
	}
	.item-page #contact-email .container .row h2 {
    	margin: 1em 0;
	}
	.page-banner, .item-page>h1 {
	    padding: 40px 20px;
	}
	#about-us #company-container img {
		margin-bottom: 0;
	}
	.item-page .container .row h2:first-child {
	    margin-top: 1em;
	}
	#employees-container .card.col-sm-4:nth-child(even) {
	    clear: both;
	}
}

@media screen and (max-width: 500px) {
	.intro img {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	#page-search-buttons button {
	    padding-left: 5px;
	    padding-right: 5px;
	}
}