﻿@using BuisnessEntities.Utilities
@using BuisnessEntities.Entities
@model ListModel<ACNCModel>
@{
    ViewBag.Title = ViewBag.Heading;
    string resultFor = ViewBag.Heading;
}

@section Scripts {
    <script>
            $(document).ready(function () {
                paging.pageSize = parseInt(@Model.FilterCriteriaModel.PageSize);
                paging.currentPage = 0;
                PageNumbering(parseInt(@Model.PagingResult.TotalResults));
            });
    </script>
}
<style>
    .table-container{
     
    }
    #ListResult{
           
    }
</style>
<link href="~/Content/Donate.css" rel="stylesheet" />
<div><br></div>
<div class="container padding1">
    <h2 class="title-style-1">Charities Assisting @resultFor <span class="title-under"></span></h2>
    <div class="clear"></div>
    <div class="resulttablediv padding1 margin1">
        <div class="table-container">
            <form method="post" id="search-form" onsubmit="Paging($(this).find('button[type=submit]')); return false;">
                @Html.Hidden("CategoryId", Model.FilterCriteriaModel.categoryid)
                @Html.Hidden("SearchColumn", Model.FilterCriteriaModel.SearchColumn)
                @Html.Hidden("PageSize", Model.FilterCriteriaModel.PageSize)
                @Html.Hidden("PageIndex", Model.FilterCriteriaModel.PageIndex)
                <div id="ListResult">
                    @Html.Partial("_LoadResultTest", Model.PagingResult.DataList)
                </div>
                @Html.Partial("_Paging")
            </form>
        </div>
    </div>
</div>

    <script>

        function Paging(sender) {
            $('#PageIndex').val(paging.currentPage);
            $.ajaxExt({
                url: '/Donation/GetACNCDetails',
                type: 'POST',
                showErrorMessage: true,
                //validate: true,
                formToPost: $('#search-form'),
                messageControl: $('span.msg-popup'),
                formToValidate: $('#search-form'),
                showThrobber: true,
                throbberPosition: { my: "left center", at: "right center", of: $(sender), offset: "5 0" },
                containFiles: true,
                success: function (data, msg) {
                    PageNumbering(data.TotalResults);
                    $('#ListResult').html(data.Data);
                }
            });
            return false;
        }
    </script>

