﻿@using BuisnessEntities.Utilities
@using BuisnessEntities.Entities
@model ListModel<ACNCModel>
@{
    ViewBag.Title = "Donate";
}

<link href="~/Content/Donate.css" rel="stylesheet" />
<link href="~/Content/searchbtn.css" rel="stylesheet" />
@section Scripts {
    <script>
       var modal = document.getElementById('myModal');

       // Get the button that opens the modal
       var btn = document.getElementById("myBtn");

       // Get the <span> element that closes the modal
       var span = document.getElementsByClassName("close")[0];

       // When the user clicks the button, open the modal
       btn.onclick = function () {
           modal.style.display = "block";
       }

       // When the user clicks on <span> (x), close the modal
       span.onclick = function () {
           modal.style.display = "none";
       }
    $(document).ready(function () {
        $("#SearchColumn").val('');
        var x = $("#mainview");
             paging.pageSize = parseInt(@Model.FilterCriteriaModel.PageSize);
             paging.currentPage = 0
             PageNumbering(parseInt(@Model.PagingResult.TotalResults));

            $("#search").on('click', function (e) {
                var searchbox = $("#searchbox");
                if (searchbox.css('display') == 'none') {
                    searchbox.fadeIn('slow');
                } else {
                    searchbox.fadeOut('slow');
                    $("#SearchColumn").val('');
                    Paging($('form#search-form').find('button[type=submit]'));
                }
             });
            $("div.close").on('click', function (e) {
                $(this).parent().fadeout('slow');
            });
        });

    function searchData() {
        $("#SearchColumn").val($("#Search").val());
        Paging($('form#search-form').find('button[type=submit]'));
    }

    </script>
}
<style>
    .CategoryIcon {
        font-size: 67px;
        color: #333333;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>



<div><br /></div>

<div class="our-team">

    <div class="container">

        <h2 class="title-style-1">Browse Charities In Glen Eira By Category <span class="title-under"></span></h2>

        <div class="category-hot-topic">
            <div class="category clearfix" style="overflow: hidden;">
                <div class="row">

                    <div class="col-md-3 col-sm-6">

                        <div class="cat-box">
                            <a href='@Url.Action("Category","Donation",new { Category=1})'><img alt="animal category logo" src="~/Images/Donate/Animal.png"></a>
                            <h3><a href='@Url.Action("Category","Donation",new { Category=1})' style="font-size:20px"><strong>Animals</strong></a></h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="cat-box">
                            <a href='@Url.Action("Category","Donation",new { Category=9})'>
                                <img alt="Homeless People" src="~/Images/Donate/Homeless.png">
                                @*  <span class="fa fa-home CategoryIcon"></span>*@
                            </a>
                            <h3><a href='@Url.Action("Category","Donation",new { Category=9})' style="font-size:20px;text-align:center"><strong>Homeless People </strong> </a></h3>
                        </div>
                        </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="cat-box">
                            <a href='@Url.Action("Category","Donation",new { Category=6})'>
                                <img alt="international category logo" src="~/Images/Donate/PublicWelfare.png">
                            </a>
                            <h3><a href='@Url.Action("Category","Donation",new { Category=6})' style="font-size:20px;text-align:center"><strong> Community Development </strong></a></h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="cat-box">
                            <a href='@Url.Action("Category","Donation",new { Category=8})'><img alt="Education category logo" src="~/Images/Donate/Education.png"></a>
                            <h3><a href='@Url.Action("Category","Donation",new { Category=8})' style="font-size:20px"><strong> Education </strong></a></h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="cat-box">
                            <a href='@Url.Action("Category","Donation",new { Category=2})'><img alt="environment category logo" src="~/Images/Donate/Environment.png"></a>
                            <h3><a href='@Url.Action("Category","Donation",new { Category=2})' style="font-size:20px"><strong>Environment</strong></a></h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="cat-box">
                            <a href='@Url.Action("Category","Donation",new { Category=7})'><img alt="health category logo" src="~/Images/Donate/Health.png"></a>
                            <h3><a href='@Url.Action("Category","Donation",new { Category=7})' style="font-size:20px"><strong>Health</strong></a></h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="cat-box">
                            <a href='@Url.Action("Category","Donation",new { Category=5})'>
                                <img alt="Aged People" src="~/Images/Donate/Aged people.png">
                                @*   <span class="fa fa-users CategoryIcon"></span*@
                            </a>

                            <h3><a href='@Url.Action("Category","Donation",new { Category=5})' style="font-size:20px"><strong>Aged People</strong></a></h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="cat-box">
                            <a href='@Url.Action("Category","Donation",new { Category=3})'>
                                <img alt="Human Disability" src="~/Images/Donate/Disability.png">
                                @* <span class="fa fa-wheelchair CategoryIcon"></span>*@
                            </a>
                            <h3><a href='@Url.Action("Category","Donation",new { Category=3})' style="font-size:20px"><strong>Human Disability</strong></a></h3>
                        </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="cat-box">
                            <a href='@Url.Action("Category","Donation",new { Category=4})'><img alt="religion category logo" src="~/Images/Donate/Religion.png"></a>
                            <h3><a href='@Url.Action("Category","Donation",new { Category=4})' style="font-size:20px"><strong>Religion</strong></a></h3>
                        </div>
                        </div>
                </div>
              </div>

            </div> <!-- /.row -->
        </div>

    </div>



<script>


    function Paging(sender) {
        $('#PageIndex').val(paging.currentPage);
        $.ajaxExt({
            url: '/ACNC/GetACNCDetails',
            type: 'POST',
            showErrorMessage: true,
            //validate: true,
            formToPost: $('#search-form'),
            messageControl: $('span.msg-popup'),
            formToValidate: $('#search-form'),
            showThrobber: true,
            throbberPosition: { my: "left center", at: "right center", of: $(sender), offset: "5 0" },
            containFiles: true,
            success: function (data, msg) {
                PageNumbering(data.TotalResults);
                $('#ListResult').html(data.Data);
            }
        });
        return false;
    }
</script>
