﻿@model BuisnessEntities.Entities.ResultModel
@{
    ViewBag.Title = "Result page";
}


@*
    <link href="~/Scripts/cn/general.css" rel="stylesheet" />
    <link href="~/Scripts/cn/responsive.css" rel="stylesheet" />*@
@*
    <link href="~/Scripts/cn/style.css" rel="stylesheet" />*@
@*
    <link href="~/Content/bootstrap3.2.0.min.css" rel="stylesheet" />*@
@*
    <link href="~/Content/template.css" rel="stylesheet" />*@

<script src="~/Scripts/Chart.min.js"></script>
<style>
    .anchorBtn {
        background-color: #096;
        color: #eee !important;
        display: block;
        width: 18em;
        padding: 0.5em;
        line-height: 1.4;
        /* background-color: #94B8E9; */
        /* border: 1px solid black; */
        color: #eee;
        text-decoration: none;
        text-align: center;
    }

    .search-tr {
        box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 12px 0px rgba(0,0,0,0.19);
        border-radius: 5px;
    }

    .padding {
            padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 20px;
        margin: 0px;
        /* background-image: url(https://d20umu42aunjpx.cloudfront.net/_gfx_/background/search_list_back.jpg); */
        background-repeat: repeat-x;
        background-position: bottom;
    }

    div.padding h3 {
        padding: 0px;
        font-size: 1.4em;
        margin-bottom: 10px;
        margin-left: 0px;
        font-weight: bold;
    }
</style>
<div></div>
<div id="bodywrap">
    <div id="cn_body">
        <div id="cn_body_inner" class="body-container"
			<div id="maincontent">
				<div id="maincontent2">
					<div class="topwrapper">
						<div class="aside">
							<h2 class="title-style-1"><strong>
    @Model.CharityName</strong>
        <span class="title-under"></span>
</h2>
						</div>
					</div>
					<table width="100%" border="0" cellspacing="5" cellpadding="0" class="highlight-matches cn-disappear" style="border-spacing:10px !important;">
						<tbody style="font-size:18px">
							<tr class="search-tr ein-232822856" data-ein="232822856">
								<td class="highlight-matches">
									<div class="padding">
										<h3 class="charity-name-desktop">
											<a>@Model.CharityName</a>
										</h3>
										<p class="category">
											<strong>Location:</strong>
                                            @Model.Address
		                            	<br>
												<strong>
                                                Main Activity:
                                            </strong> @Model.Main_Activity
												<br>
													<strong>

                                                Contact Number:

                                            </strong>
                                            
													
														
                                                            @if (@Model.Phone_number != null)
                                                            {
                                                                <span>@Model.Phone_number </span>
                                                            }
                                                            else
                                                            {
                                                                <span>Not Available</span>
                                                            } 
                                                            <br />
                                            <strong>
                                                Website details:

                                            </strong>
														<span class="tagline">
															<span class="location">
                                                                @if (@Model.website != null)
                                                                {
                                                                    <span><a target="_blank" href="@Model.website"> @Model.website</a> </span>
                                                                }
                                                                else
                                                                {
                                                                    <span>Not Available</span>
                                                                }
                                                                <br />
                                                                
															</span>
														</span>
													</p>
												</div>
											</td>
											<td valign="middle" class="details-wrapper">
												<th nowrap="nowrap" scope="row">
													<a name="ein-232822856"></a>
													<td>
														<br>
															<br>
																<br>
																</th>
															</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
														</tr>
														<tr class="search-tr ein-232822856" data-ein="232822856">
															<td class="highlight-matches">
																<div class="padding">
																	<h3 class="charity-name-desktop">
																		<a> Description</a>
																	</h3>
																	<p> @Model.Description</p>
																</div>
															</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
														</tr>
														<tr class="search-tr ein-232822856" data-ein="232822856">
															<td class="highlight-matches">
																<div class="padding">
																	<h3 class="charity-name-desktop">
																		<a> Staff Profile</a>
																	</h3>
																	<p>
																		<div id="chart_conatiner">
																			<canvas id="Pie1" width="200" height="200" class="chartjs-render-monitor" style="display: block; width: 300px; height:300px;"></canvas>
																		</div>
																	</p>
																</div>
															</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
														</tr>
														<tr class="search-tr ein-232822856" data-ein="232822856">
															<td class="highlight-matches">
																<div class="shadedtable cn-accordion-rating">
																	<div class="padding">
																		<h3 class="charity-name-desktop">
																			<a>

                                                    Financial Performance Metrics

                                                </a>
																		</h3>
																		<div class="accordion-item-bd">
																			<table width="100%" border="0" cellpadding="3" cellspacing="5">
																				<tbody>
																					<tr>
																						<td>&nbsp;</td>
																					</tr>
																					<tr class="search-tr ein-232822856" data-ein="232822856">
																						<td class="highlight-matches">
																							<strong>Income Generated From Various Sources</strong>
																							<table  style="width:100%;text-align:center">
																								<tr style="padding:105px;text-align:center;">
																									<td>
																										<h3>
																											<Strong>Government Grants</Strong>
																										</h3>
																									</td>
																									<td>
																										<h3>
																											<Strong>Donation and Bequest</Strong>
																										</h3>
																									</td>
																									<td>
																										<h3>
																											<Strong>Other Revenue</Strong>
																										</h3>
																									</td>
																								</tr>
																								<tr style="font-size:40px;padding:105px;text-align:center;color:#336699">
																									<td>$ @Int32.Parse(Model.Government_grants).ToString("#,##0") </td>
                                                                                                    <td>$ @Int32.Parse(Model.Donation).ToString("#,##0") </td>
                                                                                                    <td>$ @Int32.Parse(Model.Revenue).ToString("#,##0") </td>
																								
																								</tr>
																							</table>
																						</td>
																					</tr>
																					<tr>
																						<td>&nbsp;</td>
																					</tr>
																					<tr class="search-tr ein-232822856" data-ein="232822856">
																						<td class="highlight-matches">
																							<strong>Expenses Made</strong>
																							<table style="width:100%;text-align:center">
																								<tr >
																									<td>
																										<h3>
																											<Strong>Employee Expenses</Strong>
																										</h3>
																									</td>
																									<td>
																										<h3>
																											<Strong>Interest Expenses</Strong>
																										</h3>
																									</td>
																									<td>
																										<h3>
																											<Strong>Other Expenses</Strong>
																										</h3>
																									</td>
																								</tr>
																								<tr style="font-size:40px;text-align:center;color:#336699">
                                                                                                    <td>$ @Int32.Parse(Model.employee_expenses).ToString("#,##0") </td>
                                                                                                    <td>$ @Int32.Parse(Model.Interest_expenses).ToString("#,##0") </td>
                                                                                                    <td>$ @Int32.Parse(Model.other_expenses).ToString("#,##0") </td>
																								
																								</tr>
																							</table>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</div>
																	</div>
																</label>
															</div>
														</td>
													</tr>
													<tr>
														<td>&nbsp;</td>
													</tr>
                           @if ( Model.current_assets != "0" || Model.non_current_assets != "0")
                           {

													<tr class="search-tr ein-232822856" data-ein="232822856">
														<td class="highlight-matches">
															<div class="padding">
																<h3 class="charity-name-desktop">
																	<a>
                                                                            Total Assets
                                                                        </a>
																</h3>
																<p>
																	<div id="chart_conatiner">
																		<canvas id="Pie2" width="200" height="200" class="chartjs-render-monitor" style="display: block; width: 300px; height:300px;"></canvas>
																	</div>
																</p>
															</div>
														</td>
													</tr>
                           }

													<tr>
														<td>&nbsp;</td>
													</tr>
                            @if (Model.liabilities != "0" || Model.non_current_liabilities != "0")
                            {

													<tr class="search-tr ein-232822856" data-ein="232822856">
														<td class="highlight-matches">
															<div class="padding">
																<h3 class="charity-name-desktop">
																	<a>
                                                                                    Total Liabilities
                                                                                </a>
																</h3>
																<p>
																	<div id="chart_conatiner">
																		<canvas id="Pie3" width="200" height="200" class="chartjs-render-monitor" style="display: block; width: 300px; height:300px;"></canvas>
																	</div>
																</p>
															</div>
														</td>
													</tr>
                            }

												</tbody>
											</table>
										</div>
									</div>
								</div>
    </div>
    </br></br>
</div>
<div class="clear"></div>
<script>

    var PieChartData =
        {
            labels: ['Full-time', 'Part-time', 'Casual', 'Volunteer'],
            datasets: [{
                label: 'Type of Staff',
                backgroundColor: [
                    "#5DA5DA",
                    "#5DA5DA",
                    "#5DA5DA",
                    "#5DA5DA"

                ],
                borderWidth: 2,
                data: [@Model.Staff_Full_time, @Model.Staff_part_time, @Model.staff_casual, @Model.Staff_volunteer],
            }]
        };
    var PieChartAssetData =
        {
            labels: ['Long term asset', 'Current asset'],
            datasets: [{
                label: 'Type of Staff',
                backgroundColor: [
                    "#FF6384",
                    "#5DA5DA"


                ],
                borderWidth: 2,
                data: [@Model.non_current_assets, @Model.current_assets],
            }]
        };
    var PieChartLiabilitiesData =
        {
            labels: ['Long term liabilities', 'Current liabilities'],
            datasets: [{
                label: 'Type of Staff',
                backgroundColor: [
                    "#FF6384",
                    "#5DA5DA"


                ],
                borderWidth: 2,
                data: [@Model.non_current_liabilities, @Model.liabilities],
            }]
        };

    window.onload = function () {
        var ctx1 = document.getElementById("Pie1").getContext("2d");
        window.myBar = new Chart(ctx1,
            {
                type: 'bar',
                data: PieChartData,
                options:
                {
                    title:
                    {
                        display: true,
                        text: "Type of Staff"
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        var ctx2 = document.getElementById("Pie2").getContext("2d");
        window.myBar = new Chart(ctx2,
            {
                type: 'pie',
                data: PieChartAssetData,
                options:
                {
                    title:
                    {
                        display: true,
                        text: "Assets"
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        var ctx3 = document.getElementById("Pie3").getContext("2d");
        window.myBar = new Chart(ctx3,
            {
                type: 'pie',
                data: PieChartLiabilitiesData,
                options:
                {
                    title:
                    {
                        display: true,
                        text: "Liabilities"
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
    }
</script>
